Repository mx2913/funkwhale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: black, flake8, eslint, test_api, test_front

Path conditions:
  black: any of: api/**/*
  flake8: any of: api/**/*
  eslint: any of: front/**/*
  test_api: any of: api/**/*
  test_front: any of: front/**/*

Limit shown description lines in cards listing to 13
  changes/changelog.d/1556.bugfix
  front/src/style/components/_card.scss
Due: eslint, test_front

Rename report and request props
  front/src/components/manage/moderation/ReportCard.vue
  front/src/components/manage/moderation/UserRequestCard.vue
  front/src/views/admin/moderation/ReportDetail.vue
  front/src/views/admin/moderation/ReportsList.vue
  front/src/views/admin/moderation/RequestDetail.vue
  front/src/views/admin/moderation/RequestsList.vue
Due: eslint, test_front

Generate swagger automatically
  .gitlab-ci.yml
  api/config/settings/local.py
  api/requirements/local.txt
  docs/build_swagger.sh
Due: black, flake8, test_api

Fix computed properties already defined warning
  front/src/components/manage/ChannelsTable.vue
  front/src/components/manage/library/AlbumsTable.vue
  front/src/components/manage/library/ArtistsTable.vue
  front/src/components/manage/library/EditsCardList.vue
  front/src/components/manage/library/LibrariesTable.vue
  front/src/components/manage/library/TagsTable.vue
  front/src/components/manage/library/TracksTable.vue
  front/src/components/manage/library/UploadsTable.vue
  front/src/components/manage/moderation/AccountsTable.vue
  front/src/components/manage/moderation/DomainsTable.vue
  front/src/components/manage/users/InvitationsTable.vue
  front/src/components/manage/users/UsersTable.vue
  front/src/store/ui.js
  front/src/views/admin/moderation/ReportsList.vue
Due: eslint, test_front

Fix properties wrong type
  front/src/components/library/EditCard.vue
  front/src/components/manage/moderation/NoteForm.vue
  front/src/components/manage/moderation/NotesThread.vue
  front/src/components/moderation/ReportCategoryDropdown.vue
Due: eslint, test_front

Changelog
  changes/changelog.d/1649.bugfix
Due: none

Fix upload variable wrong check
  front/src/components/library/ImportStatusModal.vue
  front/src/views/admin/library/UploadDetail.vue
  front/src/views/content/libraries/FilesTable.vue
Due: eslint, test_front

Add API Readme for swagger
  api/Readme.md
Due: black, flake8, test_api

Add some metadata to swagger
  api/config/settings/local.py
Due: black, flake8, test_api

WIP! Get oauth in swagger working
  api/config/settings/local.py
Due: black, flake8, test_api

Bump drf-spectacular version to 0.21.1
  api/requirements/local.txt
Due: black, flake8, test_api

Introduce Pipenv and provide tools to run tests outside of docker locally
  api/Pipfile
  api/Pipfile.lock
  api/requirements/base.txt
Due: black, flake8, test_api

Remove old requirement files
  api/requirements.txt
  api/requirements/base.txt
  api/requirements/local.txt
  api/requirements/test.txt
Due: black, flake8, test_api

Fix not working podcast subscription form
  front/src/views/channels/SubscriptionsList.vue
Due: eslint, test_front

Convert dependency management to poetry
  api/poetry.lock
  api/pyproject.toml
  api/requirements.txt
  api/requirements/base.txt
  api/requirements/local.txt
  api/requirements/test.txt
Due: black, flake8, test_api

Add comments for better understanding
  api/Dockerfile
Due: black, flake8, test_api

Build docker image with poetry managed dependencies
  api/Dockerfile
Due: black, flake8, test_api

Install dependencies for tests using poetry
  .gitlab-ci.yml
Due: none

Run pytest inside poetry venv
  .gitlab-ci.yml
Due: none

Add first user documentation
  docs/index.md
  docs/index.rst
  docs/user_documentation/accounts/create_account.md
  docs/user_documentation/accounts/delete_account.md
  docs/user_documentation/accounts/index.md
  docs/user_documentation/libraries/create_library.md
  docs/user_documentation/libraries/index.md
  docs/user_documentation/libraries/upload_content.md
Due: none

Update documentation to reflect switch to poetry
  docs/admin/upgrading.rst
  docs/installation/debian.rst
Due: none

Add edit library instructions
  docs/user_documentation/libraries/edit_library.md
  docs/user_documentation/libraries/index.md
Due: none

Update language
  docs/installation/debian.rst
Due: none

Fix incorrect backtick.
  docs/installation/debian.rst
Due: none

Add all library documentation
  docs/user_documentation/libraries/delete_content.md
  docs/user_documentation/libraries/delete_library.md
  docs/user_documentation/libraries/index.md
Due: none

Add sharing and following libraries
  docs/index.md
  docs/user_documentation/accounts/delete_account.md
  docs/user_documentation/libraries/follow_library.md
  docs/user_documentation/libraries/index.md
  docs/user_documentation/libraries/share_library.md
Due: none

Account and subsonic documents
  docs/index.md
  docs/user_documentation/accounts/add_avatar.md
  docs/user_documentation/accounts/change_email.md
  docs/user_documentation/accounts/change_password.md
  docs/user_documentation/accounts/create_account.md
  docs/user_documentation/accounts/delete_account.md
  docs/user_documentation/accounts/delete_avatar.md
  docs/user_documentation/accounts/index.md
  docs/user_documentation/plugins/index.md
  docs/user_documentation/subsonic/disable_subsonic.md
  docs/user_documentation/subsonic/index.md
  docs/user_documentation/subsonic/reset_subsonic.md
  docs/user_documentation/subsonic/subsonic_password.md
Due: none

Add plugin documentation.
  docs/index.md
  docs/user_documentation/accounts/delete_avatar.md
  docs/user_documentation/plugins/index.md
  docs/user_documentation/plugins/listenbrainz_plugin.md
  docs/user_documentation/plugins/maloja_plugin.md
  docs/user_documentation/plugins/scrobbler_plugin.md
Due: none

Improve readability using Sphinx roles
  docs/user_documentation/accounts/add_avatar.md
  docs/user_documentation/accounts/change_email.md
  docs/user_documentation/accounts/change_password.md
  docs/user_documentation/accounts/create_account.md
  docs/user_documentation/accounts/delete_account.md
  docs/user_documentation/accounts/delete_avatar.md
  docs/user_documentation/libraries/create_library.md
  docs/user_documentation/libraries/delete_content.md
  docs/user_documentation/libraries/delete_library.md
  docs/user_documentation/libraries/edit_library.md
  docs/user_documentation/libraries/follow_library.md
  docs/user_documentation/libraries/share_library.md
  docs/user_documentation/libraries/upload_content.md
  docs/user_documentation/plugins/listenbrainz_plugin.md
  docs/user_documentation/plugins/maloja_plugin.md
  docs/user_documentation/plugins/scrobbler_plugin.md
  docs/user_documentation/subsonic/disable_subsonic.md
  docs/user_documentation/subsonic/reset_subsonic.md
  docs/user_documentation/subsonic/subsonic_password.md
Due: none

Add some channel documentation, start glossary
  docs/glossary.md
  docs/index.md
  docs/user_documentation/channels/create_channel.md
  docs/user_documentation/channels/delete_channel.md
  docs/user_documentation/channels/index.md
  docs/user_documentation/libraries/create_library.md
  docs/user_documentation/libraries/delete_content.md
  docs/user_documentation/libraries/upload_content.md
  docs/user_documentation/plugins/listenbrainz_plugin.md
  docs/user_documentation/plugins/maloja_plugin.md
  docs/user_documentation/plugins/scrobbler_plugin.md
Due: none

Add tagging instructions
  docs/index.md
  docs/user_documentation/accounts/add_avatar.md
  docs/user_documentation/accounts/index.md
  docs/user_documentation/channels/edit_channel.md
  docs/user_documentation/channels/index.md
  docs/user_documentation/libraries/index.md
  docs/user_documentation/libraries/tagging_music.md
Due: none

Add more channel docs
  docs/user_documentation/channels/delete_artist.md
  docs/user_documentation/channels/delete_podcast.md
  docs/user_documentation/channels/index.md
  docs/user_documentation/channels/upload_artist.md
  docs/user_documentation/channels/upload_podcast.md
  docs/user_documentation/libraries/delete_content.md
  docs/user_documentation/libraries/delete_library.md
  docs/user_documentation/libraries/edit_library.md
  docs/user_documentation/libraries/upload_content.md
Due: none

Update library and user settings documentation
  docs/user_documentation/accounts/activity_visibility.md
  docs/user_documentation/accounts/index.md
  docs/user_documentation/channels/create_channel.md
  docs/user_documentation/libraries/edit_content.md
  docs/user_documentation/libraries/index.md
Due: none

Add playlist docs. Add support for panels.
  docs/Dockerfile
  docs/conf.py
  docs/user_documentation/accounts/activity_visibility.md
  docs/user_documentation/accounts/add_avatar.md
  docs/user_documentation/accounts/change_email.md
  docs/user_documentation/accounts/change_password.md
  docs/user_documentation/accounts/check_quota.md
  docs/user_documentation/accounts/create_account.md
  docs/user_documentation/accounts/delete_account.md
  docs/user_documentation/accounts/index.md
  docs/user_documentation/channels/create_channel.md
  docs/user_documentation/channels/delete_artist.md
  docs/user_documentation/channels/delete_channel.md
  docs/user_documentation/channels/delete_podcast.md
  docs/user_documentation/channels/edit_channel.md
  docs/user_documentation/channels/upload_artist.md
  docs/user_documentation/channels/upload_podcast.md
  docs/user_documentation/libraries/create_library.md
  docs/user_documentation/libraries/delete_content.md
  docs/user_documentation/libraries/delete_library.md
  docs/user_documentation/libraries/edit_content.md
  docs/user_documentation/libraries/edit_library.md
  docs/user_documentation/libraries/follow_library.md
  docs/user_documentation/libraries/index.md
  docs/user_documentation/libraries/share_library.md
  docs/user_documentation/libraries/tag_music.md
  docs/user_documentation/libraries/tagging_music.md
  docs/user_documentation/libraries/upload_content.md
  docs/user_documentation/playlists/add_content.md
  docs/user_documentation/playlists/create_playlist.md
  docs/user_documentation/playlists/delete_playlist.md
  docs/user_documentation/playlists/edit_playlist.md
  docs/user_documentation/playlists/index.md
  docs/user_documentation/playlists/remove_content.md
  docs/user_documentation/playlists/reorder_content.md
  docs/user_documentation/plugins/listenbrainz_plugin.md
  docs/user_documentation/plugins/maloja_plugin.md
  docs/user_documentation/plugins/scrobbler_plugin.md
Due: none

Add missing word
  docs/user_documentation/accounts/delete_account.md
Due: none

Add favorites documentation
  docs/user_documentation/favorites/add_favorites.md
  docs/user_documentation/favorites/index.md
  docs/user_documentation/favorites/remove_favorites.md
Due: none

Add separation for separate mobile instructions
  docs/user_documentation/accounts/activity_visibility.md
  docs/user_documentation/accounts/add_avatar.md
  docs/user_documentation/accounts/change_email.md
  docs/user_documentation/accounts/change_password.md
  docs/user_documentation/accounts/check_quota.md
  docs/user_documentation/accounts/delete_account.md
  docs/user_documentation/accounts/delete_avatar.md
  docs/user_documentation/channels/create_channel.md
  docs/user_documentation/channels/delete_artist.md
  docs/user_documentation/channels/delete_channel.md
  docs/user_documentation/channels/delete_podcast.md
  docs/user_documentation/channels/edit_channel.md
  docs/user_documentation/channels/upload_artist.md
  docs/user_documentation/channels/upload_podcast.md
  docs/user_documentation/favorites/add_favorites.md
  docs/user_documentation/favorites/remove_favorites.md
  docs/user_documentation/libraries/create_library.md
  docs/user_documentation/libraries/delete_content.md
  docs/user_documentation/libraries/delete_library.md
  docs/user_documentation/libraries/edit_content.md
  docs/user_documentation/libraries/edit_library.md
  docs/user_documentation/libraries/follow_library.md
  docs/user_documentation/libraries/share_library.md
  docs/user_documentation/libraries/upload_content.md
  docs/user_documentation/playlists/add_content.md
  docs/user_documentation/playlists/create_playlist.md
  docs/user_documentation/playlists/delete_playlist.md
  docs/user_documentation/playlists/edit_playlist.md
  docs/user_documentation/playlists/remove_content.md
  docs/user_documentation/playlists/reorder_content.md
  docs/user_documentation/plugins/listenbrainz_plugin.md
  docs/user_documentation/plugins/maloja_plugin.md
  docs/user_documentation/plugins/scrobbler_plugin.md
  docs/user_documentation/subsonic/disable_subsonic.md
  docs/user_documentation/subsonic/reset_subsonic.md
  docs/user_documentation/subsonic/subsonic_password.md
Due: none
