Repository mx2913/funkwhale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: review_docs, lint_api, lint_front, test_scripts, test_api, test_front, build_api_schema, build_docs, build_front, build_api

Path conditions:
  review_docs: any of: docs/**/*
  lint_api: any of: api/**/*
  lint_front: any of: front/**/*
  test_scripts: any of: scripts/**/*
  test_api: any of: api/**/*
  test_front: any of: front/**/*
  build_api_schema: (any of: api/**/*) or (any of: docs/**/*)
  build_docs: any of: docs/**/*
  build_front: any of: front/**/*
  build_api: any of: api/**/*

Translated using Weblate (German)
  front/src/locales/de.json
Due: lint_front, test_front, build_front

Translated using Weblate (English (United Kingdom))
  front/src/locales/en_GB.json
Due: lint_front, test_front, build_front

Translated using Weblate (French)
  front/src/locales/fr_FR.json
Due: lint_front, test_front, build_front

Translated using Weblate (Italian)
  front/src/locales/it.json
Due: lint_front, test_front, build_front

Translated using Weblate (Basque)
  front/src/locales/eu.json
Due: lint_front, test_front, build_front

Use glossary and clarify deletion process
  docs/glossary.md
  docs/specs/user-deletion/index.md
Due: review_docs, build_api_schema, build_docs

Add changelog for user deletion spec
  changes/changelog.d/user-deletion.doc
Due: none

feat(docs): Add initial user deletion spec
  docs/index.md
  docs/specs/user-deletion/index.md
Due: review_docs, build_api_schema, build_docs

fix(docs): update heading and lexer
  docs/specs/user-deletion/index.md
Due: review_docs, build_api_schema, build_docs

Update formatting for Sphinx
  docs/index.md
  docs/specs/activitypub-overview/index.md
Due: review_docs, build_api_schema, build_docs

Add changelog fragment
  changes/changelog.d/ap-overview.doc
Due: none

Add users concept overview
  docs/concepts/user/index.md
  docs/index.md
Due: review_docs, build_api_schema, build_docs

Add initial schema files
  docs/specs/schema.yml
  docs/specs/users/schema.yml
Due: review_docs, build_api_schema, build_docs

chore: Use make install everywhere instead of poetry install
  .gitlab-ci.yml
  .gitpod.yml
  api/Makefile
Due: lint_api, test_api, build_api_schema, build_api

fix(docs): use callout
  docs/specs/upload-process/index.md
Due: review_docs, build_api_schema, build_docs

Update behavior spec
  docs/specs/upload-process/index.md
Due: review_docs, build_api_schema, build_docs

feat(docs): Add new upload process spec
  changes/changelog.d/upload-process.doc
  docs/index.md
  docs/specs/upload-process/index.md
Due: review_docs, build_api_schema, build_docs

chore(renovate): Prioritize major over minor over patch updates in develop
  .gitlab/renovate.json
Due: none

chore(api): update dependency ipython to v8
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

ci: Run tests against python 3.12
  .gitlab-ci.yml
Due: none

feat(api): Add support for Python 3.12
  api/poetry.lock
  api/pyproject.toml
  changes/changelog.d/python312.feature
Due: lint_api, test_api, build_api_schema, build_api

chore(api): Update Pillow to version 10.1.0
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

chore(api): Update aiohttp to 3.9.1
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

chore(api): Update kombu to 5.3.4 and celery to 5.3.6
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

fix(docs): Fix build script for documentation to properly deploy swagger
  changes/changelog.d/swagger.bugfix
  docs/Makefile
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (Galician)
  front/src/locales/gl.json
Due: lint_front, test_front, build_front

Translated using Weblate (Russian)
  front/src/locales/ru.json
Due: lint_front, test_front, build_front

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/administrator/installation/docker.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/administrator/migration.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/administrator/upgrade/index.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/administrator/installation/index.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/user/subsonic/index.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/user/libraries/index.po
Due: review_docs, build_api_schema, build_docs

resolve test
  api/funkwhale_api/music/management/commands/create_playlist_from_folder_structure.py
  api/tests/music/test_commands.py
Due: lint_api, test_api, build_api_schema, build_api
