Repository mx2913/funkwhale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: review_docs, lint_api, lint_front, test_api, build_api_schema, build_docs, build_front, build_api

Path conditions:
  review_docs: any of: docs/**/*
  lint_api: any of: api/**/*
  lint_front: any of: front/**/*
  test_api: any of: api/**/*
  build_api_schema: (any of: api/**/*) or (any of: docs/**/*)
  build_docs: any of: docs/**/*
  build_front: any of: front/**/*
  build_api: any of: api/**/*

Translated using Weblate (Czech)
  front/src/locales/cs.json
Due: lint_front, build_front

ci: fix duplicate pipelines
  .gitlab-ci.yml
Due: none

chore(api): update dependency black to v23
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

Fix(docs): updates vite documentation
  docs/developer/setup/vite.md
Due: review_docs, build_api_schema, build_docs

Fix(docs): removes obsolete step
  docs/developer/setup/docker.md
Due: review_docs, build_api_schema, build_docs

chore(api): update dependency pytest-asyncio to v0.21.0
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

chore(api): update dependency boto3 to v1.26.108
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

fix(docs): linting
  docs/developer/setup/docker.md
Due: review_docs, build_api_schema, build_docs

chore(front): update nginx docker tag to v1.23.4
  front/Dockerfile
Due: lint_front, build_front

chore(api): update dependency django-environ to v0.10.0
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

chore(api): update dependency drf-spectacular to v0.26.1
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

refactor: use global IS_DOCKER_SETUP setting
  api/config/settings/common.py
Due: lint_api, test_api, build_api_schema, build_api

fix(api): move docker cache settings to django settings
  api/Dockerfile
  api/config/settings/common.py
  changes/changelog.d/docker-api-cache-env-variables.bugfix
Due: lint_api, test_api, build_api_schema, build_api

chore(api): update dependency redis to v4.5.4
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

chore(api): update dependency channels-redis to v4.1.0
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

ci: fix merge request only workflow
  .gitlab-ci.yml
Due: none

ci: speed up postgres when testing api
  .gitlab-ci.yml
Due: none

refactor(api): rename CACHE_DEFAULT to CACHE_URL_DEFAULT
  api/config/settings/common.py
Due: lint_api, test_api, build_api_schema, build_api

fix(api): prefer str over dict for the CACHE_URL setting
  api/config/settings/common.py
  changes/changelog.d/2118.bugfix
Due: lint_api, test_api, build_api_schema, build_api

style: Remove unneeded nesting
  front/src/components/audio/PlayButton.vue
Due: lint_front, build_front

fix: Make sure tzdata is available in docker container
  api/Dockerfile
Due: lint_api, test_api, build_api_schema, build_api

Add Nginx update instructions to Debian guide
  changes/changelog.d/2050.doc
  docs/administrator/upgrade/debian.md
Due: review_docs, build_api_schema, build_docs

Fix pre-commit
  docs/administrator/upgrade/debian.md
Due: review_docs, build_api_schema, build_docs

Add copy button to code blocks
  docs/Dockerfile
  docs/conf.py
  docs/poetry.lock
  docs/pyproject.toml
Due: review_docs, build_api_schema, build_docs

Reuse content across files
  docs/administrator/installation/debian.md
  docs/administrator/upgrade/debian.md
Due: review_docs, build_api_schema, build_docs

Add Docker instructions
  docs/administrator/installation/docker.md
  docs/administrator/upgrade/docker.md
Due: review_docs, build_api_schema, build_docs

Make pre-commit happy
  docs/administrator/installation/debian.md
  docs/administrator/installation/docker.md
  docs/conf.py
Due: review_docs, build_api_schema, build_docs
