Repository mx2913/funkwhale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: review_docs, lint_api, lint_front, test_scripts, test_api, test_front, build_api_schema, build_docs, build_front, build_api

review_docs:
  allow_failure: true
  stage: review
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-docs:3.11
  environment:
    name: review/docs/$CI_COMMIT_REF_NAME
    url: http://$CI_PROJECT_NAMESPACE.pages.funkwhale.audio/-/$CI_PROJECT_NAME/-/jobs/$CI_JOB_ID/artifacts/docs-review/index.html
  cache:
  ...

lint_api:
  allow_failure: true
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  before_script:
  - cd api
  - make install
  script:
  - make lint

lint_front:
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
      files:
      - front/yarn.lock
    paths:
    - front/node_modules
  - key:
      prefix: front-lint
      files:
      - front/.eslintcache
  ...

test_scripts:
  stage: test
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python:3.11
  cache:
  - key: scripts-pip
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: scripts-venv
      files:
      - scripts/poetry.lock
    paths:
    - scripts/.venv
  before_script:
  - cd scripts
  - make install
  script:
  - make test

test_api:
  retry: 1
  stage: test
  needs:
  - job: lint_api
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:$PYTHON_VERSION
  parallel:
    matrix:
    - PYTHON_VERSION:
      - '3.8'
      - '3.9'
      - '3.10'
      - '3.11'
  services:
  - name: postgres:15-alpine
    command:
    - --fsync=off
    - --full_page_writes=off
  ...

test_front:
  stage: test
  needs:
  - job: lint_front
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
      files:
      - front/yarn.lock
    paths:
    - front/node_modules
  - key:
      prefix: front-lint
      files:
  ...

build_api_schema:
  stage: build
  needs:
  - job: test_api
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  services:
  - postgres:15-alpine
  - redis:7-alpine
  cache:
  - key: api-pip-$PYTHON_VERSION
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: api-venv-$PYTHON_VERSION
      files:
  ...

build_docs:
  stage: build
  needs:
  - job: build_api_schema
    artifacts: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-docs:3.11
  cache:
  - key: docs-pip
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: docs-venv
      files:
      - docs/poetry.lock
    paths:
    - docs/.venv
  before_script:
  - cd docs
  - make install
  ...

build_front:
  stage: build
  needs:
  - job: lint_front
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  variables:
    GIT_STRATEGY: clone
    GIT_DEPTH: '5'
    FF_DISABLE_UMASK_FOR_DOCKER_EXECUTOR: 'true'
    NODE_OPTIONS: --max-old-space-size=4096
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  ...

chore(gitpod): Update workspace image to 2023-10-25-20-43-33
  .gitpod/Dockerfile
Due: none

chore(docs): pin dependency sphinx-autobuild to 2021.3.14
  docs/poetry.lock
  docs/pyproject.toml
Due: review_docs, build_api_schema, build_docs

chore: Add changelog snippet
  changes/changelog.d/ui-lib.feature
Due: none

feat(front): Add support for Funkwhale UI library
  front/package.json
  front/src/style/_main.scss
  front/yarn.lock
Due: lint_front, test_front, build_front

fix(front): move library further up CSS imports
  front/src/style/_main.scss
Due: lint_front, test_front, build_front

remove network internal from typesense docker compose file
  deploy/docker-compose.yml
Due: none

feat(front): add fw button to signup form
  front/src/components/auth/SignupForm.vue
Due: lint_front, test_front, build_front

feat(front): add fw button to empty state
  front/src/components/common/EmptyState.vue
Due: lint_front, test_front, build_front

fix(front): update styles to support fw UI
  front/src/composables/useTheme.ts
  front/src/style/globals/_app.scss
Due: lint_front, test_front, build_front

feat(front): add widget buttons
  front/src/components/audio/album/Widget.vue
  front/src/components/audio/artist/Widget.vue
  front/src/components/audio/track/Widget.vue
  front/src/components/playlists/Widget.vue
Due: lint_front, test_front, build_front

feat(front): add fw button to playlist overview
  front/src/views/playlists/List.vue
Due: lint_front, test_front, build_front

fix(front): make all buttons clickable
  front/src/style/globals/_app.scss
Due: lint_front, test_front, build_front

fix(front): remove unnecessary icons
  front/src/components/About.vue
  front/src/components/AboutPod.vue
Due: lint_front, test_front, build_front

feat(front): add fw button to content view
  front/src/views/content/Home.vue
Due: lint_front, test_front, build_front

feat(front): Add FW button to channelswidget
  front/src/components/audio/ChannelsWidget.vue
Due: lint_front, test_front, build_front

feat(front): add fw button to domains list
  front/src/views/admin/moderation/DomainsList.vue
Due: lint_front, test_front, build_front

feat(front): add fw button to shortcuts modal
  front/src/components/ShortcutsModal.vue
Due: lint_front, test_front, build_front

feat(front): add fw buttons to radio pages
  front/src/components/library/Radios.vue
  front/src/components/radios/Button.vue
  front/src/components/radios/Card.vue
Due: lint_front, test_front, build_front

feat(front): Update instance switcher buttons
  front/src/components/SetInstanceModal.vue
Due: lint_front, test_front, build_front

feat(front): add fw-buttons to playlist modal
  front/src/components/playlists/Form.vue
  front/src/components/playlists/PlaylistModal.vue
Due: lint_front, test_front, build_front

feat(front): add login form buttons
  front/src/components/auth/LoginForm.vue
  front/src/components/auth/Logout.vue
Due: lint_front, test_front, build_front

feat(front): Add UI buttons to about pages
  front/src/components/About.vue
  front/src/components/AboutPod.vue
Due: lint_front, test_front, build_front

feat(front): Add fw buttons to settings page
  front/src/components/admin/SettingsGroup.vue
Due: lint_front, test_front, build_front

fix(front): fix missing keys
  front/src/components/playlists/PlaylistModal.vue
  front/src/components/radios/Card.vue
Due: lint_front, test_front, build_front

Add changelog snippet
  changes/changelog.d/fw-buttons.feature
Due: none

chore(front): lock file maintenance
  front/yarn.lock
Due: lint_front, test_front, build_front

ci(cypress): Switch to cypress/included image in order to have the binary
  .gitlab-ci.yml
Due: none

chore(api): lock file maintenance
  api/poetry.lock
Due: lint_api, test_api, build_api_schema, build_api

chore(docs): lock file maintenance
  docs/poetry.lock
Due: review_docs, build_api_schema, build_docs

chore(api): update dependency prompt-toolkit to v3.0.41
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

feat(docs): add initial AP overview documentation
  changes/changelog.d/activitypub-overview.doc
  docs/developer/ap-overview.md
  docs/index.md
Due: review_docs, build_api_schema, build_docs

feat(docs): add usage statistics to nodeinfo specs
  changes/changelog.d/nodeinfo-usage.doc
  docs/specs/nodeinfo21/index.md
  docs/specs/nodeinfo21/schema.yml
Due: review_docs, build_api_schema, build_docs

Move information to metadata, reformat genres
  docs/specs/nodeinfo21/index.md
  docs/specs/nodeinfo21/schema.yml
Due: review_docs, build_api_schema, build_docs

fix(docs): Add nullable fields to Nodeinfo schema
  docs/specs/nodeinfo21/schema.yml
Due: review_docs, build_api_schema, build_docs

fix(docs): Clarify metadata object
  docs/specs/nodeinfo21/index.md
Due: review_docs, build_api_schema, build_docs

feat(docs): Add initial user deletion spec
  docs/index.md
  docs/specs/user-deletion/index.md
Due: review_docs, build_api_schema, build_docs

Path conditions:
  review_docs: any of: docs/**/*
  lint_api: any of: api/**/*
  lint_front: any of: front/**/*
  test_scripts: any of: scripts/**/*
  test_api: any of: api/**/*
  test_front: any of: front/**/*
  build_api_schema: (any of: api/**/*) or (any of: docs/**/*)
  build_docs: any of: docs/**/*
  build_front: any of: front/**/*
  build_api: any of: api/**/*
