Repository mx2913/funkwhale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: review_docs, lint_api, lint_front, test_api, build_api_schema, build_docs, build_front, build_api

review_docs:
  allow_failure: true
  stage: review
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  variables:
    BUILD_PATH: ../docs-review
  environment:
    name: review/docs/$CI_COMMIT_REF_NAME
  ...

lint_api:
  allow_failure: true
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  before_script:
  - cd api
  - make install
  script:
  - make lint

lint_front:
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
      files:
      - front/yarn.lock
    paths:
    - front/node_modules
  before_script:
  - cd front
  - yarn install --frozen-lockfile
  script:
  ...

test_api:
  retry: 1
  stage: test
  needs:
  - job: lint_api
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:$PYTHON_VERSION
  parallel:
    matrix:
    - PYTHON_VERSION:
      - '3.8'
      - '3.9'
      - '3.10'
      - '3.11'
  services:
  - postgres:15-alpine
  - redis:7-alpine
  cache:
  - key: api-pip-$PYTHON_VERSION
    paths:
  ...

build_api_schema:
  stage: build
  needs:
  - job: test_api
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  services:
  - postgres:15-alpine
  - redis:7-alpine
  cache:
  - key: api-pip-$PYTHON_VERSION
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: api-venv-$PYTHON_VERSION
      files:
  ...

build_docs:
  stage: build
  needs:
  - job: build_api_schema
    artifacts: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  variables:
    BUILD_PATH: ../public
    GIT_STRATEGY: clone
    GIT_DEPTH: 0
  cache:
  - key: docs-pip
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: docs-venv
      files:
  ...

build_front:
  stage: build
  needs:
  - job: lint_front
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  variables:
    GIT_STRATEGY: clone
    GIT_DEPTH: '5'
    FF_DISABLE_UMASK_FOR_DOCKER_EXECUTOR: 'true'
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
  ...

build_api:
  stage: build
  needs:
  - job: test_api
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/python:3.11
  variables:
    GIT_STRATEGY: clone
    GIT_DEPTH: '5'
    FF_DISABLE_UMASK_FOR_DOCKER_EXECUTOR: 'true'
  script:
  - rm -rf api/tests
  ...

fix(podcasts): make pagination reactive
  front/src/components/audio/ChannelEntries.vue
  front/src/components/audio/podcast/Table.vue
Due: lint_front, build_front

lint: fix linting
  front/src/components/audio/ChannelEntries.vue
  front/src/components/audio/podcast/Row.vue
  front/src/components/audio/podcast/Table.vue
  front/src/composables/useLogger.ts
  front/src/composables/useMarkdown.ts
  front/test/specs/composables/useMarkdown.test.ts
Due: lint_front, build_front

feat(front): add vue macros
  front/package.json
  front/tsconfig.json
  front/vite.config.ts
  front/yarn.lock
Due: lint_front, build_front

chore: add changelog snippets
  changes/changelog.d/2205.bugfix
  changes/changelog.d/2206.bugfix
Due: none

fix(podcasts): fix short description (#2206)
  front/src/components/audio/podcast/Row.vue
Due: lint_front, build_front

fix(useMarkdown): fix parsing multiple links
  front/src/composables/useMarkdown.ts
  front/test/specs/composables/useMarkdown.test.ts
Due: lint_front, build_front

fix(logger): don't color when running tests
  front/src/composables/useLogger.ts
Due: lint_front, build_front

feat(nginx): Use builtin envsubst mechanics of nginx container
  changes/changelog.d/1939.bugfix
  dev.yml
  docker/nginx/conf.dev
  docker/nginx/entrypoint.sh
Due: none

failing test for #2199
  api/tests/federation/test_tasks.py
Due: lint_api, test_api, build_api_schema, build_api

fix #2199
  api/funkwhale_api/federation/tasks.py
  changes/changelog.d/2199.bugfix
Due: lint_api, test_api, build_api_schema, build_api

Fix docker build NOCHANGELOG
  api/Dockerfile
  api/poetry.lock
Due: lint_api, test_api, build_api_schema, build_api

chore(front): update dependency dompurify to v2.4.7
  front/package.json
  front/yarn.lock
Due: lint_front, build_front

ci(cypress): Cache cypress cache directory to make sure the binary is available
  .gitlab-ci.yml
Due: none

Added translation using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/user/libraries/follow.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/user/libraries/follow.po
Due: review_docs, build_api_schema, build_docs

chore(api): update dependency click to v8.1.7
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

chore(docs): lock file maintenance
  docs/poetry.lock
Due: review_docs, build_api_schema, build_docs

chore(api): lock file maintenance
  api/poetry.lock
Due: lint_api, test_api, build_api_schema, build_api

chore(front): lock file maintenance
  front/yarn.lock
Due: lint_front, build_front

chore(api): update dependency debugpy to v1.6.7.post1
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

feat(api): Add inplace_to_s3 management command
  api/funkwhale_api/common/management/commands/inplace_to_s3.py
  api/tests/common/test_commands.py
  changes/changelog.d/2156.feature
Due: lint_api, test_api, build_api_schema, build_api

test: Use the right assert to validate empty file field
  api/tests/common/test_commands.py
Due: lint_api, test_api, build_api_schema, build_api

style: Simplify code
  api/funkwhale_api/common/management/commands/inplace_to_s3.py
Due: lint_api, test_api, build_api_schema, build_api

WIP: Test if this fixes the multiarch docker builds
  api/Dockerfile
Due: lint_api, test_api, build_api_schema, build_api

chore(api): update dependency psycopg2 to v2.9.7
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

chore(front): update dependency standardized-audio-context to v25.3.55
  front/package.json
  front/yarn.lock
Due: lint_front, build_front

chore: update pre-commit hook pre-commit/mirrors-prettier to v3.0.2
  .pre-commit-config.yaml
Due: none

chore(front): update dependency vue3-lazyload to v0.3.8
  front/package.json
  front/yarn.lock
Due: lint_front, build_front

chore(api): update dependency aiohttp to v3.8.5
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

WIP: Test if this fixes the multiarch docker builds
  api/Dockerfile
  changes/changelog.d/multiarch.bugfix
Due: lint_api, test_api, build_api_schema, build_api

fix: Fetch nodeinfo endpoint address from .well-known/nodeinfo when checking instance availability
  api/funkwhale_api/federation/tasks.py
  api/tests/federation/test_tasks.py
  changes/changelog.d/2199-2.bugfix
Due: lint_api, test_api, build_api_schema, build_api

fix(api): Fix password reset via email
  api/config/settings/common.py
  api/funkwhale_api/users/serializers.py
  changes/changelog.d/2209.bugfix
Due: lint_api, test_api, build_api_schema, build_api

fix: Multiarch Docker build
  api/Dockerfile
  changes/changelog.d/multiarch.bugfix
Due: lint_api, test_api, build_api_schema, build_api

Path conditions:
  review_docs: any of: docs/**/*
  lint_api: any of: api/**/*
  lint_front: any of: front/**/*
  test_api: any of: api/**/*
  build_api_schema: (any of: api/**/*) or (any of: docs/**/*)
  build_docs: any of: docs/**/*
  build_front: any of: front/**/*
  build_api: any of: api/**/*
