Repository mx2913/funkwhale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: review_docs, lint_api, lint_front, test_scripts, test_api, test_front, build_api_schema, build_docs, build_front, build_api

review_docs:
  allow_failure: true
  stage: review
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-docs:3.11
  environment:
    name: review/docs/$CI_COMMIT_REF_NAME
    url: http://$CI_PROJECT_NAMESPACE.pages.funkwhale.audio/-/$CI_PROJECT_NAME/-/jobs/$CI_JOB_ID/artifacts/docs-review/index.html
  cache:
  ...

lint_api:
  allow_failure: true
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  before_script:
  - cd api
  - make install
  script:
  - make lint

lint_front:
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
      files:
      - front/yarn.lock
    paths:
    - front/node_modules
  - key:
      prefix: front-lint
      files:
      - front/.eslintcache
  ...

test_scripts:
  stage: test
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python:3.11
  cache:
  - key: scripts-pip
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: scripts-venv
      files:
      - scripts/poetry.lock
    paths:
    - scripts/.venv
  before_script:
  - cd scripts
  - make install
  script:
  - make test

test_api:
  retry: 1
  stage: test
  needs:
  - job: lint_api
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:$PYTHON_VERSION
  parallel:
    matrix:
    - PYTHON_VERSION:
      - '3.8'
      - '3.9'
      - '3.10'
      - '3.11'
  services:
  - name: postgres:15-alpine
    command:
    - --fsync=off
    - --full_page_writes=off
  ...

test_front:
  stage: test
  needs:
  - job: lint_front
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
      files:
      - front/yarn.lock
    paths:
    - front/node_modules
  - key:
      prefix: front-lint
      files:
  ...

build_api_schema:
  stage: build
  needs:
  - job: test_api
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  services:
  - postgres:15-alpine
  - redis:7-alpine
  cache:
  - key: api-pip-$PYTHON_VERSION
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: api-venv-$PYTHON_VERSION
      files:
  ...

build_docs:
  stage: build
  needs:
  - job: build_api_schema
    artifacts: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-docs:3.11
  cache:
  - key: docs-pip
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: docs-venv
      files:
      - docs/poetry.lock
    paths:
    - docs/.venv
  before_script:
  - cd docs
  - make install
  ...

build_front:
  stage: build
  needs:
  - job: lint_front
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  variables:
    GIT_STRATEGY: clone
    GIT_DEPTH: '5'
    FF_DISABLE_UMASK_FOR_DOCKER_EXECUTOR: 'true'
    NODE_OPTIONS: --max-old-space-size=4096
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  ...

fix(docs): update heading and lexer
  docs/specs/user-deletion/index.md
Due: review_docs, build_api_schema, build_docs

feat(docs): Add initial user deletion spec
  docs/index.md
  docs/specs/user-deletion/index.md
Due: review_docs, build_api_schema, build_docs

feat(docs): Add new upload process spec
  changes/changelog.d/upload-process.doc
  docs/index.md
  docs/specs/upload-process/index.md
Due: review_docs, build_api_schema, build_docs

fix(docs): use callout
  docs/specs/upload-process/index.md
Due: review_docs, build_api_schema, build_docs

Add changelog for user deletion spec
  changes/changelog.d/user-deletion.doc
Due: none

feat: add new sidebar template
  .gitlab-ci.yml
  front/package.json
  front/src/App.vue
  front/src/components/Sidebar.vue
  front/src/main.ts
  front/src/style/_global-vars.scss
  front/src/style/_main.scss
  front/src/style/globals/_layout.scss
  front/src/style/globals/_ui.scss
  front/vite.config.ts
  front/yarn.lock
Due: lint_front, test_front, build_front

feat(ui): add new sidebar template
  front/src/App.vue
  front/src/components/Sidebar.vue
  front/src/main.ts
  front/src/style/_global-vars.scss
  front/src/style/_main.scss
  front/src/style/globals/_layout.scss
  front/vite.config.ts
Due: lint_front, test_front, build_front

Version bump and changelog for 1.3.4
  CHANGELOG
  api/funkwhale_api/__init__.py
  changes/changelog.d/howler.bugfix
  changes/changelog.d/moderator-docs-redirect-loop.doc
Due: lint_api, test_api, build_api_schema, build_api

feat(docs): add usage statistics to nodeinfo specs
  changes/changelog.d/nodeinfo-usage.doc
  docs/specs/nodeinfo21/index.md
  docs/specs/nodeinfo21/schema.yml
Due: review_docs, build_api_schema, build_docs

Move information to metadata, reformat genres
  docs/specs/nodeinfo21/index.md
  docs/specs/nodeinfo21/schema.yml
Due: review_docs, build_api_schema, build_docs

fix(docs): Add nullable fields to Nodeinfo schema
  docs/specs/nodeinfo21/schema.yml
Due: review_docs, build_api_schema, build_docs

fix(docs): Clarify metadata object
  docs/specs/nodeinfo21/index.md
Due: review_docs, build_api_schema, build_docs

fix(docs): make linter happy
  docs/specs/user-follow/index.md
Due: review_docs, build_api_schema, build_docs

Fix chmod
  docs/administrator/upgrade/docker.md
Due: review_docs, build_api_schema, build_docs

fix chmod
  docs/administrator/upgrade/docker.md
Due: review_docs, build_api_schema, build_docs

Prettify
  docs/administrator/upgrade/docker.md
Due: review_docs, build_api_schema, build_docs

docs: update command for postgres migrate
  changes/changelog.d/develop-patch-96a1.bugfix
  docs/administrator/upgrade/docker.md
Due: review_docs, build_api_schema, build_docs

fix(docs): update Docker steps in backup guide
  docs/administrator/upgrade/backup.md
Due: review_docs, build_api_schema, build_docs

feat(docs): Add some initial structure to schema
  docs/specs/nodeinfo21/schema.yml
Due: review_docs, build_api_schema, build_docs

feat(docs): Split up schema file
  docs/schema.yml
  docs/specs/collections/schema.yml
  docs/specs/multi-artist/schema.yml
  docs/specs/nodeinfo21/schema.yml
  docs/specs/quality-filter/schema.yml
Due: review_docs, build_api_schema, build_docs

add a command to create playlist from folder structure
  api/funkwhale_api/music/management/commands/create_playlist_from_folder_structure.py
Due: lint_api, test_api, build_api_schema, build_api

changelog
  api/funkwhale_api/music/management/commands/create_playlist_from_folder_structure.py
  changes/changelog.d/2223.feature
Due: lint_api, test_api, build_api_schema, build_api

test
  api/tests/music/test_commands.py
Due: lint_api, test_api, build_api_schema, build_api

resolve review
  api/funkwhale_api/music/management/commands/create_playlist_from_folder_structure.py
Due: lint_api, test_api, build_api_schema, build_api

add help message
  api/funkwhale_api/music/management/commands/create_playlist_from_folder_structure.py
Due: lint_api, test_api, build_api_schema, build_api

add test data
  api/tests/music/test_directory_playlist/test.aiff
  api/tests/music/test_directory_playlist/test.mp3
Due: lint_api, test_api, build_api_schema, build_api

Update descriptions and ID fields
  docs/schema.yml
  docs/specs/collections/schema.yml
  docs/specs/multi-artist/schema.yml
Due: review_docs, build_api_schema, build_docs

feat(docs): archived the pre-1.0 changelog
  CHANGELOG
  changes/changelog.d/archive-changelog.doc
  docs/changelog.rst
  docs/changes/funkwhale-0-changelog.rst
  docs/index.md
Due: review_docs, build_api_schema, build_docs

fix(docs): fix rst formatting
  docs/changelog.rst
  docs/changes/funkwhale-0-changelog.rst
  docs/index.md
Due: review_docs, build_api_schema, build_docs

feat(docs): Add MBID-only setting documentation
  docs/administrator/configuration/instance-settings.md
Due: review_docs, build_api_schema, build_docs

Apply 1 suggestion(s) to 1 file(s)
  api/funkwhale_api/music/tasks.py
Due: lint_api, test_api, build_api_schema, build_api

feat(docs): add more collection schema updates
  docs/schema.yml
  docs/specs/collections/schema.yml
Due: review_docs, build_api_schema, build_docs

fix(docs): match ID type
  docs/specs/multi-artist/schema.yml
Due: review_docs, build_api_schema, build_docs

refactor(docs): remove duplicate artist objects
  docs/schema.yml
Due: review_docs, build_api_schema, build_docs

Add collections to Artist object
  docs/specs/multi-artist/schema.yml
Due: review_docs, build_api_schema, build_docs

Add collections to release object
  docs/schema.yml
Due: review_docs, build_api_schema, build_docs

Path conditions:
  review_docs: any of: docs/**/*
  lint_api: any of: api/**/*
  lint_front: any of: front/**/*
  test_scripts: any of: scripts/**/*
  test_api: any of: api/**/*
  test_front: any of: front/**/*
  build_api_schema: (any of: api/**/*) or (any of: docs/**/*)
  build_docs: any of: docs/**/*
  build_front: any of: front/**/*
  build_api: any of: api/**/*
