Repository mx2913/funkwhale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: review_docs, lint_api, lint_front, test_scripts, test_api, test_front, build_api_schema, build_docs, build_front, build_api

review_docs:
  allow_failure: true
  stage: review
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-docs:3.11
  environment:
    name: review/docs/$CI_COMMIT_REF_NAME
    url: http://$CI_PROJECT_NAMESPACE.pages.funkwhale.audio/-/$CI_PROJECT_NAME/-/jobs/$CI_JOB_ID/artifacts/docs-review/index.html
  cache:
  ...

lint_api:
  allow_failure: true
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  before_script:
  - cd api
  - make install
  script:
  - make lint

lint_front:
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
      files:
      - front/yarn.lock
    paths:
    - front/node_modules
  - key:
      prefix: front-lint
      files:
      - front/.eslintcache
  ...

test_scripts:
  stage: test
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python:3.11
  cache:
  - key: scripts-pip
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: scripts-venv
      files:
      - scripts/poetry.lock
    paths:
    - scripts/.venv
  before_script:
  - cd scripts
  - make install
  script:
  - make test

test_api:
  retry: 1
  stage: test
  needs:
  - job: lint_api
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:$PYTHON_VERSION
  parallel:
    matrix:
    - PYTHON_VERSION:
      - '3.8'
      - '3.9'
      - '3.10'
      - '3.11'
  services:
  - name: postgres:15-alpine
    command:
    - --fsync=off
    - --full_page_writes=off
  ...

test_front:
  stage: test
  needs:
  - job: lint_front
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
      files:
      - front/yarn.lock
    paths:
    - front/node_modules
  - key:
      prefix: front-lint
      files:
  ...

build_api_schema:
  stage: build
  needs:
  - job: test_api
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  services:
  - postgres:15-alpine
  - redis:7-alpine
  cache:
  - key: api-pip-$PYTHON_VERSION
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: api-venv-$PYTHON_VERSION
      files:
  ...

build_docs:
  stage: build
  needs:
  - job: build_api_schema
    artifacts: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-docs:3.11
  cache:
  - key: docs-pip
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: docs-venv
      files:
      - docs/poetry.lock
    paths:
    - docs/.venv
  before_script:
  - cd docs
  - make install
  ...

build_front:
  stage: build
  needs:
  - job: lint_front
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  variables:
    GIT_STRATEGY: clone
    GIT_DEPTH: '5'
    FF_DISABLE_UMASK_FOR_DOCKER_EXECUTOR: 'true'
    NODE_OPTIONS: --max-old-space-size=4096
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  ...

feat(tauri): offload OAuth login flow to a separate window
  front/src/components/auth/LoginForm.vue
  front/src/store/auth.ts
  front/tauri/Cargo.lock
  front/tauri/Cargo.toml
  front/tauri/capabilities/migrated.json
  front/tauri/capabilities/oauth.json
  front/tauri/rust-toolchain.toml
  front/tauri/src/main.rs
  front/tauri/tauri.conf.json
Due: lint_front, test_front, build_front

feat(appimage): bundle media framework
  front/tauri/tauri.conf.json
Due: lint_front, test_front, build_front

feat(tauri): add metadata to Cargo.toml
  front/tauri/Cargo.toml
Due: lint_front, test_front, build_front

ci: Upload Funkwhale Desktop AppImage into package registry
  .gitlab-ci.yml
  Makefile
Due: none

ci(tauri): Enable verbose logs
  .gitlab-ci.yml
Due: none

chore: Add frontend artifacts to gitignore
  .gitignore
Due: none

feat(nix): remove flake
  .envrc
  .gitignore
  flake.lock
  flake.nix
Due: none

feat(instance-chooser): add dark mode support
  front/src/assets/logo/logo-full-500-white.png
  front/src/components/auth/LoginForm.vue
  front/src/views/ChooseInstance.vue
Due: lint_front, test_front, build_front

style(tauri): format the code with rustfmt
  front/tauri/build.rs
  front/tauri/src/lib.rs
  front/tauri/src/main.rs
Due: lint_front, test_front, build_front

feat: update dependencies
  front/package.json
  front/src/components/auth/LoginForm.vue
  front/src/store/auth.ts
  front/tauri/Cargo.lock
  front/yarn.lock
Due: lint_front, test_front, build_front

fix: resolve rebase mistakes
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front

fix(tests): fix localhost test
  front/test/specs/store/instance.spec.ts
Due: lint_front, test_front, build_front

Added translation using Weblate (Bengali)
  front/src/locales/bn.json
Due: lint_front, test_front, build_front

Translated using Weblate (Bengali)
  front/src/locales/bn.json
Due: lint_front, test_front, build_front

chore: Replace deprecated smart_text with smart_str
  api/funkwhale_api/common/serializers.py
Due: lint_api, test_api, build_api_schema, build_api

chore: Use django.utils.translations.gettext_lazy instead of deprecated ugettext_lazy
  api/funkwhale_api/common/authentication.py
  api/funkwhale_api/common/serializers.py
  api/funkwhale_api/common/validators.py
  api/funkwhale_api/users/admin.py
  api/funkwhale_api/users/models.py
Due: lint_api, test_api, build_api_schema, build_api

chore: Replace deprecated django.contrib.postgres.forms.JSONField with django.forms.JSONField
  api/funkwhale_api/common/preferences.py
Due: lint_api, test_api, build_api_schema, build_api

test(api): Fix order of s3 backend initializartion
  api/tests/music/test_utils.py
Due: lint_api, test_api, build_api_schema, build_api

refactor(api): Make sure CSRF_TRUSTED_ORIGIN always has a protocol prefix
  api/config/settings/common.py
  api/config/settings/local.py
  api/config/settings/production.py
Due: lint_api, test_api, build_api_schema, build_api

chore(api): Update dependency django to v4
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

chore: Update django api
  api/funkwhale_api/common/models.py
Due: lint_api, test_api, build_api_schema, build_api

chore: Remove deprecated argument for signal
  api/funkwhale_api/common/signals.py
  api/funkwhale_api/moderation/signals.py
  api/funkwhale_api/music/signals.py
Due: lint_api, test_api, build_api_schema, build_api

fix(api): Replace deprecated is_ajax with manual check
  api/funkwhale_api/users/oauth/views.py
Due: lint_api, test_api, build_api_schema, build_api

chore: Add changelog snippet
  changes/changelog.d/django4.2.enhancement
Due: none

chore: Replace reprecated alias django.conf.urls.urls()
  api/config/routing.py
  api/config/urls/__init__.py
  api/config/urls/api.py
  api/config/urls/api_v2.py
  api/config/urls/subsonic.py
  api/funkwhale_api/federation/urls.py
  api/funkwhale_api/instance/urls.py
  api/funkwhale_api/instance/urls_v2.py
  api/funkwhale_api/manage/urls.py
  api/funkwhale_api/musicbrainz/urls.py
  api/funkwhale_api/providers/urls.py
  api/funkwhale_api/users/api_urls.py
  api/funkwhale_api/users/oauth/urls.py
  api/funkwhale_api/users/rest_auth_urls.py
Due: lint_api, test_api, build_api_schema, build_api

Add API v2 overview
  changes/changelog.d/v2-overview.doc
  docs/developer/api/index.md
  docs/developer/api/v2-overview.md
Due: review_docs, build_api_schema, build_docs

chore(docs): update dependency django to v3.2.24
  docs/poetry.lock
  docs/pyproject.toml
Due: review_docs, build_api_schema, build_docs

chore(front): update dependency standardized-audio-context to v25.3.64
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front

chore(api): update dependency faker to v23
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

fix(api): Make trailing slashes for each endpoint optional
  api/config/urls/__init__.py
  api/config/urls/api.py
  api/funkwhale_api/musicbrainz/urls.py
  api/funkwhale_api/users/oauth/urls.py
  api/funkwhale_api/users/rest_auth_urls.py
  changes/changelog.d/trailing-slashes.bugfix
Due: lint_api, test_api, build_api_schema, build_api

chore(api): update dependency watchdog to v4
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

chore(front): update dependency @typescript-eslint/eslint-plugin to v7
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front

fix(eslint): update dependencies
  front/package.json
  front/tsconfig.json
  front/yarn.lock
Due: lint_front, test_front, build_front

fix(types): resolve vuex and typescript >5 errors
  front/package.json
  front/src/components/common/HumanDate.vue
  front/src/shims-vue.d.ts
  front/src/types.ts
  front/tsconfig.json
  front/yarn.lock
Due: lint_front, test_front, build_front

remove comented code
  api/tests/music/test_models.py
Due: lint_api, test_api, build_api_schema, build_api

Add utils to playlist module to handle xspf file (#836). The clean_namespace_xspf function need to be update to handle the input format of the xspf file when the front-end art will be done.
  api/funkwhale_api/playlists/utils.py
Due: lint_api, test_api, build_api_schema, build_api

adding tests
  api/funkwhale_api/playlists/utils.py
  api/tests/playlists/test_utils.py
Due: lint_api, test_api, build_api_schema, build_api

review
  api/config/settings/testing.py
  api/funkwhale_api/playlists/parsers.py
  api/funkwhale_api/playlists/renderers.py
  api/funkwhale_api/playlists/serializers.py
  api/funkwhale_api/playlists/utils.py
  api/funkwhale_api/playlists/views.py
  api/tests/playlists/test.xspf
  api/tests/playlists/test_renderers.py
  api/tests/playlists/test_urls_v2.py
  api/tests/playlists/test_views.py
Due: lint_api, test_api, build_api_schema, build_api

lint
  api/funkwhale_api/playlists/utils.py
Due: lint_api, test_api, build_api_schema, build_api

Path conditions:
  review_docs: any of: docs/**/*
  lint_api: any of: api/**/*
  lint_front: any of: front/**/*
  test_scripts: any of: scripts/**/*
  test_api: any of: api/**/*
  test_front: any of: front/**/*
  build_api_schema: (any of: api/**/*) or (any of: docs/**/*)
  build_docs: any of: docs/**/*
  build_front: any of: front/**/*
  build_api: any of: api/**/*
