Repository mx2913/funkwhale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: review_docs, lint_api, lint_front, test_api, build_api_schema, build_docs, build_front, build_api

Path conditions:
  review_docs: any of: docs/**/*
  lint_api: any of: api/**/*
  lint_front: any of: front/**/*
  test_api: any of: api/**/*
  build_api_schema: (any of: api/**/*) or (any of: docs/**/*)
  build_docs: any of: docs/**/*
  build_front: any of: front/**/*
  build_api: any of: api/**/*

fix(queue): clear shuffled id list when queue is cleared
  changes/changelog.d/2192.bugfix
  front/src/composables/audio/queue.ts
Due: lint_front, build_front

fix: avoid sending language settings multiple times
  front/src/store/ui.ts
Due: lint_front, build_front

fix(front): resolve initialization race condition
  changes/changelog.d/resolve-axios-race-condition.bugfix
  front/src/main.ts
Due: lint_front, build_front

chore(api): update dependency click to v8.1.6
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

feat(service-worker): descriptive service-worker error
  changes/changelog.d/descriptive-service-worker-error.enchancement
  front/src/init/serviceWorker.ts
Due: lint_front, build_front

refactor(front): rename logger timing stop functions to `measureLoading`
  front/src/components/favorites/List.vue
  front/src/components/library/Albums.vue
  front/src/components/library/Artists.vue
  front/src/components/library/Home.vue
  front/src/components/library/Podcasts.vue
  front/src/components/library/Radios.vue
  front/src/views/playlists/List.vue
Due: lint_front, build_front

feat(front): use logger instead of console.log
  front/src/api/player.ts
  front/src/components/Home.vue
  front/src/components/RemoteSearchForm.vue
  front/src/components/admin/SettingsGroup.vue
  front/src/components/auth/ApplicationNew.vue
  front/src/components/auth/SignupForm.vue
  front/src/components/common/ContentForm.vue
  front/src/components/favorites/List.vue
  front/src/components/library/AlbumBase.vue
  front/src/components/library/Albums.vue
  front/src/components/library/Artists.vue
  front/src/components/library/Home.vue
  front/src/components/library/Podcasts.vue
  front/src/components/library/Radios.vue
  front/src/components/manage/moderation/ReportCard.vue
  front/src/composables/audio/player.ts
  front/src/composables/audio/queue.ts
  front/src/composables/audio/tracks.ts
  front/src/composables/audio/visualizer.ts
  front/src/composables/navigation/useOrdering.ts
  front/src/composables/onKeyboardShortcut.ts
  front/src/composables/useLogger.ts
  front/src/init/axios.ts
  front/src/init/webSocket.ts
  front/src/router/guards.ts
  front/src/store/auth.ts
  front/src/store/ui.ts
  front/src/views/Search.vue
  front/src/views/admin/moderation/ReportsList.vue
  front/src/views/content/remote/Card.vue
  front/src/views/playlists/List.vue
Due: lint_front, build_front

chore(front): remove unused dependency and add eslint rule to prevent console usage
  changes/changelog.d/use-logger.enchancement
  front/.eslintrc.js
  front/package.json
  front/src/components/favorites/List.vue
  front/src/composables/useLogger.ts
  front/yarn.lock
Due: lint_front, build_front

chore(api): update dependency markdown to v3.4.4
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

chore(api): update dependency prompt-toolkit to v3.0.39
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

feat(front): enable sourcemap generation
  changes/changelog.d/sourcemaps.enchancement
  front/vite.config.ts
Due: lint_front, build_front

ci: increase node max memory usage
  .gitlab-ci.yml
Due: none

feat(dev): Add and enable django-extensions for debugging
  api/config/settings/local.py
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

Translated using Weblate (Japanese)
  front/src/locales/ja_JP.json
Due: lint_front, build_front

fix(front): fix `ordering=+title`
  front/package.json
  front/src/composables/navigation/useOrdering.ts
  front/src/composables/useMarkdown.ts
  front/yarn.lock
Due: lint_front, build_front

chore: add changelog snippet
  changes/changelog.d/fix-ordering.bugfix
Due: none

docs: Fix broken upgrade documentation link
  CHANGELOG
  changes/changelog.d/upgradelink.doc
  changes/template.rst
  docs/redirects.txt
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  front/src/locales/fr_FR.json
Due: lint_front, build_front

fix(dev): Remove obsolete base path for frontend
  dev.yml
Due: none

fix: Replace deprecated syntax
  dev.yml
  docker/traefik.yml
Due: none

CHANGELOG
  changes/changelog.d/2196.bugfix
Due: none

Fix(docs): removes redundant information
  docker/nginx/conf.dev
  docs/developer/setup/docker.md
Due: review_docs, build_api_schema, build_docs

Fix(Docker): dev set-up
  .env.dev
  docker/nginx/conf.dev
  docs/developer/setup/docker.md
Due: review_docs, build_api_schema, build_docs

fix(dev): Remove duplicate definition of MEDIA_ROOT from compose file
  dev.yml
Due: none

docs: resolve broken links
  CONTRIBUTING.md
  README.md
  api/Readme.md
  docs/redirects.txt
Due: review_docs, lint_api, test_api, build_api_schema, build_docs, build_api

refactor: start refactoring env file
  deploy/env.prod.sample
Due: none

Add quality filter spec
  docs/specs/quality-filter/index.md
Due: review_docs, build_api_schema, build_docs

docs: add bitrate filter information to spec
  docs/index.md
  docs/specs/quality-filter/index.md
Due: review_docs, build_api_schema, build_docs

Add offline mode spec
  docs/specs/offline-mode/index.md
Due: review_docs, build_api_schema, build_docs

docs: add UX note for offline mode
  docs/index.md
  docs/specs/offline-mode/index.md
Due: review_docs, build_api_schema, build_docs

fix: fix link to ID3 spec
  docs/user/libraries/content/tag.md
Due: review_docs, build_api_schema, build_docs
