Repository mx2913/funkwhale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: black, flake8, eslint

black:
  interruptible: true
  image: python:3.10
  stage: lint
  variables:
    GIT_STRATEGY: fetch
  before_script:
  - pip install black
  script:
  - black --check --diff .

flake8:
  interruptible: true
  image: python:3.7
  stage: lint
  variables:
    GIT_STRATEGY: fetch
  before_script:
  - pip install 'flake8<3.7'
  script:
  - flake8 -v api
  cache:
    key: $CI_PROJECT_ID__flake8_pip_cache
    paths:
    - $PIP_CACHE_DIR

eslint:
  interruptible: true
  image: node:16-alpine
  stage: lint
  before_script:
  - cd front
  - apk add --no-cache jq bash coreutils python3
  - yarn install
  script:
  - yarn lint --max-warnings 0
  - yarn lint:tsc
  cache:
    key: $CI_PROJECT_ID__eslint_npm_cache
    paths:
    - front/node_modules

Create audio system based on Web Audio API
  .yarnrc
  front/package.json
  front/public/embed.html
  front/src/components/audio/Player.vue
  front/src/composables/audio/audio-api.ts
  front/src/composables/audio/player.ts
  front/src/composables/audio/tracks.ts
  front/src/composables/audio/usePlayer.ts
  front/yarn.lock
Due: eslint

Update the CONTRIBUTING file Create sections in the documentation
  CONTRIBUTING.md
  CONTRIBUTING.rst
  docs/Dockerfile
  docs/conf.py
  docs/contributing.rst
  docs/developer_documentation/contribute/api.md
  docs/developer_documentation/contribute/copy.md
  docs/developer_documentation/contribute/frontend.md
  docs/developer_documentation/contribute/index.md
  docs/developer_documentation/index.md
  docs/developer_documentation/setup/docker.md
  docs/developer_documentation/setup/gitpod.md
  docs/developer_documentation/setup/index.md
  docs/developer_documentation/setup/vite.md
  docs/developer_documentation/workflows/changelog.md
  docs/developer_documentation/workflows/git.md
  docs/developer_documentation/workflows/index.md
  docs/developer_documentation/workflows/release.md
  docs/index.md
  docs/poetry.lock
  docs/pyproject.toml
Due: none

Add changelog snippet
  changes/changelog.d/contributing.doc
Due: none

Rewrite architecture doc
  docs/developer_documentation/architecture.md
  docs/developers/architecture.rst
  docs/developers/index.rst
  docs/index.md
Due: none

Add changelog fragment
  changes/changelog.d/1908.doc
Due: none

Update API docs
  docs/api.rst
  docs/developer_documentation/api/authentication.md
  docs/developer_documentation/api/index.md
  docs/developer_documentation/api/subsonic.md
  docs/developers/subsonic.rst
  docs/index.md
Due: none

Add changelog fragment
  changes/changelog.d/api.doc
Due: none

Address changes to auth and index files
  docs/developer_documentation/api/authentication.md
  docs/developer_documentation/api/index.md
Due: none

Update swagger docs Add rate-limit documentation
  docs/developer_documentation/api/index.md
  docs/developer_documentation/api/rate_limit.md
  docs/swagger.yml
Due: none

Rewrite plugins docs
  changes/changelog.d/1910.doc
  docs/developer_documentation/plugins/create.md
  docs/developer_documentation/plugins/index.md
  docs/developer_documentation/plugins/install.md
  docs/developers/authentication.rst
  docs/developers/index.rst
  docs/developers/plugins.rst
  docs/index.md
Due: none

Rewrite federation doc
  changes/changelog.d/1911.doc
  docs/developer_documentation/federation/index.md
  docs/federation/index.rst
  docs/index.md
Due: none

Fix formatting issues
  docs/developer_documentation/federation/index.md
Due: none

Rewrote documentation guide Changed developer guide header for consistency
  changes/changelog.d/docs_rewrite.doc
  docs/contributor_documentation/documentation.md
  docs/contributor_documentation/index.md
  docs/developer_documentation/index.md
  docs/documentation/creating.rst
  docs/documentation/identifying.rst
  docs/documentation/index.rst
  docs/documentation/rearrange.rst
  docs/documentation/restructured.rst
  docs/documentation/style.rst
  docs/documentation/tools.rst
  docs/index.md
Due: none

Update dependency Sphinx to v5.3.0
  docs/poetry.lock
  docs/pyproject.toml
Due: none

Update dependency sphinx-rtd-theme to v1.1.1
  docs/poetry.lock
  docs/pyproject.toml
Due: none

Update dependency sphinx_design to v0.3.0
  docs/poetry.lock
  docs/pyproject.toml
Due: none

Update python Docker tag to v3.11
  .gitlab-ci.yml
  docs/Dockerfile
Due: none

Update dependency Django to v4.1.3
  api/pyproject.toml
  docs/poetry.lock
  docs/pyproject.toml
Due: black, flake8

Lock file maintenance
  api/poetry.lock
  docs/poetry.lock
  front/yarn.lock
Due: black, flake8, eslint

Fix oauth to respond with unhashed token on creation
  api/funkwhale_api/users/oauth/serializers.py
  api/funkwhale_api/users/oauth/views.py
  api/tests/users/oauth/test_views.py
Due: black, flake8

Display unhashed client secret
  front/src/components/auth/ApplicationEdit.vue
  front/src/components/auth/ApplicationNew.vue
  front/src/store/auth.ts
  front/src/types.ts
Due: eslint

Fix type errors
  front/src/components/About.vue
  front/src/components/AboutPod.vue
  front/src/components/Home.vue
  front/src/store/instance.ts
Due: eslint

feat(ci): Test version of wheel building for dependencies
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Path conditions:
  black: any of: api/**/*
  flake8: any of: api/**/*
  eslint: any of: front/**/*
