Repository mx2913/funkwhale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: review_docs, lint_api, lint_front, test_scripts, test_api, test_front, build_api_schema, build_docs, build_front, build_api

Path conditions:
  review_docs: any of: docs/**/*
  lint_api: any of: api/**/*
  lint_front: any of: front/**/*
  test_scripts: any of: scripts/**/*
  test_api: any of: api/**/*
  test_front: any of: front/**/*
  build_api_schema: (any of: api/**/*) or (any of: docs/**/*)
  build_docs: any of: docs/**/*
  build_front: any of: front/**/*
  build_api: any of: api/**/*

Update releases and tracks examples
  docs/schema.yml
Due: review_docs, build_api_schema, build_docs

Update descriptions and ID fields
  docs/schema.yml
  docs/specs/collections/schema.yml
  docs/specs/multi-artist/schema.yml
Due: review_docs, build_api_schema, build_docs

Lay out collection level querying
  docs/schema.yml
  docs/specs/multi-artist/schema.yml
Due: review_docs, build_api_schema, build_docs

make setting dynamic
  api/config/settings/common.py
  api/funkwhale_api/music/dynamic_preferences_registry.py
  api/funkwhale_api/music/tasks.py
  api/pyproject.toml
  api/tests/conftest.py
  api/tests/music/test_tasks.py
  api/tests/test_import_audio_file.py
  front/src/views/admin/Settings.vue
Due: lint_api, lint_front, test_api, test_front, build_api_schema, build_front, build_api

Only allow MusicBrainz tagged file on a pod (#2083)
  api/funkwhale_api/music/tasks.py
  api/pyproject.toml
  api/tests/music/test_tasks.py
Due: lint_api, test_api, build_api_schema, build_api

resolves review
  api/funkwhale_api/music/dynamic_preferences_registry.py
  api/funkwhale_api/music/tasks.py
  api/tests/music/test_tasks.py
Due: lint_api, test_api, build_api_schema, build_api

resolve test
  api/tests/music/test_tasks.py
Due: lint_api, test_api, build_api_schema, build_api

changelog
  changes/changelog.d/2083.newfeature
Due: none

add test
  api/tests/music/test_tasks.py
Due: lint_api, test_api, build_api_schema, build_api

Apply 1 suggestion(s) to 1 file(s)
  api/funkwhale_api/music/tasks.py
Due: lint_api, test_api, build_api_schema, build_api

typo
  front/src/views/admin/Settings.vue
Due: lint_front, test_front, build_front

lint
  front/src/views/admin/Settings.vue
Due: lint_front, test_front, build_front

resolve test 2
  api/tests/conftest.py
  api/tests/test_import_audio_file.py
Due: lint_api, test_api, build_api_schema, build_api

add common setting and lint
  api/config/settings/common.py
  api/tests/music/test_tasks.py
Due: lint_api, test_api, build_api_schema, build_api

feat(docs): Add MBID-only setting documentation
  docs/administrator/configuration/instance-settings.md
Due: review_docs, build_api_schema, build_docs

fix(tests): fix broken test
  api/tests/music/test_tasks.py
Due: lint_api, test_api, build_api_schema, build_api

feat(docs): Added CoC property to nodeinfo spec
  changes/changelog.d/coc-nodeinfo.doc
  docs/specs/nodeinfo21/index.md
  docs/specs/nodeinfo21/schema.yml
Due: review_docs, build_api_schema, build_docs

fix(api): Pin lb-matching-tools version
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

Fix semicolons
  deploy/docker.proxy.template
  deploy/nginx.template
Due: none

feat(nginx): Generate configs using a template
  changes/changelog.d/nginxtemplates.feature
  deploy/docker.proxy.template
  deploy/nginx.template
  docker/nginx/conf.dev
  scripts/compile-templates.py
  templates/nginx.conf.j2
Due: test_scripts

feat(nginx): Use builtin envsubst mechanics of nginx container
  docker/nginx/conf.dev
Due: none

chore(front): lock file maintenance
  front/yarn.lock
Due: lint_front, test_front, build_front

fix(api): Use proper renderer for nodeinfo in browser
  api/funkwhale_api/instance/views.py
Due: lint_api, test_api, build_api_schema, build_api

feat(api): Add atom1.0 to node info services
  api/funkwhale_api/instance/views.py
  api/tests/instance/test_nodeinfo.py
  changes/changelog.d/atom10.feature
Due: lint_api, test_api, build_api_schema, build_api

chore(api): Remove obsolete file
  api/config/api_urls.py
Due: lint_api, test_api, build_api_schema, build_api

feat(settings): Allow moderators to set moderation languages
  api/funkwhale_api/moderation/dynamic_preferences_registry.py
  api/poetry.lock
  api/pyproject.toml
  changes/changelog.d/moderation-languages.feature
  front/src/views/admin/Settings.vue
Due: lint_api, lint_front, test_api, test_front, build_api_schema, build_front, build_api

feat(settings): Allow to set the instances server location
  api/funkwhale_api/instance/dynamic_preferences_registry.py
  changes/changelog.d/server-location.feature
  front/src/components/admin/SettingsGroup.vue
  front/src/views/admin/Settings.vue
Due: lint_api, lint_front, test_api, test_front, build_api_schema, build_front, build_api

feat(api): Add NodeInfo 2.1
  api/config/urls/api_v2.py
  api/funkwhale_api/instance/serializers.py
  api/funkwhale_api/instance/stats.py
  api/funkwhale_api/instance/urls.py
  api/funkwhale_api/instance/urls_v2.py
  api/funkwhale_api/instance/views.py
  api/tests/instance/test_nodeinfo.py
  api/tests/test_urls.py
  changes/changelog.d/2085.feature
Due: lint_api, test_api, build_api_schema, build_api

chore(api): update dependency aioresponses to v0.7.6
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

fix(front): Fixed regex order in embed
  changes/changelog.d/embed-regex.bugfix
  front/public/embed.html
Due: lint_front, test_front, build_front

fix(front): Fix broken copy button in embed modal
  changes/changelog.d/copybutton.bugfix
  front/src/components/audio/EmbedWizard.vue
Due: lint_front, test_front, build_front

chore(front): update dependency standardized-audio-context to v25.3.59
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front

fix(nginx): Fix docker nginx configurations
  docker/nginx/conf.dev
  front/docker/funkwhale.conf.template
  templates/nginx.conf.j2
Due: lint_front, test_front, build_front

feat(api): Add codeOfConduct to NodeInfo Endpoint
  api/funkwhale_api/instance/serializers.py
  api/tests/instance/test_nodeinfo.py
Due: lint_api, test_api, build_api_schema, build_api

fix(api): Set logger to DEBUG if DEBUG is enabled
  api/config/settings/common.py
  changes/changelog.d/1538.enhancement
Due: lint_api, test_api, build_api_schema, build_api

feat(docs): Move docstring and clarify debug
  api/config/settings/common.py
Due: lint_api, test_api, build_api_schema, build_api
