Repository mx2913/funkwhale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: review_docs, lint_api, lint_front, test_scripts, test_api, test_front, build_api_schema, build_docs, build_front, build_api

Path conditions:
  review_docs: any of: docs/**/*
  lint_api: any of: api/**/*
  lint_front: any of: front/**/*
  test_scripts: any of: scripts/**/*
  test_api: any of: api/**/*
  test_front: any of: front/**/*
  build_api_schema: (any of: api/**/*) or (any of: docs/**/*)
  build_docs: any of: docs/**/*
  build_front: any of: front/**/*
  build_api: any of: api/**/*

Translated using Weblate (Greek)
  front/src/locales/el.json
Due: lint_front, test_front, build_front

Translated using Weblate (French)
  front/src/locales/fr_FR.json
Due: lint_front, test_front, build_front

Added translation using Weblate (Bengali (Bangladesh))
  front/src/locales/bn_BD.json
Due: lint_front, test_front, build_front

Translated using Weblate (Czech)
  front/src/locales/cs.json
Due: lint_front, test_front, build_front

Translated using Weblate (Catalan)
  front/src/locales/ca.json
Due: lint_front, test_front, build_front

Translated using Weblate (Galician)
  front/src/locales/gl.json
Due: lint_front, test_front, build_front

Translated using Weblate (Occitan)
  front/src/locales/oc.json
Due: lint_front, test_front, build_front

Translated using Weblate (German)
  front/src/locales/de.json
Due: lint_front, test_front, build_front

Translated using Weblate (English)
  front/src/locales/en_US.json
Due: lint_front, test_front, build_front

Translated using Weblate (Russian)
  front/src/locales/ru.json
Due: lint_front, test_front, build_front

Translated using Weblate (English (United Kingdom))
  front/src/locales/en_GB.json
Due: lint_front, test_front, build_front

Translated using Weblate (Basque)
  front/src/locales/eu.json
Due: lint_front, test_front, build_front

Translated using Weblate (Italian)
  front/src/locales/it.json
Due: lint_front, test_front, build_front

Translated using Weblate (Polish)
  front/src/locales/pl.json
Due: lint_front, test_front, build_front

Translated using Weblate (Chinese (Simplified))
  front/src/locales/zh_Hans.json
Due: lint_front, test_front, build_front

fix(nginx): Do not cache all requests for a day in the reverse proxy
  changes/changelog.d/2258.bugfix
  deploy/docker.proxy.template
  templates/nginx.conf.j2
Due: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/user/reports/index.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/user/radios/index.po
Due: review_docs, build_api_schema, build_docs

feat(docs): Add initial user deletion spec
  docs/index.md
  docs/specs/user-deletion/index.md
Due: review_docs, build_api_schema, build_docs

Add changelog for user deletion spec
  changes/changelog.d/user-deletion.doc
Due: none

fix(docs): update heading and lexer
  docs/specs/user-deletion/index.md
Due: review_docs, build_api_schema, build_docs
