Repository mx2913/funkwhale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: review_docs, lint_api, lint_front, test_scripts, test_api, test_front, build_api_schema, build_docs, build_front, build_api

review_docs:
  allow_failure: true
  stage: review
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-docs:3.11
  environment:
    name: review/docs/$CI_COMMIT_REF_NAME
    url: http://$CI_PROJECT_NAMESPACE.pages.funkwhale.audio/-/$CI_PROJECT_NAME/-/jobs/$CI_JOB_ID/artifacts/docs-review/index.html
  cache:
  ...

lint_api:
  allow_failure: true
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  before_script:
  - cd api
  - make install
  script:
  - make lint

lint_front:
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
      files:
      - front/yarn.lock
    paths:
    - front/node_modules
  - key:
      prefix: front-lint
      files:
      - front/.eslintcache
  ...

test_scripts:
  stage: test
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python:3.11
  cache:
  - key: scripts-pip
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: scripts-venv
      files:
      - scripts/poetry.lock
    paths:
    - scripts/.venv
  before_script:
  - cd scripts
  - make install
  script:
  - make test

test_api:
  retry: 1
  stage: test
  needs:
  - job: lint_api
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:$PYTHON_VERSION
  parallel:
    matrix:
    - PYTHON_VERSION:
      - '3.8'
      - '3.9'
      - '3.10'
      - '3.11'
  services:
  - name: postgres:15-alpine
    command:
    - --fsync=off
    - --full_page_writes=off
  ...

test_front:
  stage: test
  needs:
  - job: lint_front
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
      files:
      - front/yarn.lock
    paths:
    - front/node_modules
  - key:
      prefix: front-lint
      files:
  ...

build_api_schema:
  stage: build
  needs:
  - job: test_api
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  services:
  - postgres:15-alpine
  - redis:7-alpine
  cache:
  - key: api-pip-$PYTHON_VERSION
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: api-venv-$PYTHON_VERSION
      files:
  ...

build_docs:
  stage: build
  needs:
  - job: build_api_schema
    artifacts: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-docs:3.11
  cache:
  - key: docs-pip
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: docs-venv
      files:
      - docs/poetry.lock
    paths:
    - docs/.venv
  before_script:
  - cd docs
  - make install
  ...

build_front:
  stage: build
  needs:
  - job: lint_front
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  variables:
    GIT_STRATEGY: clone
    GIT_DEPTH: '5'
    FF_DISABLE_UMASK_FOR_DOCKER_EXECUTOR: 'true'
    NODE_OPTIONS: --max-old-space-size=4096
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  ...

updtae
  docs/specs/listenings-favorites-sync-with-lb/index.md
Due: review_docs, build_api_schema, build_docs

Added translation using Weblate (Belarusian)
  docs/locales/be/LC_MESSAGES/administrator/configuration/frontend.po
Due: review_docs, build_api_schema, build_docs

tests
  api/tests/music/test_commands.py
Due: lint_api, test_api, build_api_schema, build_api

Translated using Weblate (Dutch)
  front/src/locales/nl.json
Due: lint_front, test_front, build_front

chore(api): Update dj-rest-auth to 5.0.2 and django-allauth to 0.55.2
  api/config/settings/common.py
  api/funkwhale_api/common/authentication.py
  api/funkwhale_api/users/serializers.py
  api/funkwhale_api/users/views.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/users/test_views.py
  changes/changelog.d/allauth.enhancement
Due: lint_api, test_api, build_api_schema, build_api

test(throttling): Explicitly enable throttling to make test more stable
  api/tests/common/test_throttling.py
Due: lint_api, test_api, build_api_schema, build_api

feat(docs): update import spec
  changes/changelog.d/import-groups.doc
  docs/specs/upload-process/index.md
Due: review_docs, build_api_schema, build_docs

chore(api): import latest schema from ci artifacts
  api/schema.yml
Due: lint_api, test_api, build_api_schema, build_api

refactor(api): use explicit serializer names
  api/funkwhale_api/users/serializers.py
Due: lint_api, test_api, build_api_schema, build_api

ci: rework build_api_schema job
  .gitlab-ci.yml
Due: none

chore(api): add schema target to makefile
  api/Makefile
Due: lint_api, test_api, build_api_schema, build_api

fi(api): improve auth/preferences schema generation
  api/config/schema.py
Due: lint_api, test_api, build_api_schema, build_api

fix tests
  api/funkwhale_api/users/serializers.py
Due: lint_api, test_api, build_api_schema, build_api

fix(api): allow generating schema without db connection
  api/funkwhale_api/users/serializers.py
  changes/changelog.d/allow-generating-api-schema-without-db.bugfix
Due: lint_api, test_api, build_api_schema, build_api

chore(api): regenerate schema
  api/schema.yml
Due: lint_api, test_api, build_api_schema, build_api

Update spec to use "upload-group"
  docs/specs/upload-process/index.md
Due: review_docs, build_api_schema, build_docs

ci: Don't run docker builds on foreign MRs
  .gitlab-ci.yml
Due: none

Fix docker dev setup
  dev.yml
Due: none

fix: Use the correct pre-defined variable to determine project namespace
  .gitlab-ci.yml
Due: none

Add changelog entry.
  changes/changelog.d/apache-template-fix.doc
Due: none

Fix Apache configuration
  deploy/apache.conf
Due: none

explicit serializer anmes
  api/funkwhale_api/cli/users.py
Due: lint_api, test_api, build_api_schema, build_api

ci: Remove creation of release, only publish packages
  .gitlab-ci.yml
  Makefile
  scripts/ci-upload-packages.sh
Due: test_scripts

fix: Remove variable overrides
  Makefile
  scripts/ci-upload-packages.sh
Due: test_scripts

style: Cleanup script, remove unused functions
  scripts/ci-upload-packages.sh
Due: test_scripts

ci: add release job
  .gitignore
  .gitlab-ci.yml
  Makefile
  changes/changelog.d/publish-release-in-ci.enhancement
  scripts/ci-release.sh
Due: test_scripts

fix: Install zip in upstream image
  .gitlab-ci.yml
Due: none

fix: Use correct auth header for package upload
  scripts/ci-upload-packages.sh
Due: test_scripts

chore(api): pin dependency poetry-core to ==1.8.1
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

fix: Pass missing FUNKWHALE_URL var to schema generation
  api/Makefile
  api/schema.yml
Due: lint_api, test_api, build_api_schema, build_api

feat(docs): add raw file upload endpoint information
  docs/specs/upload-process/index.md
Due: review_docs, build_api_schema, build_docs

chore(api): update dependency black to v24
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

chore(api): update dependency coverage to v7
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

add most quality filters and test
  api/funkwhale_api/music/filters.py
  api/funkwhale_api/music/utils.py
  api/tests/music/test_filters.py
Due: lint_api, test_api, build_api_schema, build_api

changlog
  changes/changelog.d/2275.feature
Due: none

chore(api): update dependency bleach to v6
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

Path conditions:
  review_docs: any of: docs/**/*
  lint_api: any of: api/**/*
  lint_front: any of: front/**/*
  test_scripts: any of: scripts/**/*
  test_api: any of: api/**/*
  test_front: any of: front/**/*
  build_api_schema: (any of: api/**/*) or (any of: docs/**/*)
  build_docs: any of: docs/**/*
  build_front: any of: front/**/*
  build_api: any of: api/**/*
