Repository mx2913/funkwhale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: review_docs, lint_api, lint_front, test_api, build_api_schema, build_docs, build_front, build_api

review_docs:
  allow_failure: true
  stage: review
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  variables:
    BUILD_PATH: ../docs-review
  environment:
    name: review/docs/$CI_COMMIT_REF_NAME
  ...

lint_api:
  allow_failure: true
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  before_script:
  - cd api
  - make install
  script:
  - make lint

lint_front:
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
      files:
      - front/yarn.lock
    paths:
    - front/node_modules
  before_script:
  - cd front
  - yarn install --frozen-lockfile
  script:
  ...

test_api:
  retry: 1
  stage: test
  needs:
  - job: lint_api
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:$PYTHON_VERSION
  parallel:
    matrix:
    - PYTHON_VERSION:
      - '3.8'
      - '3.9'
      - '3.10'
      - '3.11'
  services:
  - postgres:15-alpine
  - redis:7-alpine
  cache:
  - key: api-pip-$PYTHON_VERSION
    paths:
  ...

build_api_schema:
  stage: build
  needs:
  - job: test_api
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  services:
  - postgres:15-alpine
  - redis:7-alpine
  cache:
  - key: api-pip-$PYTHON_VERSION
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: api-venv-$PYTHON_VERSION
      files:
  ...

build_docs:
  stage: build
  needs:
  - job: build_api_schema
    artifacts: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  variables:
    BUILD_PATH: ../public
    GIT_STRATEGY: clone
    GIT_DEPTH: 0
  cache:
  - key: docs-pip
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: docs-venv
      files:
  ...

build_front:
  stage: build
  needs:
  - job: lint_front
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  variables:
    GIT_STRATEGY: clone
    GIT_DEPTH: '5'
    FF_DISABLE_UMASK_FOR_DOCKER_EXECUTOR: 'true'
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
  ...

build_api:
  stage: build
  needs:
  - job: test_api
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/python:3.11
  variables:
    GIT_STRATEGY: clone
    GIT_DEPTH: '5'
    FF_DISABLE_UMASK_FOR_DOCKER_EXECUTOR: 'true'
  script:
  - rm -rf api/tests
  ...

feat(player): unregister all events on sound instance dispose
  front/src/api/player.ts
Due: lint_front, build_front

fix: fix typo
  front/src/composables/audio/tracks.ts
Due: lint_front, build_front

feat: skip css updates if progress hasn't changed
  front/src/composables/audio/player.ts
Due: lint_front, build_front

refactor: remove double space in css file
  front/src/style/components/_play_indicator.scss
Due: lint_front, build_front

fix(radio): pausing when current song ended and new song data hasn't been fetched yet
  front/src/composables/audio/player.ts
  front/src/composables/audio/queue.ts
  front/src/composables/audio/tracks.ts
  front/src/init/mediaSession.ts
  front/src/store/radios.ts
Due: lint_front, build_front

fix(eslint): fix i18n issues
  front/.eslintrc.js
  front/src/components/Queue.vue
  front/src/components/audio/Player.vue
Due: lint_front, build_front

perf(play-indicator): delegate play indicator to the GPU instead of CPU
  front/src/composables/audio/tracks.ts
  front/src/style/components/_play_indicator.scss
Due: lint_front, build_front

fix: resolve progressbar issues
  front/src/components/Queue.vue
  front/src/components/audio/Player.vue
  front/src/style/components/_player.scss
  front/src/style/components/_queue.scss
Due: lint_front, build_front

feat(buffer-progress): use 3d translation
  front/src/components/Queue.vue
  front/src/composables/audio/tracks.ts
Due: lint_front, build_front

fix(player): do not throw an error when disposing sound instance
  front/src/api/player.ts
Due: lint_front, build_front

fix(volume-slider): fix scrolling
  front/src/components/audio/VolumeControl.vue
  front/src/composables/audio/player.ts
Due: lint_front, build_front

fix: remove debug line
  front/src/composables/audio/tracks.ts
Due: lint_front, build_front

fix(player): reduce average CPU usage from 100% to 20%
  front/src/composables/audio/player.ts
Due: lint_front, build_front

fix(pre-commit): fix linting
  .yarnrc
  front/src/style/components/_queue.scss
Due: lint_front, build_front

fix(player): ensure that current track lives despite enqueueing 3 tracks as 'next track'
  front/src/composables/audio/tracks.ts
Due: lint_front, build_front

Version bump and changelog for 1.3.0-rc5
  CHANGELOG.md
Due: none

fix: fix imports in vite config
  front/vite.config.ts
Due: lint_front, build_front

chore: move changelog fragment in changelog.d
  changes/changelog.d/2092.fix
Due: none

chore(docs): update dependency myst-parser to v1
  docs/poetry.lock
  docs/pyproject.toml
Due: review_docs, build_api_schema, build_docs

chore: update pre-commit hook psf/black to v23
  .pre-commit-config.yaml
Due: none

chore(front): update dependency @types/diff to v5.0.3
  front/package.json
  front/yarn.lock
Due: lint_front, build_front

fix(front): album tracks count i18n
  changes/changelog.d/2094.bugfix
  front/src/components/library/AlbumBase.vue
Due: lint_front, build_front

Fix(docs): removes obsolete step
  docs/developer/setup/docker.md
Due: review_docs, build_api_schema, build_docs

Add mash playbook installation method
  docs/administrator/installation/third-party.md
Due: review_docs, build_api_schema, build_docs

feat(api): replace pytz with zoneinfo
  api/funkwhale_api/audio/serializers.py
  api/funkwhale_api/federation/signing.py
  api/funkwhale_api/users/factories.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/audio/test_serializers.py
  changes/changelog.d/api-replace-pytz-zoneinfo.enhancement
Due: lint_api, test_api, build_api_schema, build_api

Apply 1 suggestion(s) to 1 file(s)
  docs/administrator/installation/third-party.md
Due: review_docs, build_api_schema, build_docs

Fix(docs): updates vite documentation
  docs/developer/setup/vite.md
Due: review_docs, build_api_schema, build_docs

chore(api): update dependency sentry-sdk to v1.19.1
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

chore(front): update sentry-javascript monorepo to v7.47.0
  front/package.json
  front/yarn.lock
Due: lint_front, build_front

fix: Make development docs available again
  .gitlab-ci.yml
  docs/_templates/versions.html
  docs/build_docs.sh
Due: review_docs, build_api_schema, build_docs

fix: Make development docs available again
  .gitlab-ci.yml
  docs/Dockerfile
  docs/_templates/versions.html
  docs/build_docs.sh
  docs/conf.py
  docs/poetry.lock
  docs/pyproject.toml
Due: review_docs, build_api_schema, build_docs

chore: update pre-commit hook psf/black to v23.3.0
  .pre-commit-config.yaml
Due: none

chore(api): update dependency pylint to v2.17.2
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

chore: Remove sphinx-multiversion
  .gitlab-ci.yml
  docs/_templates/versions.html
  docs/build_docs.sh
  docs/conf.py
  docs/poetry.lock
  docs/pyproject.toml
Due: review_docs, build_api_schema, build_docs

Path conditions:
  review_docs: any of: docs/**/*
  lint_api: any of: api/**/*
  lint_front: any of: front/**/*
  test_api: any of: api/**/*
  build_api_schema: (any of: api/**/*) or (any of: docs/**/*)
  build_docs: any of: docs/**/*
  build_front: any of: front/**/*
  build_api: any of: api/**/*
