Repository mx2913/funkwhale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: review_docs, lint_api, lint_front, test_scripts, test_api, test_front, build_api_schema, build_docs, build_front, build_api

Path conditions:
  review_docs: any of: docs/**/*
  lint_api: any of: api/**/*
  lint_front: any of: front/**/*
  test_scripts: any of: scripts/**/*
  test_api: any of: api/**/*
  test_front: any of: front/**/*
  build_api_schema: (any of: api/**/*) or (any of: docs/**/*)
  build_docs: any of: docs/**/*
  build_front: any of: front/**/*
  build_api: any of: api/**/*

fix(docs): update broken link
  docs/changes/funkwhale-0-changelog.md
Due: review_docs, build_api_schema, build_docs

fix(nginx): fix websocket issue in template
  changes/changelog.d/websocket.bugfix
  deploy/docker.proxy.template
  deploy/nginx.template
  docker/nginx/conf.dev
  front/docker/funkwhale.conf.template
  templates/nginx.conf.j2
Due: lint_front, test_front, build_front

listenings-favorites-sync-with-lb spec
  changes/changelog.d/listenings-favorites-sync-with-lb.doc
  docs/index.md
  docs/specs/listenings-favorites-sync-with-lb/index.md
Due: review_docs, build_api_schema, build_docs

add spec
  changes/changelog.d/listenings-favorites-sync-with-lb.doc
  docs/specs/listenings-favorites-sync-with-lb/index.md
Due: review_docs, build_api_schema, build_docs

fix(embed): Make sure embed has sane default image and correct link
  api/config/settings/common.py
  api/funkwhale_api/common/middleware.py
  api/tests/common/test_middleware.py
  changes/changelog.d/meta-tags-embed-player.fix
Due: lint_api, test_api, build_api_schema, build_api

fix(nginx): Make sure pages that require OG tags are served by the backend
  changes/changelog.d/2208.bugfix
  deploy/docker.proxy.template
  deploy/nginx.template
  docker/nginx/conf.dev
  front/docker/funkwhale.conf.template
  templates/nginx.conf.j2
Due: lint_front, test_front, build_front

fix(api): Use correct data field for rate limiting identity field
  api/funkwhale_api/common/serializers.py
  api/funkwhale_api/common/throttling.py
  api/tests/common/test_throttling.py
  api/tests/common/test_views.py
  changes/changelog.d/2248.bugfix
Due: lint_api, test_api, build_api_schema, build_api

fix: Make sure all changelog snippets have the right ending
  changes/changelog.d/1861.feature
  changes/changelog.d/2083.feature
  changes/changelog.d/2215.enhancement
  changes/changelog.d/descriptive-service-worker-error.enhancement
  changes/changelog.d/meta-tags-embed-player.bugfix
Due: none

Version bump and changelog for 1.4.0-rc1
  CHANGELOG.md
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

fix(nginx): Use correct passing in production configs
  changes/changelog.d/2252.bugfix
  deploy/docker.proxy.template
  deploy/nginx.template
  front/docker/funkwhale.conf.template
  templates/nginx.conf.j2
Due: lint_front, test_front, build_front

ci: Use correct build arg to disable cache for docker builds
  .gitlab-ci.yml
Due: none

Version bump and changelog for 1.4.0-rc2
  CHANGELOG.md
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

chore: Add changelog snippet for ended support of Debian 10
  changes/changelog.d/debian10.removal
Due: none

chore(api): update dependency drf-spectacular to v0.26.5
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

chore(api): update dependency pylint to v2.17.7
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

chore(api): update dependency pytest to v7.4.3
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

chore(api): update dependency pytest-env to v0.8.2
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

Translated using Weblate (French)
  front/src/locales/fr_FR.json
Due: lint_front, test_front, build_front

Translated using Weblate (Galician)
  front/src/locales/gl.json
Due: lint_front, test_front, build_front

fix(docs): Fix postgres upgrade instructions
  docs/administrator/migration.md
  docs/administrator/upgrade/docker.md
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/administrator/uninstall/docker.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/administrator/uninstall/debian.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/administrator/configuration/ldap.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/administrator/upgrade/docker.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/administrator/configuration/index.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/administrator/upgrade/debian.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/contributor/translation.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/developer/setup/gitpod.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/moderator/content/delete.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/user/libraries/create.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/user/libraries/follow.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/user/libraries/share.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/user/libraries/delete.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/user/plugins/index.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/user/libraries/content/delete.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/user/accounts/quota.po
Due: review_docs, build_api_schema, build_docs
