Repository mx2913/funkwhale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: review_docs, lint_api, lint_front, test_api, build_api_schema, build_docs, build_front, build_api

review_docs:
  allow_failure: true
  stage: review
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  variables:
    BUILD_PATH: ../docs-review
  environment:
    name: review/docs/$CI_COMMIT_REF_NAME
  ...

lint_api:
  allow_failure: true
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  before_script:
  - cd api
  - make install
  script:
  - make lint

lint_front:
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
      files:
      - front/yarn.lock
    paths:
    - front/node_modules
  before_script:
  - cd front
  - yarn install --frozen-lockfile
  script:
  ...

test_api:
  retry: 1
  stage: test
  needs:
  - job: lint_api
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:$PYTHON_VERSION
  parallel:
    matrix:
    - PYTHON_VERSION:
      - '3.8'
      - '3.9'
      - '3.10'
      - '3.11'
  services:
  - postgres:15-alpine
  - redis:7-alpine
  cache:
  - key: api-pip-$PYTHON_VERSION
    paths:
  ...

build_api_schema:
  stage: build
  needs:
  - job: test_api
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  services:
  - postgres:15-alpine
  - redis:7-alpine
  cache:
  - key: api-pip-$PYTHON_VERSION
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: api-venv-$PYTHON_VERSION
      files:
  ...

build_docs:
  stage: build
  needs:
  - job: build_api_schema
    artifacts: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  variables:
    BUILD_PATH: ../public
    GIT_STRATEGY: clone
    GIT_DEPTH: 0
  cache:
  - key: docs-pip
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: docs-venv
      files:
  ...

build_front:
  stage: build
  needs:
  - job: lint_front
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  variables:
    GIT_STRATEGY: clone
    GIT_DEPTH: '5'
    FF_DISABLE_UMASK_FOR_DOCKER_EXECUTOR: 'true'
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
  ...

build_api:
  stage: build
  needs:
  - job: test_api
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/python:3.11
  variables:
    GIT_STRATEGY: clone
    GIT_DEPTH: '5'
    FF_DISABLE_UMASK_FOR_DOCKER_EXECUTOR: 'true'
  script:
  - rm -rf api/tests
  ...

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/user/radios/listen.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/user/radios/delete.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/user/favorites/remove.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/user/plugins/listenbrainz.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/user/channels/artist/delete.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/user/channels/rss.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/user/channels/delete.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/user/channels/follow.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/user/channels/edit.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/user/channels/create.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/user/channels/index.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/user/channels/artist/upload.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/user/channels/podcast/delete.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/user/channels/podcast/upload.po
Due: review_docs, build_api_schema, build_docs

chore: pin dependency pytest to v7.3.1
  scripts/poetry.lock
  scripts/pyproject.toml
Due: none

fix(docs): Delete obsolete files from documentation deployment
  .gitlab-ci.yml
Due: none

fix(docs): Fix rsync command argument order
  .gitlab-ci.yml
Due: none

Add offline mode spec
  docs/specs/offline-mode/index.md
Due: review_docs, build_api_schema, build_docs

Add quality filter spec
  docs/specs/quality-filter/index.md
Due: review_docs, build_api_schema, build_docs

Add upload process spec
  docs/index.md
  docs/specs/upload-process/index.md
Due: review_docs, build_api_schema, build_docs

chore(api): update dependency click to v8.1.5
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

chore: add new releases.py script
  scripts/releases.py
  scripts/releases_test.py
Due: none

docs: replace scripts with makefile
  .gitlab-ci.yml
  changes/changelog.d/replace-docs-scripts-with-makefile.misc
  dev.yml
  docs/Dockerfile
  docs/Makefile
  docs/_scripts/locale-prune-untranslated.py
  docs/_scripts/serve.py
  docs/build_docs.sh
  docs/build_swagger.sh
  docs/conf.py
  docs/i18n_generate.sh
  docs/poetry.lock
  docs/pyproject.toml
  docs/serve.py
Due: review_docs, build_api_schema, build_docs

feat: Specify Codeowners for documentation
  CODEOWNERS
Due: none

Fix docker build NOCHANGELOG
  api/Dockerfile
  api/poetry.lock
Due: lint_api, test_api, build_api_schema, build_api

delete vscode config files NOCHANGELOG
  .gitignore
  .vscode/launch.json
  .vscode/markdown.code-snippets
  .vscode/settings.json
Due: none

add pip cache in dockerfile
  api/Dockerfile
Due: lint_api, test_api, build_api_schema, build_api

changelog
  changes/changelog.d/2193.enhancement
Due: none

lint
  api/Dockerfile
Due: lint_api, test_api, build_api_schema, build_api

Translated using Weblate (Greek)
  front/src/locales/el.json
Due: lint_front, build_front

Fix(Docker): dev set-up
  .env.dev
  docker/nginx/conf.dev
  docs/developer/setup/docker.md
Due: review_docs, build_api_schema, build_docs

CHANGELOG
  changes/changelog.d/2196.bugfix
Due: none

chore: upgrade pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore(api): update dependency django to v3.2.20
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

chore(api): update dependency aiohttp to v3.8.5
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

Path conditions:
  review_docs: any of: docs/**/*
  lint_api: any of: api/**/*
  lint_front: any of: front/**/*
  test_api: any of: api/**/*
  build_api_schema: (any of: api/**/*) or (any of: docs/**/*)
  build_docs: any of: docs/**/*
  build_front: any of: front/**/*
  build_api: any of: api/**/*
