Repository mx2913/funkwhale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: review_docs, lint_api, lint_front, test_api, build_api_schema, build_docs, build_front, build_api

Path conditions:
  review_docs: any of: docs/**/*
  lint_api: any of: api/**/*
  lint_front: any of: front/**/*
  test_api: any of: api/**/*
  build_api_schema: (any of: api/**/*) or (any of: docs/**/*)
  build_docs: any of: docs/**/*
  build_front: any of: front/**/*
  build_api: any of: api/**/*

chore: update pre-commit hook shellcheck-py/shellcheck-py to v0.9.0.5 (develop)
  .pre-commit-config.yaml
Due: none

docs: update superuser command
  docs/administrator/installation/debian.md
  docs/administrator/installation/docker.md
  docs/developer/setup/docker.md
Due: review_docs, build_api_schema, build_docs

feat(cli): Implicitly set staff flag if superuser flag is set
  api/funkwhale_api/cli/users.py
  api/tests/cli/test_users.py
Due: lint_api, test_api, build_api_schema, build_api

fix(api): Avoid the creation of users using djangos createsuperuser command
  api/config/settings/common.py
  api/funkwhale_api/common/management/commands/createsuperuser.py
  changes/changelog.d/1288.feature
Due: lint_api, test_api, build_api_schema, build_api

test: Make sure blocking of some management commands actually works
  api/tests/common/test_commands.py
Due: lint_api, test_api, build_api_schema, build_api

ci: Run frontend tests in CI
  .gitlab-ci.yml
  front/package.json
Due: lint_front, build_front

ci: Do proper test result reporting in CI
  .gitlab-ci.yml
  front/vite.config.ts
Due: lint_front, build_front

chore: update pre-commit hook asottile/pyupgrade to v3.6.0
  .pre-commit-config.yaml
Due: none

fix(radio-builder): render Fomantic UI's dropdown content once
  changes/changelog.d/2142.bugfix
  front/src/components/library/radios/Builder.vue
  front/src/components/library/radios/Filter.vue
Due: lint_front, build_front

chore(front): update dependency vue-router to v4.2.2
  front/package.json
  front/yarn.lock
Due: lint_front, build_front

fix(search): fix pagination
  changes/changelog.d/2134.bugfix
  front/src/views/Search.vue
Due: lint_front, build_front

fix(ui): move modals above all content
  changes/changelog.d/2154.bugfix
  front/src/style/components/_modal.scss
Due: lint_front, build_front

fix(ui): wait for podcast object to be available before checking if we can see it
  changes/changelog.d/2155.bugfix
  front/src/views/channels/DetailBase.vue
Due: lint_front, build_front

fix: dynamically add report targets
  front/src/components/manage/library/EditsCardList.vue
Due: lint_front, build_front

chore: add changelog snippet
  changes/changelog.d/2121.bugfix
Due: none

chore(api): update dependency aiohttp to v3.8.4
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

fix(front): clear indexedDB and queue on logout
  changes/changelog.d/2133.bugfix
  front/src/store/auth.ts
Due: lint_front, build_front

ci: don't fetch branch in require_changelog
  .gitlab-ci.yml
Due: none

ci: use buildx bake in docker build job
  .gitignore
  .gitlab-ci.yml
  Makefile
  api/Dockerfile
  changes/changelog.d/ci-use-buildx-bake-in-docker-job.misc
  docker-bake.json
  front/Dockerfile
Due: lint_api, lint_front, test_api, build_api_schema, build_front, build_api

refactor(front): improve docker layer caching
  front/Dockerfile
Due: lint_front, build_front

fix(front): missing tsconfig.json file in docker build
  front/Dockerfile
Due: lint_front, build_front

chore: add new releases.py script
  scripts/releases.py
  scripts/releases_test.py
Due: none

docs: replace scripts with makefile
  .gitlab-ci.yml
  CHANGELOG.md
  changes/changelog.d/replace-docs-scripts-with-makefile.misc
  dev.yml
  docs/Dockerfile
  docs/Makefile
  docs/build_docs.sh
  docs/build_swagger.sh
  docs/conf.py
  docs/i18n_generate.sh
  docs/poetry.lock
  docs/pyproject.toml
  docs/serve.py
Due: review_docs, build_api_schema, build_docs

fix(api): raise SystemExit in manage.py script
  api/manage.py
  changes/changelog.d/api-raise-system-exit.bugfix
Due: lint_api, test_api, build_api_schema, build_api

feat(playback): handle audio play errors
  front/src/api/player.ts
Due: lint_front, build_front

chore(api): update dependency boto3 to v1.26.151
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

fix(playback): remove disposed sound instance from cache
  front/src/api/player.ts
  front/src/composables/audio/queue.ts
  front/src/composables/audio/tracks.ts
Due: lint_front, build_front

chore(api): update dependency debugpy to v1.6.7
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

chore(api): update dependency dj-rest-auth to v2.2.8
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

chore(api): update dependency django to v3.2.19
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

chore(api): update dependency ipdb to v0.13.13
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api
