Repository mx2913/funkwhale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: review_docs, lint_api, lint_front, test_api, build_api_schema, build_docs, build_front, build_api

review_docs:
  allow_failure: true
  stage: review
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  variables:
    BUILD_PATH: ../docs-review
  environment:
    name: review/docs/$CI_COMMIT_REF_NAME
  ...

lint_api:
  allow_failure: true
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  before_script:
  - cd api
  - make install
  script:
  - make lint

lint_front:
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
      files:
      - front/yarn.lock
    paths:
    - front/node_modules
  before_script:
  - cd front
  - yarn install --frozen-lockfile
  script:
  ...

test_api:
  retry: 1
  stage: test
  needs:
  - job: lint_api
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:$PYTHON_VERSION
  parallel:
    matrix:
    - PYTHON_VERSION:
      - '3.8'
      - '3.9'
      - '3.10'
      - '3.11'
  services:
  - postgres:15-alpine
  - redis:7-alpine
  cache:
  - key: api-pip-$PYTHON_VERSION
    paths:
  ...

build_api_schema:
  stage: build
  needs:
  - job: test_api
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  services:
  - postgres:15-alpine
  - redis:7-alpine
  cache:
  - key: api-pip-$PYTHON_VERSION
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: api-venv-$PYTHON_VERSION
      files:
  ...

build_docs:
  stage: build
  needs:
  - job: build_api_schema
    artifacts: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  variables:
    BUILD_PATH: ../public
    GIT_STRATEGY: clone
    GIT_DEPTH: 0
  cache:
  - key: docs-pip
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: docs-venv
      files:
  ...

build_front:
  stage: build
  needs:
  - job: lint_front
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  variables:
    GIT_STRATEGY: clone
    GIT_DEPTH: '5'
    FF_DISABLE_UMASK_FOR_DOCKER_EXECUTOR: 'true'
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
  ...

build_api:
  stage: build
  needs:
  - job: test_api
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/python:3.11
  variables:
    GIT_STRATEGY: clone
    GIT_DEPTH: '5'
    FF_DISABLE_UMASK_FOR_DOCKER_EXECUTOR: 'true'
  script:
  - rm -rf api/tests
  ...

resolve various reviews
  api/funkwhale_api/music/models.py
  api/funkwhale_api/radios/radios.py
  api/funkwhale_api/radios/urls.py
  api/funkwhale_api/radios/views.py
  api/tests/radios/test_radios.py
Due: lint_api, test_api, build_api_schema, build_api

lint
  api/funkwhale_api/radios/radios.py
  api/funkwhale_api/radios/views.py
Due: lint_api, test_api, build_api_schema, build_api

resolve code review 2
  api/funkwhale_api/radios/migrations/0008_auto_20230613_2123.py
  api/funkwhale_api/radios/models.py
  api/funkwhale_api/radios/radios.py
  api/funkwhale_api/radios/views.py
  api/tests/radios/test_radios.py
Due: lint_api, test_api, build_api_schema, build_api

lint
  api/funkwhale_api/radios/radios.py
Due: lint_api, test_api, build_api_schema, build_api

get instead of post
  api/funkwhale_api/radios/views.py
  api/tests/radios/test_radios.py
Due: lint_api, test_api, build_api_schema, build_api

change url routing to /sessions/pk/tracks
  api/funkwhale_api/radios/urls_v2.py
  api/funkwhale_api/radios/views.py
  api/tests/radios/test_radios.py
Due: lint_api, test_api, build_api_schema, build_api

onlyu pass count has params
  api/funkwhale_api/radios/views.py
  api/tests/radios/test_radios.py
Due: lint_api, test_api, build_api_schema, build_api

return tracks instead of radiosessiontrack
  api/funkwhale_api/radios/radios.py
  api/funkwhale_api/radios/views.py
  api/tests/radios/test_radios.py
Due: lint_api, test_api, build_api_schema, build_api

fix(radios): Make routing REST compliant
  api/funkwhale_api/radios/urls_v2.py
  api/funkwhale_api/radios/views.py
Due: lint_api, test_api, build_api_schema, build_api

add lb_recommendation to radio.py
  api/funkwhale_api/radios/radios.py
Due: lint_api, test_api, build_api_schema, build_api

add v2 interface for radios
  api/funkwhale_api/radios/models.py
  api/funkwhale_api/radios/radio_v2.py
  api/funkwhale_api/radios/views.py
Due: lint_api, test_api, build_api_schema, build_api

add second registry
  api/funkwhale_api/radios/migrations/0008_auto_20230916_1504.py
  api/funkwhale_api/radios/models.py
  api/funkwhale_api/radios/radio_v2.py
  api/funkwhale_api/radios/radios.py
  api/funkwhale_api/radios/registries_v2.py
  api/funkwhale_api/radios/views.py
Due: lint_api, test_api, build_api_schema, build_api

clen
  api/funkwhale_api/radios/models.py
Due: lint_api, test_api, build_api_schema, build_api

resolve test
  api/funkwhale_api/radios/factories.py
  api/funkwhale_api/radios/models.py
  api/funkwhale_api/radios/radios_v2.py
  api/funkwhale_api/radios/views.py
  api/tests/radios/test_radios.py
  api/tests/radios/test_radios_v2.py
Due: lint_api, test_api, build_api_schema, build_api

lint
  api/funkwhale_api/radios/factories.py
  api/tests/radios/test_radios.py
  api/tests/radios/test_radios_v2.py
Due: lint_api, test_api, build_api_schema, build_api

resolve tests
  api/funkwhale_api/radios/serializers.py
  api/tests/radios/test_serializers.py
  changes/changelog.d/2135.enhancement
Due: lint_api, test_api, build_api_schema, build_api

restore radio.py
  api/funkwhale_api/radios/radios.py
  changes/changelog.d/2135.enhancement
Due: lint_api, test_api, build_api_schema, build_api

fix(front): fix logger on webkit/blink
  front/package.json
  front/src/composables/useLogger.ts
  front/yarn.lock
Due: lint_front, build_front

fix(front): enable custom logger in tests
  front/src/composables/useLogger.ts
Due: lint_front, build_front

fix(lint): fix linting error
  changes/changelog.d/2215.enchancement
  front/src/composables/useLogger.ts
  front/yarn.lock
Due: lint_front, build_front

fix(front): fix initialization error on dev setup
  front/src/App.vue
  front/src/init/instance.ts
  front/src/main.ts
Due: lint_front, build_front

style: fix linting
  front/src/App.vue
  front/src/main.ts
Due: lint_front, build_front

various reviews
  api/funkwhale_api/radios/migrations/0008_auto_20230916_1504.py
  api/funkwhale_api/radios/migrations/0008_auto_20230922_1729.py
  api/funkwhale_api/radios/models.py
  api/funkwhale_api/radios/radios_v2.py
  api/funkwhale_api/radios/views.py
  changes/changelog.d/2135.feature
Due: lint_api, test_api, build_api_schema, build_api

int count
  api/funkwhale_api/radios/views.py
Due: lint_api, test_api, build_api_schema, build_api

del api_version model
  api/funkwhale_api/radios/migrations/0008_auto_20230922_1729.py
  api/funkwhale_api/radios/models.py
  api/funkwhale_api/radios/views.py
  api/tests/radios/test_radios.py
  api/tests/radios/test_radios_v2.py
Due: lint_api, test_api, build_api_schema, build_api

missing pieces
  api/funkwhale_api/radios/models.py
  api/funkwhale_api/radios/serializers.py
  api/funkwhale_api/radios/views.py
Due: lint_api, test_api, build_api_schema, build_api

end model deletion
  api/funkwhale_api/radios/factories.py
  api/funkwhale_api/radios/views.py
  api/tests/radios/test_radios_v2.py
Due: lint_api, test_api, build_api_schema, build_api

test
  api/tests/radios/test_serializers.py
Due: lint_api, test_api, build_api_schema, build_api

test 2
  api/tests/radios/test_serializers.py
Due: lint_api, test_api, build_api_schema, build_api

Translated using Weblate (Greek)
  front/src/locales/el.json
Due: lint_front, build_front

noqa
  api/funkwhale_api/radios/views.py
Due: lint_api, test_api, build_api_schema, build_api

feat(docs): add docs for in-place s3 update
  docs/administrator/manage-script/index.md
  docs/administrator/manage-script/update-s3-links.md
Due: review_docs, build_api_schema, build_docs

lint
  api/funkwhale_api/radios/views.py
Due: lint_api, test_api, build_api_schema, build_api

test: Use the right assert to validate empty file field
  api/tests/common/test_commands.py
Due: lint_api, test_api, build_api_schema, build_api

fix: Make sure to set right target when none is given
  api/funkwhale_api/common/management/commands/inplace_to_s3.py
Due: lint_api, test_api, build_api_schema, build_api

Path conditions:
  review_docs: any of: docs/**/*
  lint_api: any of: api/**/*
  lint_front: any of: front/**/*
  test_api: any of: api/**/*
  build_api_schema: (any of: api/**/*) or (any of: docs/**/*)
  build_docs: any of: docs/**/*
  build_front: any of: front/**/*
  build_api: any of: api/**/*
