Repository mx2913/funkwhale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: review_docs, lint_api, lint_front, test_api, build_api_schema, build_docs, build_front, build_api

Path conditions:
  review_docs: any of: docs/**/*
  lint_api: any of: api/**/*
  lint_front: any of: front/**/*
  test_api: any of: api/**/*
  build_api_schema: (any of: api/**/*) or (any of: docs/**/*)
  build_docs: any of: docs/**/*
  build_front: any of: front/**/*
  build_api: any of: api/**/*

fix: Adjust paths to nginx configuration files
  deploy/docker.funkwhale_proxy.conf
  docs/administrator/installation/docker.md
Due: review_docs, build_api_schema, build_docs

fix: Adjust paths to nginx configuration files
  changes/changelog.d/2173.doc
  deploy/docker.funkwhale_proxy.conf
  docs/administrator/installation/docker.md
Due: review_docs, build_api_schema, build_docs

fix(api): Fix misleading help texts for funkwhale-manage script
  api/funkwhale_api/common/management/commands/script.py
  changes/changelog.d/funkwhale-manage_scripts.bugfix
Due: lint_api, test_api, build_api_schema, build_api

chore: update pre-commit hook codespell-project/codespell to v2.2.5
  .pre-commit-config.yaml
Due: none

chore: fix spelling errors
  .codespellignore
  api/funkwhale_api/users/wordlist.txt
Due: lint_api, test_api, build_api_schema, build_api

chore(api): update dependency boto3 to v1.26.161
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

chore(front): update dependency standardized-audio-context to v25.3.53
  front/package.json
  front/yarn.lock
Due: lint_front, build_front

chore(front): lock file maintenance
  front/yarn.lock
Due: lint_front, build_front

chore(api): lock file maintenance
  api/poetry.lock
Due: lint_api, test_api, build_api_schema, build_api

Translated using Weblate (Czech)
  front/src/locales/cs.json
Due: lint_front, build_front

fix: Remove unneeded title line for changelog generation
  pyproject.toml
Due: none

Version bump and changelog for 1.3.1
  CHANGELOG
  api/funkwhale_api/__init__.py
  changes/changelog.d/2113.bugfix
  changes/changelog.d/2121.bugfix
  changes/changelog.d/2133.bugfix
  changes/changelog.d/2134.bugfix
  changes/changelog.d/2136.bugfix
  changes/changelog.d/2142.bugfix
  changes/changelog.d/2146.bugfix
  changes/changelog.d/2147.misc
  changes/changelog.d/2149.misc
  changes/changelog.d/2151.bugfix
  changes/changelog.d/2154.bugfix
  changes/changelog.d/2155.bugfix
  changes/changelog.d/2157.bugfix
  changes/changelog.d/2159.bugfix
  changes/changelog.d/2173.doc
  changes/changelog.d/api-raise-system-exit.bugfix
  changes/changelog.d/ci-fix-workflow-branch-regex.misc
  changes/changelog.d/py37.bugfix
Due: lint_api, test_api, build_api_schema, build_api

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/administrator/installation/index.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/administrator/index.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/administrator/installation/docker.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/administrator/configuration/index.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/developer/federation/index.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/developer/api/index.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/administrator/installation/debian.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/contributor/translation.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/moderator/index.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/moderator/domains/index.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/user/queue/index.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/user/playlists/index.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/user/channels/index.po
Due: review_docs, build_api_schema, build_docs

docs: Add NodeInfo 2.1 specification and schema
  changes/changelog.d/nodeinfo.doc
  docs/conf.py
  docs/index.md
  docs/specs/nodeinfo21/index.md
  docs/specs/nodeinfo21/schema.yml
Due: review_docs, build_api_schema, build_docs

fix(docs): don't include rst files from .venv
  docs/conf.py
Due: review_docs, build_api_schema, build_docs

ci: Don't rely on foreign branches for docs preview
  .gitlab-ci.yml
Due: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/moderator/domains/add.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/moderator/domains/purge.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/moderator/domains/rules/add.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/moderator/domains/rules/delete.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/moderator/reports/notes.po
Due: review_docs, build_api_schema, build_docs
