Repository mx2913/funkwhale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: review_docs, lint_api, lint_front, test_api, build_api_schema, build_docs, build_front, build_api

Path conditions:
  review_docs: any of: docs/**/*
  lint_api: any of: api/**/*
  lint_front: any of: front/**/*
  test_api: any of: api/**/*
  build_api_schema: (any of: api/**/*) or (any of: docs/**/*)
  build_docs: any of: docs/**/*
  build_front: any of: front/**/*
  build_api: any of: api/**/*

chore: add changelog snippet
  changes/changelog.d/ci-speedup-linting.enhancement
Due: none

chore(api): update dependency boto3 to v1.26.156
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

fix(embed): fix crash when API returns relative URL
  changes/changelog.d/2163.bugfix
  front/public/embed.html
Due: lint_front, build_front

style: remove whitespaces at the end of the lines
  front/public/embed.html
Due: lint_front, build_front

style: add newline to EOF
  changes/changelog.d/2163.bugfix
Due: none

fix: Mount nginx templates into the right location inside docker container
  changes/changelog.d/2146.bugfix
  deploy/docker-compose.yml
Due: none

chore(docs): lock file maintenance
  docs/poetry.lock
Due: review_docs, build_api_schema, build_docs

chore(api): lock file maintenance
  api/poetry.lock
Due: lint_api, test_api, build_api_schema, build_api

fix: Make sure the SPA Manifest is fetched using the right protocol
  changes/changelog.d/2151.bugfix
  deploy/nginx.template
  docker/nginx/conf.dev
  front/docker/funkwhale.conf.template
Due: lint_front, build_front

chore(front): lock file maintenance
  front/yarn.lock
Due: lint_front, build_front

fix(cypress): move typings to a .d.ts file
  front/cypress/cypress.d.ts
  front/cypress/support/e2e.ts
  front/cypress/tsconfig.json
Due: lint_front, build_front

fix(cypress): force click albums menu entry
  front/cypress/e2e/favorite.cy.ts
Due: lint_front, build_front

feat(cypress): ensure csrftoken cookie is set without timeout
  front/cypress/cypress.d.ts
  front/cypress/support/commands.ts
Due: lint_front, build_front

ci: Only run integration test if explicitly requested
  .gitlab-ci.yml
Due: none

test: remove useless navigation to /login while logging in via command
  front/cypress/support/commands.ts
Due: lint_front, build_front

chore: cleanup ts and gitignore
  front/.gitignore
  front/src/store/instance.ts
Due: lint_front, build_front

feat: Add basic cypress testing
  .gitlab-ci.yml
  changes/changelog.d/cypress.feature
  front/.gitignore
  front/cypress.config.ts
  front/cypress/e2e/favorite.cy.ts
  front/cypress/e2e/login.cy.ts
  front/cypress/fixtures/testuser.json
  front/cypress/plugins/index.js
  front/cypress/support/commands.ts
  front/cypress/support/e2e.ts
  front/cypress/tsconfig.json
  front/package.json
  front/src/components/common/ActorAvatar.vue
  front/src/init/webSocket.ts
  front/src/store/instance.ts
  front/yarn.lock
Due: lint_front, build_front

feat: add cypress test to linting
  front/cypress/plugins/index.ts
  front/package.json
Due: lint_front, build_front

style: fix precommit
  .gitlab-ci.yml
Due: none

refactor(cypress): remove unused plugins section
  front/cypress.config.ts
Due: lint_front, build_front

fix(cypress): fix typecheck
  front/cypress/cypress.d.ts
Due: lint_front, build_front

style: Fix linting errors
  front/cypress/e2e/favorite.cy.ts
  front/cypress/e2e/login.cy.ts
  front/cypress/support/commands.ts
Due: lint_front, build_front

chore: update cypress
  front/package.json
  front/yarn.lock
Due: lint_front, build_front

refactor(cypress): remove plugins file
  front/cypress.config.ts
  front/cypress/plugins/index.ts
Due: lint_front, build_front

chore(front): remove unused dependency
  front/package.json
  front/yarn.lock
Due: lint_front, build_front

fix(front): add explicit check for resopnse.data
  front/src/store/instance.ts
Due: lint_front, build_front

chore(api): update dependency boto3 to v1.26.160
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/glossary.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/contributor/index.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/developer/api/index.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/developer/plugins/index.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/contributor/translation.po
Due: review_docs, build_api_schema, build_docs

fix: Make sure the old embed URLs are still working
  changes/changelog.d/2159.bugfix
  deploy/nginx.template
  docker/nginx/conf.dev
  front/docker/funkwhale.conf.template
Due: lint_front, build_front

fix(embed): use absolute paths for styles and images
  front/public/embed.html
Due: lint_front, build_front

fix(embed): standardize `instance` or `b` parameter
  front/public/embed.html
Due: lint_front, build_front

fix: Avoid high memory usage when pruning a lot of skipped uploads
  api/funkwhale_api/music/management/commands/prune_skipped_uploads.py
  changes/changelog.d/2136.bugfix
Due: lint_api, test_api, build_api_schema, build_api
