Repository mx2913/funkwhale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: black, flake8, eslint, test_api, test_front

Path conditions:
  black: any of: api/**/*
  flake8: any of: api/**/*
  eslint: any of: front/**/*
  test_api: any of: api/**/*
  test_front: any of: front/**/*

Add report documentation, remove existing docs.
  docs/index.md
  docs/moderator/domains.rst
  docs/moderator/index.rst
  docs/moderator/listing.rst
  docs/moderator/reports.rst
  docs/moderator/users.rst
  docs/moderator_documentation/index.md
  docs/moderator_documentation/reports/handle_content.md
  docs/moderator_documentation/reports/handle_users.md
  docs/moderator_documentation/reports/index.md
  docs/moderator_documentation/reports/internal_notes.md
  docs/moderator_documentation/reports/search_reports.md
  docs/moderator_documentation/reports/view_reports.md
Due: none

Update gitlab CI to build docs using poetry
  .gitlab-ci.yml
Due: none

Start adding moderation rules docs
  docs/index.md
  docs/moderator_documentation/domains/add_domain.md
  docs/moderator_documentation/domains/add_rule.md
  docs/moderator_documentation/domains/edit_rule.md
  docs/moderator_documentation/domains/index.md
  docs/moderator_documentation/domains/purge_domain.md
  docs/moderator_documentation/domains/remove_rule.md
Due: none

Add missing domain rules documentation
  docs/moderator_documentation/domains/add_rule.md
  docs/moderator_documentation/domains/edit_rule.md
  docs/moderator_documentation/domains/remove_rule.md
Due: none

Add user moderation docs
  docs/index.md
  docs/moderator_documentation/domains/delete_rule.md
  docs/moderator_documentation/domains/index.md
  docs/moderator_documentation/users/add_rule.md
  docs/moderator_documentation/users/delete_rule.md
  docs/moderator_documentation/users/edit_rule.md
  docs/moderator_documentation/users/index.md
  docs/moderator_documentation/users/purge_users.md
Due: none

Add allow-list documentation
  docs/index.md
  docs/moderator_documentation/allow_listing/add_domain.md
  docs/moderator_documentation/allow_listing/index.md
  docs/moderator_documentation/allow_listing/remove_domain.md
Due: none

Update get started guide
  docs/moderator_documentation/index.md
Due: none

Add redirects
  docs/conf.py
Due: none

Add missing sentence
  docs/moderator_documentation/index.md
Due: none

Move things around, start documenting internal users
  docs/index.md
  docs/moderator_documentation/external_users/add_rule.md
  docs/moderator_documentation/external_users/delete_rule.md
  docs/moderator_documentation/external_users/edit_rule.md
  docs/moderator_documentation/external_users/index.md
  docs/moderator_documentation/external_users/purge_users.md
  docs/moderator_documentation/index.md
  docs/moderator_documentation/internal_users/handle_registration.md
  docs/moderator_documentation/internal_users/index.md
  docs/moderator_documentation/internal_users/manage_users.md
Due: none

Fix embed frame
  front/src/EmbedFrame.vue
Due: eslint, test_front

Add changelog fragment
  changes/1675.bugfix
Due: none

Add missing library section and permissions guidance
  docs/index.md
  docs/moderator_documentation/allow_listing/add_domain.md
  docs/moderator_documentation/allow_listing/remove_domain.md
  docs/moderator_documentation/content/delete_content.md
  docs/moderator_documentation/content/handle_edits.md
  docs/moderator_documentation/content/index.md
  docs/moderator_documentation/content/library_visibility.md
  docs/moderator_documentation/domains/add_domain.md
  docs/moderator_documentation/domains/add_rule.md
  docs/moderator_documentation/domains/delete_rule.md
  docs/moderator_documentation/domains/edit_rule.md
  docs/moderator_documentation/domains/purge_domain.md
  docs/moderator_documentation/external_users/add_rule.md
  docs/moderator_documentation/external_users/delete_rule.md
  docs/moderator_documentation/external_users/edit_rule.md
  docs/moderator_documentation/external_users/purge_users.md
  docs/moderator_documentation/index.md
  docs/moderator_documentation/internal_users/handle_registration.md
  docs/moderator_documentation/internal_users/index.md
  docs/moderator_documentation/internal_users/manage_users.md
  docs/moderator_documentation/reports/handle_content.md
  docs/moderator_documentation/reports/handle_users.md
  docs/moderator_documentation/reports/index.md
  docs/moderator_documentation/reports/internal_notes.md
  docs/moderator_documentation/reports/search_reports.md
  docs/moderator_documentation/reports/view_reports.md
Due: none

First pass at Debian setup guide
  docs/administrator_documentation/index.md
  docs/administrator_documentation/installation_docs/debian/create_user.md
  docs/administrator_documentation/installation_docs/debian/database.md
  docs/administrator_documentation/installation_docs/debian/download_funkwhale.md
  docs/administrator_documentation/installation_docs/debian/env_file.md
  docs/administrator_documentation/installation_docs/debian/funkwhale_dependencies.md
  docs/administrator_documentation/installation_docs/debian/funkwhale_setup.md
  docs/administrator_documentation/installation_docs/debian/index.md
  docs/administrator_documentation/installation_docs/debian/python_dependencies.md
  docs/administrator_documentation/installation_docs/debian/reverse_proxy.md
  docs/administrator_documentation/installation_docs/debian/systemd.md
  docs/administrator_documentation/installation_docs/index.md
  docs/index.md
Due: none

Improve reliability
  front/src/EmbedFrame.vue
Due: eslint, test_front

Fix embedded player
  changes/changelog.d/1675.bugfix
  front/src/EmbedFrame.vue
Due: eslint, test_front

Fix tracks table
  changes/changelog.d/1683.bugfix
  front/src/components/audio/track/Table.vue
Due: eslint, test_front

Decrease diff size
  front/src/components/audio/track/Table.vue
Due: eslint, test_front

Fix search and pagination
  front/src/components/audio/podcast/Table.vue
  front/src/components/audio/track/Table.vue
  front/src/views/library/DetailTracks.vue
Due: eslint, test_front

Fix pagination for albums
  front/src/components/audio/track/Table.vue
Due: eslint, test_front

Correct spacing
  front/src/components/audio/track/Table.vue
Due: eslint, test_front

Add suggestions from review
  front/src/components/audio/track/Table.vue
  front/src/views/library/DetailTracks.vue
Due: eslint, test_front

Add missing comma
  front/src/components/audio/track/Table.vue
Due: eslint, test_front

Add missing newline
  changes/changelog.d/1683.bugfix
Due: none

Rework Debian install into single guide
  docs/administrator_documentation/installation_docs/debian/create_user.md
  docs/administrator_documentation/installation_docs/debian/database.md
  docs/administrator_documentation/installation_docs/debian/download_funkwhale.md
  docs/administrator_documentation/installation_docs/debian/env_file.md
  docs/administrator_documentation/installation_docs/debian/funkwhale_dependencies.md
  docs/administrator_documentation/installation_docs/debian/funkwhale_setup.md
  docs/administrator_documentation/installation_docs/debian/index.md
  docs/administrator_documentation/installation_docs/debian/python_dependencies.md
  docs/administrator_documentation/installation_docs/debian/reverse_proxy.md
  docs/administrator_documentation/installation_docs/debian/systemd.md
Due: none

Add initial Docker install documentation
  docs/administrator_documentation/installation_docs/debian/index.md
  docs/administrator_documentation/installation_docs/docker/index.md
  docs/administrator_documentation/installation_docs/index.md
Due: none

Add quick install doc
  docs/administrator_documentation/installation_docs/debian/index.md
  docs/administrator_documentation/installation_docs/docker/index.md
  docs/administrator_documentation/installation_docs/index.md
  docs/administrator_documentation/installation_docs/quick_install/index.md
Due: none

Add first pass at TLS cert
  docs/administrator_documentation/index.md
  docs/administrator_documentation/installation_docs/debian/index.md
Due: none

Rearrange docs, add TLS instructions to each.
  docs/administrator_documentation/index.md
  docs/administrator_documentation/installation_docs/debian.md
  docs/administrator_documentation/installation_docs/docker.md
  docs/administrator_documentation/installation_docs/index.md
  docs/administrator_documentation/installation_docs/quick_install.md
Due: none

Update dependency bleach to v4
  api/poetry.lock
  api/pyproject.toml
Due: black, flake8, test_api

Revert "Update dependency django-channels to v1.2.2"
  front/package.json
  front/yarn.lock
Due: eslint, test_front

Update dependency django-channels to v2
  front/package.json
  front/yarn.lock
Due: eslint, test_front

Update dependency focus-trap to v6
  front/package.json
  front/yarn.lock
Due: eslint, test_front

Update dependency mocha to v9
  front/package.json
  front/yarn.lock
Due: eslint, test_front

Update dependency purgecss-webpack-plugin to v4
  front/package.json
  front/yarn.lock
Due: eslint, test_front

Add basic unit testing for frontend again
  .gitlab-ci.yml
  front/package.json
  front/tests/unit/.eslintrc
  front/tests/unit/specs/audio/volume.spec.js
  front/tests/unit/specs/components/common.spec.js
  front/tests/unit/specs/components/forms.spec.js
  front/tests/unit/specs/filters/filters.spec.js
  front/tests/unit/specs/search.spec.js
  front/tests/unit/specs/store/auth.spec.js
  front/tests/unit/specs/store/favorites.spec.js
  front/tests/unit/specs/store/instance.spec.js
  front/tests/unit/specs/store/player.spec.js
  front/tests/unit/specs/store/playlists.spec.js
  front/tests/unit/specs/store/queue.spec.js
  front/tests/unit/specs/store/radios.spec.js
  front/tests/unit/specs/utils.spec.js
  front/tests/unit/specs/views/admin/library.spec.js
  front/tests/unit/utils.js
  front/vite.config.js
  front/yarn.lock
Due: eslint, test_front

Reintroduce unit testing for the frontend
  front/package.json
  front/tests/unit/specs/audio/volume.spec.js
  front/tests/unit/specs/components/common.spec.js
  front/tests/unit/specs/components/forms.spec.js
  front/tests/unit/specs/filters/filters.spec.js
  front/tests/unit/specs/search.spec.js
  front/tests/unit/specs/store/auth.spec.js
  front/tests/unit/specs/store/favorites.spec.js
  front/tests/unit/specs/store/instance.spec.js
  front/tests/unit/specs/store/player.spec.js
  front/tests/unit/specs/store/playlists.spec.js
  front/tests/unit/specs/store/queue.spec.js
  front/tests/unit/specs/store/radios.spec.js
  front/tests/unit/specs/utils.spec.js
  front/tests/unit/specs/views/admin/library.spec.js
  front/tests/unit/utils.js
Due: eslint, test_front

Fix usage of router
  front/src/store/auth.js
Due: eslint, test_front

Setup poetry for documentation
  docs/poetry.lock
  docs/pyproject.toml
Due: none
