Repository mx2913/funkwhale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: review_docs, lint_api, lint_front, test_scripts, test_api, test_front, build_api_schema, build_docs, build_front, build_api

review_docs:
  allow_failure: true
  stage: review
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-docs:3.11
  environment:
    name: review/docs/$CI_COMMIT_REF_NAME
    url: http://$CI_PROJECT_NAMESPACE.pages.funkwhale.audio/-/$CI_PROJECT_NAME/-/jobs/$CI_JOB_ID/artifacts/docs-review/index.html
  cache:
  ...

lint_api:
  allow_failure: true
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  before_script:
  - cd api
  - make install
  script:
  - make lint

lint_front:
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
      files:
      - front/yarn.lock
    paths:
    - front/node_modules
  - key:
      prefix: front-lint
      files:
      - front/.eslintcache
  ...

test_scripts:
  stage: test
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python:3.11
  cache:
  - key: scripts-pip
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: scripts-venv
      files:
      - scripts/poetry.lock
    paths:
    - scripts/.venv
  before_script:
  - cd scripts
  - make install
  script:
  - make test

test_api:
  retry: 1
  stage: test
  needs:
  - job: lint_api
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:$PYTHON_VERSION
  parallel:
    matrix:
    - PYTHON_VERSION:
      - '3.8'
      - '3.9'
      - '3.10'
      - '3.11'
  services:
  - name: postgres:15-alpine
    command:
    - --fsync=off
    - --full_page_writes=off
  ...

test_front:
  stage: test
  needs:
  - job: lint_front
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
      files:
      - front/yarn.lock
    paths:
    - front/node_modules
  - key:
      prefix: front-lint
      files:
  ...

build_api_schema:
  stage: build
  needs:
  - job: test_api
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  services:
  - postgres:15-alpine
  - redis:7-alpine
  cache:
  - key: api-pip-$PYTHON_VERSION
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: api-venv-$PYTHON_VERSION
      files:
  ...

build_docs:
  stage: build
  needs:
  - job: build_api_schema
    artifacts: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-docs:3.11
  cache:
  - key: docs-pip
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: docs-venv
      files:
      - docs/poetry.lock
    paths:
    - docs/.venv
  before_script:
  - cd docs
  - make install
  ...

build_front:
  stage: build
  needs:
  - job: lint_front
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  variables:
    GIT_STRATEGY: clone
    GIT_DEPTH: '5'
    FF_DISABLE_UMASK_FOR_DOCKER_EXECUTOR: 'true'
    NODE_OPTIONS: --max-old-space-size=4096
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  ...

lint
  api/funkwhale_api/contrib/listenbrainz/funkwhale_ready.py
  api/funkwhale_api/contrib/listenbrainz/tasks.py
  api/funkwhale_api/favorites/views.py
  api/tests/conftest.py
  api/tests/contrib/listenbrainz/test_tasks.py
  changes/changelog.d/2079.enhancement
Due: lint_api, test_api, build_api_schema, build_api

Apply 1 suggestion(s) to 1 file(s)
  api/funkwhale_api/contrib/listenbrainz/funkwhale_startup.py
Due: lint_api, test_api, build_api_schema, build_api

Apply 12 suggestion(s) to 4 file(s)
  api/config/plugins.py
  api/funkwhale_api/contrib/listenbrainz/funkwhale_startup.py
  api/funkwhale_api/contrib/listenbrainz/tasks.py
  api/tests/contrib/listenbrainz/test_listenbrainz.py
Due: lint_api, test_api, build_api_schema, build_api

implement listening and favorite sync with listenbrainz
  api/config/plugins.py
  api/config/settings/common.py
  api/funkwhale_api/contrib/listenbrainz/funkwhale_ready.py
  api/funkwhale_api/contrib/listenbrainz/funkwhale_startup.py
  api/funkwhale_api/contrib/listenbrainz/tasks.py
  api/funkwhale_api/favorites/migrations/0002_trackfavorite_from_listenbrainz.py
  api/funkwhale_api/favorites/models.py
  api/funkwhale_api/favorites/views.py
  api/funkwhale_api/history/migrations/0003_listening_from_listenbrainz.py
  api/funkwhale_api/history/models.py
  api/funkwhale_api/typesense/utils.py
  api/tests/contrib/__init__.py
  api/tests/contrib/listenbrainz/__init__.py
  api/tests/contrib/listenbrainz/test_listenbrainz.py
  api/tests/contrib/listenbrainz/test_tasks.py
Due: lint_api, test_api, build_api_schema, build_api

add favorite sync
  api/config/settings/common.py
  api/funkwhale_api/contrib/listenbrainz/funkwhale_ready.py
  api/funkwhale_api/contrib/listenbrainz/tasks.py
  api/funkwhale_api/favorites/factories.py
  api/tests/conftest.py
  api/tests/contrib/listenbrainz/test_listenbrainz.py
Due: lint_api, test_api, build_api_schema, build_api

loads of things
  api/funkwhale_api/contrib/listenbrainz/funkwhale_ready.py
  api/funkwhale_api/contrib/listenbrainz/tasks.py
  api/funkwhale_api/favorites/migrations/0002_trackfavorite_source.py
  api/funkwhale_api/history/migrations/0003_listening_source.py
  api/tests/contrib/listenbrainz/test_listenbrainz.py
  api/tests/contrib/listenbrainz/test_tasks.py
Due: lint_api, test_api, build_api_schema, build_api

lint
  api/tests/contrib/listenbrainz/test_listenbrainz.py
Due: lint_api, test_api, build_api_schema, build_api

delete test
  api/tests/contrib/listenbrainz/test_tasks.py
Due: lint_api, test_api, build_api_schema, build_api

lint
  api/funkwhale_api/contrib/listenbrainz/tasks.py
Due: lint_api, test_api, build_api_schema, build_api

lint
  api/funkwhale_api/contrib/listenbrainz/funkwhale_ready.py
Due: lint_api, test_api, build_api_schema, build_api

Add ListenBrainz sync documentation
  docs/user/plugins/listenbrainz.md
Due: review_docs, build_api_schema, build_docs

lint
  api/funkwhale_api/activity/utils.py
  api/funkwhale_api/contrib/listenbrainz/funkwhale_ready.py
  api/funkwhale_api/contrib/listenbrainz/tasks.py
  api/funkwhale_api/favorites/factories.py
  api/tests/conftest.py
  api/tests/contrib/listenbrainz/test_listenbrainz.py
Due: lint_api, test_api, build_api_schema, build_api

tests
  api/funkwhale_api/activity/utils.py
  api/funkwhale_api/contrib/listenbrainz/funkwhale_ready.py
  api/funkwhale_api/contrib/listenbrainz/funkwhale_startup.py
  api/funkwhale_api/contrib/listenbrainz/tasks.py
  api/funkwhale_api/favorites/factories.py
  api/tests/conftest.py
  api/tests/contrib/listenbrainz/test_listenbrainz.py
Due: lint_api, test_api, build_api_schema, build_api

various reviews
  api/funkwhale_api/contrib/listenbrainz/funkwhale_ready.py
  api/funkwhale_api/contrib/listenbrainz/tasks.py
  api/funkwhale_api/favorites/migrations/0002_trackfavorite_from_listenbrainz.py
  api/funkwhale_api/favorites/models.py
  api/funkwhale_api/history/migrations/0003_listening_from_listenbrainz.py
  api/funkwhale_api/history/models.py
Due: lint_api, test_api, build_api_schema, build_api

Update from attribute information
  docs/specs/genre-tags/index.md
Due: review_docs, build_api_schema, build_docs

chore: update rest of the dependencies
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front

chore: update audio context
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front

chore: update eslint and types
  front/package.json
  front/src/api/player.ts
  front/src/components/Queue.vue
  front/src/components/audio/SearchBar.vue
  front/src/components/auth/Settings.vue
  front/src/components/channels/UploadForm.vue
  front/src/components/library/radios/Filter.vue
  front/src/components/playlists/Form.vue
  front/src/components/vui/list/VirtualList.vue
  front/src/composables/audio/usePlayOptions.ts
  front/src/utils/fomantic.ts
  front/src/views/admin/Settings.vue
  front/src/views/admin/moderation/AccountsDetail.vue
  front/tsconfig.json
  front/yarn.lock
Due: lint_front, test_front, build_front

chore: update sentry
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front

chore: remove unused dependencies
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front

chore: update vue
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front

chore: update workbox
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front

chore: update PWA
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front

feat: add patch-package
  .pre-commit-config.yaml
  front/package.json
  front/patches/fomantic-ui-css+2.9.3.patch
  front/yarn.lock
Due: lint_front, test_front, build_front

Path conditions:
  review_docs: any of: docs/**/*
  lint_api: any of: api/**/*
  lint_front: any of: front/**/*
  test_scripts: any of: scripts/**/*
  test_api: any of: api/**/*
  test_front: any of: front/**/*
  build_api_schema: (any of: api/**/*) or (any of: docs/**/*)
  build_docs: any of: docs/**/*
  build_front: any of: front/**/*
  build_api: any of: api/**/*
