Repository mx2913/funkwhale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: review_docs, lint_api, lint_front, test_scripts, test_api, test_front, build_api_schema, build_docs, build_front, build_api

review_docs:
  allow_failure: true
  stage: review
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-docs:3.11
  environment:
    name: review/docs/$CI_COMMIT_REF_NAME
    url: http://$CI_PROJECT_NAMESPACE.pages.funkwhale.audio/-/$CI_PROJECT_NAME/-/jobs/$CI_JOB_ID/artifacts/docs-review/index.html
  cache:
  ...

lint_api:
  allow_failure: true
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  before_script:
  - cd api
  - make install
  script:
  - make lint

lint_front:
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
      files:
      - front/yarn.lock
    paths:
    - front/node_modules
  - key:
      prefix: front-lint
      files:
      - front/.eslintcache
  ...

test_scripts:
  stage: test
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python:3.11
  cache:
  - key: scripts-pip
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: scripts-venv
      files:
      - scripts/poetry.lock
    paths:
    - scripts/.venv
  before_script:
  - cd scripts
  - make install
  script:
  - make test

test_api:
  retry: 1
  stage: test
  needs:
  - job: lint_api
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:$PYTHON_VERSION
  parallel:
    matrix:
    - PYTHON_VERSION:
      - '3.8'
      - '3.9'
      - '3.10'
      - '3.11'
  services:
  - name: postgres:15-alpine
    command:
    - --fsync=off
    - --full_page_writes=off
  ...

test_front:
  stage: test
  needs:
  - job: lint_front
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
      files:
      - front/yarn.lock
    paths:
    - front/node_modules
  - key:
      prefix: front-lint
      files:
  ...

build_api_schema:
  stage: build
  needs:
  - job: test_api
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  services:
  - postgres:15-alpine
  - redis:7-alpine
  cache:
  - key: api-pip-$PYTHON_VERSION
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: api-venv-$PYTHON_VERSION
      files:
  ...

build_docs:
  stage: build
  needs:
  - job: build_api_schema
    artifacts: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-docs:3.11
  cache:
  - key: docs-pip
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: docs-venv
      files:
      - docs/poetry.lock
    paths:
    - docs/.venv
  before_script:
  - cd docs
  - make install
  ...

build_front:
  stage: build
  needs:
  - job: lint_front
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  variables:
    GIT_STRATEGY: clone
    GIT_DEPTH: '5'
    FF_DISABLE_UMASK_FOR_DOCKER_EXECUTOR: 'true'
    NODE_OPTIONS: --max-old-space-size=4096
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  ...

resolve test
  api/tests/music/test_tasks.py
Due: lint_api, test_api, build_api_schema, build_api

resolve test 2
  api/tests/conftest.py
  api/tests/test_import_audio_file.py
Due: lint_api, test_api, build_api_schema, build_api

docs: Fix redirect loop
  changes/changelog.d/moderator-docs-redirect-loop.doc
  docs/redirects.txt
Due: review_docs, build_api_schema, build_docs

make setting dynamic
  api/config/settings/common.py
  api/funkwhale_api/music/dynamic_preferences_registry.py
  api/funkwhale_api/music/tasks.py
  api/pyproject.toml
  api/tests/conftest.py
  api/tests/music/test_tasks.py
  api/tests/test_import_audio_file.py
  front/src/views/admin/Settings.vue
Due: lint_api, lint_front, test_api, test_front, build_api_schema, build_front, build_api

typo
  front/src/views/admin/Settings.vue
Due: lint_front, test_front, build_front

lint
  front/src/views/admin/Settings.vue
Due: lint_front, test_front, build_front

chore: update pre-commit hook codespell-project/codespell to v2.2.6
  .pre-commit-config.yaml
Due: none

feat(docs): update nodeinfo spec
  changes/changelog.d/nodeinfo2-update.doc
  docs/specs/nodeinfo21/index.md
  docs/specs/nodeinfo21/schema.yml
Due: review_docs, build_api_schema, build_docs

feat(docs): add multi-artist spec
  changes/changelog.d/multi-artist.doc
  docs/index.md
  docs/specs/multi-artist/index.md
Due: review_docs, build_api_schema, build_docs

chore(docs): Split up multi-artist spec
  docs/specs/multi-artist/index.md
  docs/specs/multi-artist/mb-content.md
  docs/specs/multi-artist/non-mb-content.md
Due: review_docs, build_api_schema, build_docs

feat(docs): add user follow spec
  changes/changelog.d/follows.doc
  docs/index.md
  docs/specs/user-follow/index.md
Due: review_docs, build_api_schema, build_docs

Revert "feat(docs): add user follow spec"
  changes/changelog.d/follows.doc
  docs/index.md
  docs/specs/user-follow/index.md
Due: review_docs, build_api_schema, build_docs

fix(docs): add missing has_mbid filter description
  changes/changelog.d/has_mbid.doc
  docs/specs/quality-filter/index.md
Due: review_docs, build_api_schema, build_docs

fix(codespell): Don't falsely report a name as spelling mistake
  .codespellignore
Due: none

fix: minor spelling issues
  CHANGELOG
  docs/user/channels/delete.md
Due: review_docs, build_api_schema, build_docs

fix: minor spelling issues
  CHANGELOG
  api/funkwhale_api/tags/filters.py
  docs/user/channels/delete.md
Due: review_docs, lint_api, test_api, build_api_schema, build_docs, build_api

ci(docker): Disable OCI mediatypes for buildx cache
  .gitlab-ci.yml
Due: none

resolves review
  api/funkwhale_api/music/dynamic_preferences_registry.py
  api/funkwhale_api/music/tasks.py
  api/tests/music/test_tasks.py
Due: lint_api, test_api, build_api_schema, build_api

chore(api): update dependency django to v3.2.23
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

chore(front): update dependency standardized-audio-context to v25.3.58
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front

fix(docs): update public profile wording
  docs/specs/user-follow/index.md
Due: review_docs, build_api_schema, build_docs

add test
  api/tests/music/test_tasks.py
Due: lint_api, test_api, build_api_schema, build_api

chore(renovate): Don't pin python version to the latest
  .gitlab/renovate.json
  changes/changelog.d/renovate-python.misc
Due: none

chore(docs): pin dependency sphinx-autobuild to 2021.3.14
  docs/poetry.lock
  docs/pyproject.toml
Due: review_docs, build_api_schema, build_docs

fix(docs): update public profile wording
  changes/changelog.d/follow.doc
  docs/index.md
  docs/specs/user-follow/index.md
Due: review_docs, build_api_schema, build_docs

feat(gitpod): Name the ports
  .gitpod.yml
Due: none

chore(gitpod): Pin python version to 3.11
  .gitpod/Dockerfile
Due: none

chore(gitpod): Speed up workspace initialisation
  .gitpod.yml
Due: none

Path conditions:
  review_docs: any of: docs/**/*
  lint_api: any of: api/**/*
  lint_front: any of: front/**/*
  test_scripts: any of: scripts/**/*
  test_api: any of: api/**/*
  test_front: any of: front/**/*
  build_api_schema: (any of: api/**/*) or (any of: docs/**/*)
  build_docs: any of: docs/**/*
  build_front: any of: front/**/*
  build_api: any of: api/**/*
