Repository mx2913/funkwhale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: review_docs, lint_api, lint_front, test_scripts, test_api, test_front, build_api_schema, build_docs, build_front, build_api

Path conditions:
  review_docs: any of: docs/**/*
  lint_api: any of: api/**/*
  lint_front: any of: front/**/*
  test_scripts: any of: scripts/**/*
  test_api: any of: api/**/*
  test_front: any of: front/**/*
  build_api_schema: (any of: api/**/*) or (any of: docs/**/*)
  build_docs: any of: docs/**/*
  build_front: any of: front/**/*
  build_api: any of: api/**/*

add prune mbid cli doc
  docs/administrator/manage-script/mbid_prune.md
Due: review_docs, build_api_schema, build_docs

lint
  docs/administrator/manage-script/mbid_prune.md
Due: review_docs, build_api_schema, build_docs

add prune mbid cli doc NOCHANGELOG
  docs/administrator/manage-script/mbid_prune.md
Due: review_docs, build_api_schema, build_docs

chore(front): update dependency dompurify to v3
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front

chore(front): update dependency eslint-plugin-n to v16
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front

chore(front): update dependency jsdom to v24
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front

fix: remove unused locale key
  front/src/locales/ar.json
  front/src/locales/bn_BD.json
  front/src/locales/ca.json
  front/src/locales/cs.json
  front/src/locales/de.json
  front/src/locales/el.json
  front/src/locales/en_GB.json
  front/src/locales/en_US.json
  front/src/locales/eo.json
  front/src/locales/es.json
  front/src/locales/eu.json
  front/src/locales/fr_FR.json
  front/src/locales/gl.json
  front/src/locales/it.json
  front/src/locales/ja_JP.json
  front/src/locales/kab_DZ.json
  front/src/locales/ml.json
  front/src/locales/nb_NO.json
  front/src/locales/nl.json
  front/src/locales/oc.json
  front/src/locales/pl.json
  front/src/locales/pt_BR.json
  front/src/locales/pt_PT.json
  front/src/locales/ru.json
  front/src/locales/sv.json
  front/src/locales/tr.json
  front/src/locales/zh_Hans.json
Due: lint_front, test_front, build_front

fix: fix some linting errors
  front/src/locales/fa_IR.json
  front/src/locales/ga.json
  front/src/locales/hu.json
  front/src/locales/id.json
  front/src/locales/ko_KR.json
  front/src/locales/nn_NO.json
  front/src/locales/sq.json
  front/src/locales/zh_Hant.json
  front/src/router/routes/index.ts
  front/src/views/ChooseInstance.vue
Due: lint_front, test_front, build_front

feat: add pre-commit to shellHook
  flake.nix
Due: none

chore: add changelog snippet
  changes/changelog.d/tauri.feature
Due: none

feat: enable switch instance button in tauri builds
  front/src/components/Sidebar.vue
Due: lint_front, test_front, build_front

ci: Build tauri desktop app
  .gitlab-ci.yml
Due: none

fix: fix locale path
  front/src/locales/ar.json
  front/src/locales/bn_BD.json
  front/src/locales/ca.json
  front/src/locales/cs.json
  front/src/locales/de.json
  front/src/locales/el.json
  front/src/locales/en_GB.json
  front/src/locales/en_US.json
  front/src/locales/eo.json
  front/src/locales/es.json
  front/src/locales/eu.json
  front/src/locales/fa_IR.json
  front/src/locales/fr_FR.json
  front/src/locales/ga.json
  front/src/locales/gl.json
  front/src/locales/hu.json
  front/src/locales/id.json
  front/src/locales/it.json
  front/src/locales/ja_JP.json
  front/src/locales/kab_DZ.json
  front/src/locales/ko_KR.json
  front/src/locales/ml.json
  front/src/locales/nb_NO.json
  front/src/locales/nl.json
  front/src/locales/nn_NO.json
  front/src/locales/oc.json
  front/src/locales/pl.json
  front/src/locales/pt_BR.json
  front/src/locales/pt_PT.json
  front/src/locales/ru.json
  front/src/locales/sq.json
  front/src/locales/sv.json
  front/src/locales/tr.json
  front/src/locales/zh_Hans.json
  front/src/locales/zh_Hant.json
Due: lint_front, test_front, build_front

style: fix linting
  front/src/App.vue
  front/tauri/favicon.svg
  front/tauri/tauri.conf.json
Due: lint_front, test_front, build_front

fix: fix tauri checks
  front/package.json
  front/src/init/serviceWorker.ts
  front/src/store/instance.ts
  front/yarn.lock
Due: lint_front, test_front, build_front

fix: update tauri-cli, so that @georgkrause could develop locally
  front/yarn.lock
Due: lint_front, test_front, build_front

feat: update to tauri v2-beta.1
  front/package.json
  front/tauri/Cargo.lock
  front/tauri/Cargo.toml
  front/tauri/capabilities/migrated.json
  front/tauri/tauri.conf.json
  front/yarn.lock
Due: lint_front, test_front, build_front

ci: Install dependencies before building tauri
  .gitlab-ci.yml
Due: none

ci: Add cargo bin to PATH
  .gitlab-ci.yml
Due: none

ci: Specify appimage path
  .gitlab-ci.yml
Due: none

test: test if tauri env is recognized correctly
  front/package.json
  front/src/components/Sidebar.vue
  front/src/composables/tauri.ts
  front/src/store/instance.ts
  front/test/specs/composables/tauri.spec.ts
  front/test/specs/store/instance.spec.ts
  front/yarn.lock
Due: lint_front, test_front, build_front

test(front): Install required dependencies for coverage calculation
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front

chore: Add frontend artifacts to gitignore
  .gitignore
Due: none

feat: add upload logic
  front/dev-dist/registerSW.js
  front/package.json
  front/src/'
  front/src/App.vue
  front/src/main.ts
  front/src/router/routes/index.ts
  front/src/router/routes/ui.ts
  front/src/ui/composables/metadata.ts
  front/src/ui/layouts/constrained.vue
  front/src/ui/layouts/default.vue
  front/src/ui/pages/upload.vue
  front/src/ui/stores/upload.ts
  front/src/ui/workers/file-metadata-parser.ts
  front/vite.config.ts
  front/yarn.lock
Due: lint_front, test_front, build_front

feat(upload): spawn worker dynamically, when uploading
  front/src/ui/pages/upload.vue
  front/src/ui/stores/upload.ts
  front/src/ui/workers/file-metadata-parser.ts
Due: lint_front, test_front, build_front

chore: remove accidentially commited files
  front/dev-dist/registerSW.js
  front/src/'
Due: lint_front, test_front, build_front

feat: add sidebar
  front/package.json
  front/src/App.vue
  front/src/LegacyLayout.vue
  front/src/main.ts
  front/src/ui/App.vue
  front/src/ui/components/Sidebar.vue
  front/src/ui/pages/upload.vue
  front/src/ui/stores/upload.ts
  front/src/utils/color.ts
  front/vite.config.ts
  front/yarn.lock
Due: lint_front, test_front, build_front

feat: add upload groups
  front/src/router/routes/ui.ts
  front/src/ui/components/CoverArt.vue
  front/src/ui/components/Sidebar.vue
  front/src/ui/components/UploadList.vue
  front/src/ui/components/UploadModal.vue
  front/src/ui/components/VerticalCollapse.vue
  front/src/ui/composables/bytes.ts
  front/src/ui/layouts/constrained.vue
  front/src/ui/pages/index.vue
  front/src/ui/pages/upload.vue
  front/src/ui/pages/upload/all.vue
  front/src/ui/pages/upload/files.vue
  front/src/ui/pages/upload/history.vue
  front/src/ui/pages/upload/index.vue
  front/src/ui/pages/upload/running.vue
  front/src/ui/stores/upload.ts
  front/src/ui/workers/file-metadata-parser.ts
Due: lint_front, test_front, build_front

feat: create router for UI v2
  front/src/App.vue
  front/src/router/index.ts
  front/src/router/routes/index.ts
  front/src/ui/components/CoverArt.vue
  front/src/ui/components/Sidebar.vue
  front/src/ui/components/UploadGroupList.vue
  front/src/ui/components/UploadList.vue
  front/src/ui/components/UploadModal.vue
  front/src/ui/components/VerticalCollapse.vue
  front/src/ui/composables/bytes.ts
  front/src/ui/composables/metadata.ts
  front/src/ui/pages/index.vue
  front/src/ui/pages/upload.vue
  front/src/ui/pages/upload/all.vue
  front/src/ui/pages/upload/index.vue
  front/src/ui/pages/upload/running.vue
  front/src/ui/routes/auth.ts
  front/src/ui/routes/content.ts
  front/src/ui/routes/index.ts
  front/src/ui/routes/library.ts
  front/src/ui/routes/manage.ts
  front/src/ui/routes/settings.ts
  front/src/ui/routes/ui.ts
  front/src/ui/routes/user.ts
  front/src/ui/stores/upload.ts
  front/src/ui/workers/file-metadata-parser.ts
Due: lint_front, test_front, build_front

feat: add missing upload views
  front/src/ui/components/UploadGroupList.vue
  front/src/ui/components/UploadList.vue
  front/src/ui/pages/upload/all.vue
  front/src/ui/pages/upload/history.vue
  front/src/ui/pages/upload/running.vue
Due: lint_front, test_front, build_front

feat: Assign upload groups to existing and news v1 uploads
  api/funkwhale_api/music/admin.py
  api/funkwhale_api/music/factories.py
  api/funkwhale_api/music/migrations/0059_upload_upload_group.py
  api/funkwhale_api/music/migrations/0060_auto_20240115_1055.py
  api/funkwhale_api/music/migrations/0061_alter_upload_upload_group.py
  api/funkwhale_api/music/models.py
  api/funkwhale_api/music/views.py
  api/tests/music/test_views.py
Due: lint_api, test_api, build_api_schema, build_api

feat: Implement upload groups
  api/config/urls/api_v2.py
  api/funkwhale_api/music/migrations/0058_uploadgroup.py
  api/funkwhale_api/music/models.py
  api/funkwhale_api/music/serializers.py
  api/funkwhale_api/music/views.py
  api/tests/music/test_urls.py
  api/tests/music/test_views.py
Due: lint_api, test_api, build_api_schema, build_api

wip: add v2 upload endpoint
  api/funkwhale_api/music/models.py
  api/funkwhale_api/music/serializers.py
  api/funkwhale_api/music/views.py
  api/tests/music/test_urls.py
  api/tests/music/test_views.py
Due: lint_api, test_api, build_api_schema, build_api

feat: Add createdAt and ownership to upload groups
  api/funkwhale_api/music/factories.py
  api/funkwhale_api/music/migrations/0063_auto_20240122_1358.py
  api/funkwhale_api/music/models.py
  api/funkwhale_api/music/serializers.py
  api/funkwhale_api/music/views.py
  api/tests/music/test_views.py
Due: lint_api, test_api, build_api_schema, build_api

fix: Use Related Factory to implicitly create upload groups
  api/funkwhale_api/music/factories.py
Due: lint_api, test_api, build_api_schema, build_api

fix: Allow upload group to be empty for remote uploads
  api/funkwhale_api/music/migrations/0062_alter_upload_upload_group.py
  api/funkwhale_api/music/models.py
Due: lint_api, test_api, build_api_schema, build_api

test: Patch environment to increase test stability
  api/tests/common/test_commands.py
Due: lint_api, test_api, build_api_schema, build_api
