Repository mx2913/funkwhale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: review_docs, lint_api, lint_front, test_api, build_api_schema, build_docs, build_front, build_api

review_docs:
  allow_failure: true
  stage: review
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  variables:
    BUILD_PATH: ../docs-review
  environment:
    name: review/docs/$CI_COMMIT_REF_NAME
  ...

lint_api:
  allow_failure: true
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  before_script:
  - cd api
  - make install
  script:
  - make lint

lint_front:
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
      files:
      - front/yarn.lock
    paths:
    - front/node_modules
  before_script:
  - cd front
  - yarn install --frozen-lockfile
  script:
  ...

test_api:
  retry: 1
  stage: test
  needs:
  - job: lint_api
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:$PYTHON_VERSION
  parallel:
    matrix:
    - PYTHON_VERSION:
      - '3.8'
      - '3.9'
      - '3.10'
      - '3.11'
  services:
  - postgres:15-alpine
  - redis:7-alpine
  cache:
  - key: api-pip-$PYTHON_VERSION
    paths:
  ...

build_api_schema:
  stage: build
  needs:
  - job: test_api
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  services:
  - postgres:15-alpine
  - redis:7-alpine
  cache:
  - key: api-pip-$PYTHON_VERSION
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: api-venv-$PYTHON_VERSION
      files:
  ...

build_docs:
  stage: build
  needs:
  - job: build_api_schema
    artifacts: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  variables:
    BUILD_PATH: ../public
    GIT_STRATEGY: clone
    GIT_DEPTH: 0
  cache:
  - key: docs-pip
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: docs-venv
      files:
  ...

build_front:
  stage: build
  needs:
  - job: lint_front
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  variables:
    GIT_STRATEGY: clone
    GIT_DEPTH: '5'
    FF_DISABLE_UMASK_FOR_DOCKER_EXECUTOR: 'true'
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
  ...

build_api:
  stage: build
  needs:
  - job: test_api
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/python:3.11
  variables:
    GIT_STRATEGY: clone
    GIT_DEPTH: '5'
    FF_DISABLE_UMASK_FOR_DOCKER_EXECUTOR: 'true'
  script:
  - rm -rf api/tests
  ...

Translated using Weblate (Russian)
  front/src/locales/ru.json
Due: lint_front, build_front

fix: resolve playlist modal issues
  front/src/views/playlists/List.vue
Due: lint_front, build_front

feat: implement typesense container
  api/Dockerfile
  api/config/settings/common.py
  api/poetry.lock
  api/pyproject.toml
  changes/changelog.d/2104.enhancement
  deploy/docker-compose.yml
  deploy/env.prod.sample
  dev.yml
Due: lint_api, test_api, build_api_schema, build_api

Translated using Weblate (German)
  front/src/locales/de.json
Due: lint_front, build_front

fix: move queue above sidebar
  front/src/style/components/_queue.scss
Due: lint_front, build_front

Translated using Weblate (Dutch)
  front/src/locales/nl.json
Due: lint_front, build_front

fix(docs): Remove unneeded postgres migration step
  changes/changelog.d/2124.doc
  docs/administrator/migration.md
Due: review_docs, build_api_schema, build_docs

fix: resolve merge errors
  front/package.json
Due: lint_front, build_front

chore: update dependencies
  front/package.json
Due: lint_front, build_front

feat: remove vue plugin inspector
  front/vite.config.ts
Due: lint_front, build_front

feat: re-add rollup-plugin-visualizer
  front/package.json
Due: lint_front, build_front

chore: update lockfile
  front/yarn.lock
Due: lint_front, build_front

fix(changelog): Adjust naming of changelog snippets
  changes/changelog.d/1563.enhancement
  changes/changelog.d/1866.enhancement
  changes/changelog.d/1875.enhancement
  changes/changelog.d/1919.bugfix
  changes/changelog.d/1976_2.doc
  changes/changelog.d/2049.doc
  changes/changelog.d/2092.bugfix
  changes/changelog.d/catch_value_error_radio.bugfix
  changes/changelog.d/debian-install-docs.bugfix
Due: none

fix(scripts): Avoid fails of contributor stats script if cleanup fails
  scripts/get-contributions-stats.py
Due: none

fix(changelog): Make sure everything is proper markdown
  CHANGELOG.md
Due: none

docs: Add redirect for outdated postgres upgrade guide link
  docs/redirects.txt
Due: review_docs, build_api_schema, build_docs

fix(changelog): Update link to postgres upgrade guide in changelog
  CHANGELOG
Due: none

chore: Bump myst-parser to fix documentation hub
  docs/poetry.lock
  docs/pyproject.toml
Due: review_docs, build_api_schema, build_docs

fix(changelog): Update link to postgres upgrade guide in changelog
  CHANGELOG.md
Due: none

fix(changelog): Fix rst syntax for changelog
  CHANGELOG
Due: none

Translated using Weblate (French)
  front/src/locales/fr_FR.json
Due: lint_front, build_front

Translated using Weblate (Galician)
  front/src/locales/gl.json
Due: lint_front, build_front

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/index.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/administrator/index.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/administrator/installation/docker.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/changelog.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/developer/index.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/developer/setup/index.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/developer/workflows/index.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/administrator/installation/debian.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/developer/plugins/create.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/administrator/uninstall/index.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/developer/contribute/index.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/user/index.po
Due: review_docs, build_api_schema, build_docs

Path conditions:
  review_docs: any of: docs/**/*
  lint_api: any of: api/**/*
  lint_front: any of: front/**/*
  test_api: any of: api/**/*
  build_api_schema: (any of: api/**/*) or (any of: docs/**/*)
  build_docs: any of: docs/**/*
  build_front: any of: front/**/*
  build_api: any of: api/**/*
