Repository mx2913/funkwhale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: review_docs, lint_api, lint_front, test_api, build_api_schema, build_docs, build_front, build_api

Path conditions:
  review_docs: any of: docs/**/*
  lint_api: any of: api/**/*
  lint_front: any of: front/**/*
  test_api: any of: api/**/*
  build_api_schema: (any of: api/**/*) or (any of: docs/**/*)
  build_docs: any of: docs/**/*
  build_front: any of: front/**/*
  build_api: any of: api/**/*

chore(api): update dependency boto3 to v1.26.152
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

chore(api): update dependency markdown to v3.4.3
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

chore(api): update dependency prompt-toolkit to v3.0.38
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

chore(api): update dependency psycopg2 to v2.9.6
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

chore(api): update dependency pytest-sugar to v0.9.7
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

fix: Use only RST syntax in Changelog, fixes merge conflict issues
  CHANGELOG
Due: none

fix(front): performance for all build platform
  front/Dockerfile
Due: lint_front, build_front

fix(playback): remove disposed sound instance from cache
  front/src/api/player.ts
  front/src/composables/audio/queue.ts
  front/src/composables/audio/tracks.ts
Due: lint_front, build_front

feat(playback): handle audio play errors
  front/src/api/player.ts
Due: lint_front, build_front

changelog
  changes/changelog.d/2136.bugfix
Due: none

chore: add changelog snippet
  changes/changelog.d/2157.bugfix
Due: none

ci: fetch tags before guessing latest version
  scripts/build_metadata.py
Due: none

style: fix linting
  changes/changelog.d/2157.bugfix
Due: none

chore(api): update dependency redis to v4.5.5
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

ci: reuse build metadata for docker build
  .gitlab-ci.yml
  Makefile
  scripts/build_metadata.py
Due: none

chore(front): update dependency dompurify to v2.4.5
  front/package.json
  front/yarn.lock
Due: lint_front, build_front

chore: Bump minimal python version of the API package
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

fix: Make sure dependency pins are working with pip install
  api/poetry.lock
  api/pyproject.toml
  changes/changelog.d/py37.bugfix
Due: lint_api, test_api, build_api_schema, build_api

chore(api): update dependency boto3 to v1.26.153
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

feat(instance): standardize instanceUrl value
  changes/changelog.d/2113.bugfix
  front/src/components/SetInstanceModal.vue
  front/src/store/instance.ts
Due: lint_front, build_front

chore: add new releases.py script
  scripts/releases.py
  scripts/releases_test.py
Due: none

docs: replace scripts with makefile
  .gitlab-ci.yml
  CHANGELOG.md
  changes/changelog.d/replace-docs-scripts-with-makefile.misc
  dev.yml
  docs/Dockerfile
  docs/Makefile
  docs/build_docs.sh
  docs/build_swagger.sh
  docs/conf.py
  docs/i18n_generate.sh
  docs/poetry.lock
  docs/pyproject.toml
  docs/serve.py
Due: review_docs, build_api_schema, build_docs

fix(front): added "dynamic_preferences" path block to nginx
  changes/changelog.d/2149.misc
  deploy/nginx.template
  docker/nginx/conf.dev
  front/docker/funkwhale.conf.template
Due: lint_front, build_front

fix: Make sure the old embed URLs are still working
  deploy/nginx.template
  docker/nginx/conf.dev
  front/docker/funkwhale.conf.template
Due: lint_front, build_front

fix: Load the spa manifest using the correct protocol
  deploy/nginx.template
  docker/nginx/conf.dev
  front/docker/funkwhale.conf.template
Due: lint_front, build_front

fix(docs): Fix redirect target for change url page
  docs/redirects.txt
Due: review_docs, build_api_schema, build_docs

chore(front): update dependency fomantic-ui-css to v2.9.2
  front/package.json
  front/yarn.lock
Due: lint_front, build_front

chore(api): update dependency boto3 to v1.26.154
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

fix(embed): use absolute paths for styles and images
  front/public/embed.html
Due: lint_front, build_front

chore(api): update dependency boto3 to v1.26.155
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

chore(front): update dependency idb-keyval to v6.2.1
  front/package.json
  front/yarn.lock
Due: lint_front, build_front

chore(front): update dependency standardized-audio-context to v25.3.52
  front/package.json
  front/yarn.lock
Due: lint_front, build_front

chore(front): update dependency vue-i18n to v9.3.0-beta.14-77e850b
  front/package.json
  front/yarn.lock
Due: lint_front, build_front

docs: Add NodeInfo 2.1 specification and schema
  changes/changelog.d/nodeinfo.doc
  docs/conf.py
  docs/index.md
  docs/specs/nodeinfo21/index.md
  docs/specs/nodeinfo21/schema.yml
Due: review_docs, build_api_schema, build_docs

chore(front): update dependency vue-i18n to v9.3.0-beta.19
  front/package.json
  front/yarn.lock
Due: lint_front, build_front

ci: don't run on branch containing stable or develop
  .gitlab-ci.yml
  changes/changelog.d/ci-fix-workflow-branch-regex.misc
Due: none

chore(front): update dependency vue-upload-component to v3.1.8
  front/package.json
  front/yarn.lock
Due: lint_front, build_front

chore(front): update dependency vue-virtual-scroller to v2.0.0-beta.8
  front/package.json
  front/yarn.lock
Due: lint_front, build_front

ci(front): speedup linting with eslint by using cache
  .gitignore
  .gitlab-ci.yml
  front/package.json
Due: lint_front, build_front

ci(front): speedup type checking with vue-tsc by using incremental cache
  .gitignore
  .gitlab-ci.yml
  front/package.json
Due: lint_front, build_front
