Repository mx2913/funkwhale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: black, flake8, eslint, test_api, test_front

Path conditions:
  black: any of: api/**/*
  flake8: any of: api/**/*
  eslint: any of: front/**/*
  test_api: any of: api/**/*
  test_front: any of: front/**/*

Generate docs for stable and develop
  docs/_templates/layout.html
  docs/_templates/versions.html
  docs/build_docs.sh
  docs/conf.py
Due: none

Adjust Pipeline config to use poetry for docs
  .gitlab-ci.yml
Due: none

Another try to make the required branches loavailable on the runner
  .gitlab-ci.yml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  front/src/components/forms/PasswordInput.vue
Due: eslint, test_front

Make date prop for HumanDate required again
  front/src/components/common/HumanDate.vue
Due: eslint, test_front

Fix some components props to be not required
  front/src/components/common/HumanDate.vue
  front/src/components/forms/PasswordInput.vue
  front/src/views/admin/library/AlbumDetail.vue
Due: eslint, test_front

Make Album ID required for AlbumDetail
  front/src/views/admin/library/AlbumDetail.vue
Due: eslint, test_front

Pass id to AlbumDetail in tests
  front/tests/unit/specs/views/admin/library.spec.js
Due: eslint, test_front

Fix vite dev env incompatible with ssl protocol
  front/vite.config.js
Due: eslint, test_front

Deleted translation using Weblate (Abkhazian)
  docs/locales/ab/LC_MESSAGES/glossary.po
Due: none

Added translation using Weblate (Abkhazian)
  docs/locales/ab/LC_MESSAGES/glossary.po
Due: none

Build docs in multiple languages, if available
  docs/_static/css/translation-hint.css
  docs/_static/js/translation-hint.js
  docs/_templates/layout.html
  docs/build_docs.sh
  docs/conf.py
Due: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/index.po
Due: none

Added translation using Weblate (English (United States))
  docs/locales/en_US/LC_MESSAGES/admin/backup.po
Due: none

Fixes SMTP URI documentation
  api/config/settings/common.py
  changes/changelog.d/1749.bugfix
  deploy/env.prod.sample
Due: black, flake8, test_api

Update dependency Sphinx to v4.5.0
  docs/poetry.lock
  docs/pyproject.toml
Due: none

Change dev.yml to resolve dns issues with federation dev setup (traefik)
  dev.yml
Due: none

add example import
  docs/administrator_documentation/manage_script/reference.md
  docs/conf.py
Due: none

Lock file maintenance
  docs/poetry.lock
  front/yarn.lock
Due: eslint, test_front

Add backup docs
  docs/administrator_documentation/configuration_docs/change_url.md
  docs/administrator_documentation/manage_script/database.md
  docs/administrator_documentation/manage_script/library.md
  docs/administrator_documentation/upgrade_docs/backup.md
  docs/administrator_documentation/upgrade_docs/index.md
Due: none

Fix trailing whitespace
  api/config/settings/common.py
  docs/administrator_documentation/configuration_docs/ldap.md
Due: black, flake8, test_api

Add change URL guide
  docs/administrator_documentation/configuration_docs/change_url.md
  docs/administrator_documentation/configuration_docs/index.md
Due: none

Add MRF documentation
  docs/administrator_documentation/configuration_docs/env_file.md
  docs/administrator_documentation/configuration_docs/index.md
  docs/administrator_documentation/configuration_docs/mrf.md
Due: none

Add frontend troubleshooting guide
  docs/administrator_documentation/configuration_docs/object_storage.md
  docs/administrator_documentation/troubleshooting/backend.md
  docs/administrator_documentation/troubleshooting/frontend.md
  docs/administrator_documentation/troubleshooting/get_help.md
  docs/administrator_documentation/troubleshooting/index.md
  docs/index.md
Due: none

Add S3 storage information
  docs/administrator_documentation/configuration_docs/index.md
  docs/administrator_documentation/configuration_docs/object_storage.md
Due: none

Document fix_uploads
  docs/administrator_documentation/manage_script/fix_uploads.md
  docs/administrator_documentation/manage_script/index.md
Due: none

Add LDAP and env file documentation
  api/config/settings/common.py
  changes/changelog.d/admin_docs.enhancement
  docs/administrator_documentation/configuration_docs/env_file.md
  docs/administrator_documentation/configuration_docs/index.md
  docs/administrator_documentation/configuration_docs/ldap.md
  docs/index.md
Due: black, flake8, test_api

Add import docs
  docs/administrator_documentation/import_docs/index.md
  docs/conf.py
  docs/index.md
Due: none

Add optimization doc
  docs/administrator_documentation/configuration_docs/index.md
  docs/administrator_documentation/configuration_docs/optimize.md
Due: none

Finish Django docs
  docs/administrator_documentation/django/delete_content.md
Due: none

Move redirects into separate file
  docs/conf.py
  docs/redirects.txt
Due: none

Update index files
  docs/administrator_documentation/configuration_docs/index.md
  docs/administrator_documentation/index.md
  docs/administrator_documentation/manage_script/index.md
Due: none

Add server migration guide
  docs/administrator_documentation/import_docs/index.md
  docs/administrator_documentation/installation_docs/index.md
  docs/administrator_documentation/installation_docs/migrate.md
Due: none

Add upgrade instructions
  docs/administrator_documentation/upgrade_docs/debian.md
  docs/administrator_documentation/upgrade_docs/docker.md
  docs/administrator_documentation/upgrade_docs/index.md
  docs/administrator_documentation/upgrade_docs/quick_install.md
  docs/index.md
Due: none

Document last manage.py methods
  docs/administrator_documentation/manage_script/database.md
  docs/administrator_documentation/manage_script/index.md
  docs/administrator_documentation/manage_script/library.md
  docs/administrator_documentation/manage_script/tags.md
  docs/administrator_documentation/manage_script/users.md
Due: none

Clean up command headers
  docs/administrator_documentation/manage_script/library.md
  docs/administrator_documentation/manage_script/users.md
Due: none

Start documenting Django and manage
  docs/administrator_documentation/django/delete_content.md
  docs/administrator_documentation/django/index.md
  docs/administrator_documentation/manage_script/database.md
  docs/administrator_documentation/manage_script/index.md
  docs/administrator_documentation/manage_script/library.md
  docs/administrator_documentation/manage_script/tags.md
  docs/administrator_documentation/manage_script/thumbnails.md
  docs/administrator_documentation/manage_script/users.md
  docs/index.md
Due: none

Add frontend customization instructions
  docs/administrator_documentation/configuration_docs/frontend.md
  docs/administrator_documentation/configuration_docs/index.md
Due: none
