Repository mx2913/funkwhale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: review_docs, lint_api, lint_front, test_api, build_api_schema, build_docs, build_front, build_api

review_docs:
  allow_failure: true
  stage: review
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  variables:
    BUILD_PATH: ../docs-review
  environment:
    name: review/docs/$CI_COMMIT_REF_NAME
  ...

lint_api:
  allow_failure: true
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  before_script:
  - cd api
  - make install
  script:
  - make lint

lint_front:
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
      files:
      - front/yarn.lock
    paths:
    - front/node_modules
  before_script:
  - cd front
  - yarn install --frozen-lockfile
  script:
  ...

test_api:
  retry: 1
  stage: test
  needs:
  - job: lint_api
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:$PYTHON_VERSION
  parallel:
    matrix:
    - PYTHON_VERSION:
      - '3.8'
      - '3.9'
      - '3.10'
      - '3.11'
  services:
  - postgres:15-alpine
  - redis:7-alpine
  cache:
  - key: api-pip-$PYTHON_VERSION
    paths:
  ...

build_api_schema:
  stage: build
  needs:
  - job: test_api
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  services:
  - postgres:15-alpine
  - redis:7-alpine
  cache:
  - key: api-pip-$PYTHON_VERSION
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: api-venv-$PYTHON_VERSION
      files:
  ...

build_docs:
  stage: build
  needs:
  - job: build_api_schema
    artifacts: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  variables:
    BUILD_PATH: ../public
    GIT_STRATEGY: clone
    GIT_DEPTH: 0
  cache:
  - key: docs-pip
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: docs-venv
      files:
  ...

build_front:
  stage: build
  needs:
  - job: lint_front
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  variables:
    GIT_STRATEGY: clone
    GIT_DEPTH: '5'
    FF_DISABLE_UMASK_FOR_DOCKER_EXECUTOR: 'true'
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
  ...

build_api:
  stage: build
  needs:
  - job: test_api
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/python:3.11
  variables:
    GIT_STRATEGY: clone
    GIT_DEPTH: '5'
    FF_DISABLE_UMASK_FOR_DOCKER_EXECUTOR: 'true'
  script:
  - rm -rf api/tests
  ...

fix(docs): Allow make to be run on MacOS
  docs/Makefile
Due: review_docs, build_api_schema, build_docs

chore(docs): Remove obsolete Dockerfile
  docs/Dockerfile
Due: review_docs, build_api_schema, build_docs

Update contributor documentation for the docs
  docs/contributor/documentation.md
Due: review_docs, build_api_schema, build_docs

feat(docs): Run documentation dev server in Gitpod
  .gitpod.yml
Due: none

refactor(docs): Replace custom serve script with sphinx-autoreload
  docs/Makefile
  docs/_scripts/serve.py
  docs/poetry.lock
  docs/pyproject.toml
Due: review_docs, build_api_schema, build_docs

docs: replace scripts with makefile
  .gitlab-ci.yml
  changes/changelog.d/replace-docs-scripts-with-makefile.misc
  dev.yml
  docs/Dockerfile
  docs/Makefile
  docs/_scripts/locale-prune-untranslated.py
  docs/_scripts/serve.py
  docs/build_docs.sh
  docs/build_swagger.sh
  docs/conf.py
  docs/i18n_generate.sh
  docs/poetry.lock
  docs/pyproject.toml
  docs/serve.py
Due: review_docs, build_api_schema, build_docs

chore: add new releases.py script
  scripts/releases.py
  scripts/releases_test.py
Due: none

fix(docs): Make sure required directory exists
  docs/Makefile
Due: review_docs, build_api_schema, build_docs

chore: Delete obsolete script
  docs/get-releases-json.py
Due: review_docs, build_api_schema, build_docs

fix(docs): Use correct path configs
  docs/conf.py
Due: review_docs, build_api_schema, build_docs

chore(gitpod): Speed up workspace initialisation
  .gitpod.yml
Due: none

feat(gitpod): Name the ports
  .gitpod.yml
Due: none

chore: Remove logging handler
  scripts/releases.py
Due: none

chore(docs): Remove docker setup
  dev.yml
  docs/Dockerfile
Due: review_docs, build_api_schema, build_docs

fix(gitpod): Remove falsely added pyenv commands
  .gitpod/Dockerfile
Due: none

Only allow MusicBrainz tagged file on a pod (#2083)
  api/funkwhale_api/music/tasks.py
  api/pyproject.toml
  api/tests/music/test_tasks.py
Due: lint_api, test_api, build_api_schema, build_api

add common setting and lint
  api/config/settings/common.py
  api/tests/music/test_tasks.py
Due: lint_api, test_api, build_api_schema, build_api

changelog
  changes/changelog.d/2083.newfeature
Due: none

Avoid troi radio to give duplicates (#2231)
  api/funkwhale_api/radios/lb_recommendations.py
  changes/changelog.d/2231.bugfix
Due: lint_api, test_api, build_api_schema, build_api

Path conditions:
  review_docs: any of: docs/**/*
  lint_api: any of: api/**/*
  lint_front: any of: front/**/*
  test_api: any of: api/**/*
  build_api_schema: (any of: api/**/*) or (any of: docs/**/*)
  build_docs: any of: docs/**/*
  build_front: any of: front/**/*
  build_api: any of: api/**/*
