Repository mx2913/funkwhale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: review_docs, lint_api, lint_front, test_api, build_api_schema, build_docs, build_front, build_api

review_docs:
  allow_failure: true
  stage: review
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  variables:
    BUILD_PATH: ../docs-review
  environment:
    name: review/docs/$CI_COMMIT_REF_NAME
  ...

lint_api:
  allow_failure: true
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  before_script:
  - cd api
  - make install
  script:
  - make lint

lint_front:
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
      files:
      - front/yarn.lock
    paths:
    - front/node_modules
  before_script:
  - cd front
  - yarn install --frozen-lockfile
  script:
  ...

test_api:
  retry: 1
  stage: test
  needs:
  - job: lint_api
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:$PYTHON_VERSION
  parallel:
    matrix:
    - PYTHON_VERSION:
      - '3.8'
      - '3.9'
      - '3.10'
      - '3.11'
  services:
  - postgres:15-alpine
  - redis:7-alpine
  cache:
  - key: api-pip-$PYTHON_VERSION
    paths:
  ...

build_api_schema:
  stage: build
  needs:
  - job: test_api
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  services:
  - postgres:15-alpine
  - redis:7-alpine
  cache:
  - key: api-pip-$PYTHON_VERSION
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: api-venv-$PYTHON_VERSION
      files:
  ...

build_docs:
  stage: build
  needs:
  - job: build_api_schema
    artifacts: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  variables:
    BUILD_PATH: ../public
    GIT_STRATEGY: clone
    GIT_DEPTH: 0
  cache:
  - key: docs-pip
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: docs-venv
      files:
  ...

build_front:
  stage: build
  needs:
  - job: lint_front
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  variables:
    GIT_STRATEGY: clone
    GIT_DEPTH: '5'
    FF_DISABLE_UMASK_FOR_DOCKER_EXECUTOR: 'true'
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
  ...

build_api:
  stage: build
  needs:
  - job: test_api
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/python:3.11
  variables:
    GIT_STRATEGY: clone
    GIT_DEPTH: '5'
    FF_DISABLE_UMASK_FOR_DOCKER_EXECUTOR: 'true'
  script:
  - rm -rf api/tests
  ...

Use reload instead of restart
  docs/administrator/installation/debian.md
  docs/administrator/installation/docker.md
  docs/administrator/upgrade/debian.md
  docs/administrator/upgrade/docker.md
Due: review_docs, build_api_schema, build_docs

Simplify Code
  front/src/components/audio/PlayButton.vue
Due: lint_front, build_front

fix(2054): player/queue-dropdown mobile layout widths
  changes/changelog.d/2054.bugfix
  front/src/style/components/_player.scss
  front/src/style/components/_queue.scss
Due: lint_front, build_front

style(2054): Remove unnessessary nesting
  front/src/components/audio/PlayButton.vue
Due: lint_front, build_front

fix(2054): Increase mobile table row padding
  front/src/style/components/_track_table.scss
Due: lint_front, build_front

fix(2054): only calculate dropdown position when opening
  front/src/components/audio/PlayButton.vue
Due: lint_front, build_front

fix(2054): Crash on opening a play button menu
  front/src/components/audio/PlayButton.vue
Due: lint_front, build_front

fix(2054): add queue item title max width for mobile
  front/src/style/components/_queue.scss
Due: lint_front, build_front

fix(tests): make frontend tests compatible with current frontend setup
  front/package.json
  front/test/setup/mock-audio-context.ts
  front/test/setup/mock-vue-i18n.ts
  front/test/specs/views/admin/library.test.ts
  front/vite.config.ts
  front/yarn.lock
Due: lint_front, build_front

test(front): add queue composable tests
  front/test/setup/mock-audio-context.ts
  front/test/specs/composables/audio/queue.test.ts
Due: lint_front, build_front

feat(front): lint test directory
  front/package.json
  front/src/composables/audio/queue.ts
  front/test/setup/mock-audio-context.ts
  front/test/specs/composables/audio/queue.test.ts
Due: lint_front, build_front

fix(queue): batch queue splice invocations when reordering items to avoid currentIndex being dumped down due to clamping
  front/src/composables/audio/queue.ts
Due: lint_front, build_front

test: add poetry check pre-commit hook
  .pre-commit-config.yaml
Due: none

fix: fix notification count
  front/src/components/notifications/NotificationRow.vue
  front/src/views/Notifications.vue
Due: lint_front, build_front

fix(ui): work around #1981
  front/src/views/Notifications.vue
Due: lint_front, build_front

fix(ui): move sidebar above other content
  front/src/style/components/_sidebar.scss
Due: lint_front, build_front

chore(docs): add postgres update instructions
  changes/changelog.d/2049.docs
  docs/administrator/migration.md
  docs/administrator/upgrade/docker.md
  docs/conf.py
Due: review_docs, build_api_schema, build_docs

feat(docs): add documentation snippets
  .vscode/markdown.code-snippets
Due: none

refactor(ui): add comments explaining postponing notification for 36500 days
  front/src/views/Notifications.vue
Due: lint_front, build_front

Translated using Weblate (German)
  front/src/locales/de.json
Due: lint_front, build_front

Address feedback
  docs/administrator/upgrade/docker.md
Due: review_docs, build_api_schema, build_docs

chore(docs): Fix broken links in README files
  README.md
  api/Readme.md
  changes/changelog.d/1976.doc
Due: lint_api, test_api, build_api_schema, build_api

Remove develop subpath
  api/Readme.md
Due: lint_api, test_api, build_api_schema, build_api

Update CONTRIBUTING links
  CONTRIBUTING.md
Due: none

chore(docs): add systemd steps to Debian upgrade
  changes/changelog.d/1966.doc
  docs/administrator/upgrade/debian.md
Due: review_docs, build_api_schema, build_docs

chore(docs): Fix broken links
  CHANGELOG
  changes/changelog.d/1976.docs
  docs/redirects.txt
Due: review_docs, build_api_schema, build_docs

Version bump and changelog for 1.3.0-rc6
  CHANGELOG
  api/funkwhale_api/__init__.py
Due: lint_api, test_api, build_api_schema, build_api

Translated using Weblate (Russian)
  front/src/locales/ru.json
Due: lint_front, build_front

chore: Remove duplicated import
  front/vite.config.ts
Due: lint_front, build_front

fix(front): resolve merging bug that breaks queue reordering
  front/src/composables/audio/queue.ts
Due: lint_front, build_front

Translated using Weblate (Portuguese (Brazil))
  front/src/locales/pt_BR.json
Due: lint_front, build_front

feat: allow the creation of random test notifications
  api/funkwhale_api/common/management/commands/testdata.py
  changes/changelog.d/2123.feature
Due: lint_api, test_api, build_api_schema, build_api

Path conditions:
  review_docs: any of: docs/**/*
  lint_api: any of: api/**/*
  lint_front: any of: front/**/*
  test_api: any of: api/**/*
  build_api_schema: (any of: api/**/*) or (any of: docs/**/*)
  build_docs: any of: docs/**/*
  build_front: any of: front/**/*
  build_api: any of: api/**/*
