Repository mx2913/funkwhale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: review_docs, lint_api, lint_front, test_api, build_api_schema, build_docs, build_front, build_api

review_docs:
  allow_failure: true
  stage: review
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  variables:
    BUILD_PATH: ../docs-review
  environment:
    name: review/docs/$CI_COMMIT_REF_NAME
  ...

lint_api:
  allow_failure: true
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  before_script:
  - cd api
  - make install
  script:
  - make lint

lint_front:
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
      files:
      - front/yarn.lock
    paths:
    - front/node_modules
  before_script:
  - cd front
  - yarn install --frozen-lockfile
  script:
  ...

test_api:
  retry: 1
  stage: test
  needs:
  - job: lint_api
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:$PYTHON_VERSION
  parallel:
    matrix:
    - PYTHON_VERSION:
      - '3.8'
      - '3.9'
      - '3.10'
      - '3.11'
  services:
  - postgres:15-alpine
  - redis:7-alpine
  cache:
  - key: api-pip-$PYTHON_VERSION
    paths:
  ...

build_api_schema:
  stage: build
  needs:
  - job: test_api
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  services:
  - postgres:15-alpine
  - redis:7-alpine
  cache:
  - key: api-pip-$PYTHON_VERSION
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: api-venv-$PYTHON_VERSION
      files:
  ...

build_docs:
  stage: build
  needs:
  - job: build_api_schema
    artifacts: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  variables:
    BUILD_PATH: ../public
    GIT_STRATEGY: clone
    GIT_DEPTH: 0
  cache:
  - key: docs-pip
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: docs-venv
      files:
  ...

build_front:
  stage: build
  needs:
  - job: lint_front
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  variables:
    GIT_STRATEGY: clone
    GIT_DEPTH: '5'
    FF_DISABLE_UMASK_FOR_DOCKER_EXECUTOR: 'true'
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
  ...

build_api:
  stage: build
  needs:
  - job: test_api
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/python:3.11
  variables:
    GIT_STRATEGY: clone
    GIT_DEPTH: '5'
    FF_DISABLE_UMASK_FOR_DOCKER_EXECUTOR: 'true'
  script:
  - rm -rf api/tests
  ...

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/moderator/index.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/user/favorites/index.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/contributor/index.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/moderator/content/index.po
Due: review_docs, build_api_schema, build_docs

style: Remove useless blank line to make linter happy
  front/src/router/guards.ts
Due: lint_front, build_front

Fix(front): Set correct PWA color theme.
  changes/changelog.d/2147.misc
  front/index.html
Due: lint_front, build_front

Translated using Weblate (English (United Kingdom))
  docs/locales/en_GB/LC_MESSAGES/administrator/troubleshooting/backend.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (English (United Kingdom))
  docs/locales/en_GB/LC_MESSAGES/administrator/uninstall/debian.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (English (United Kingdom))
  docs/locales/en_GB/LC_MESSAGES/administrator/uninstall/docker.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (English (United Kingdom))
  docs/locales/en_GB/LC_MESSAGES/developer/api/authentication.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (English (United Kingdom))
  docs/locales/en_GB/LC_MESSAGES/administrator/configuration/frontend.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (English (United Kingdom))
  docs/locales/en_GB/LC_MESSAGES/developer/federation/index.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (English (United Kingdom))
  docs/locales/en_GB/LC_MESSAGES/developer/api/subsonic.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (English (United Kingdom))
  docs/locales/en_GB/LC_MESSAGES/developer/plugins/create.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (English (United Kingdom))
  docs/locales/en_GB/LC_MESSAGES/user/info/cli.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (English (United Kingdom))
  docs/locales/en_GB/LC_MESSAGES/user/libraries/content/tag.po
Due: review_docs, build_api_schema, build_docs

chore(front): update vue monorepo to v3.3.2
  front/package.json
  front/yarn.lock
Due: lint_front, build_front

test(front): fix lint error with vue lazyload
  front/src/init/lazyLoad.ts
Due: lint_front, build_front

Fix(front) Added "dynamic_preferences" block nginx.
  changes/changelog.d/2149.misc
  front/docker/funkwhale.conf.template
Due: lint_front, build_front

feat(cli): Implicitly set staff flag if superuser flag is set
  api/funkwhale_api/cli/users.py
  api/tests/cli/test_users.py
Due: lint_api, test_api, build_api_schema, build_api

fix(api): Avoid the creation of users using djangos createsuperuser command
  api/config/settings/common.py
  api/funkwhale_api/common/management/commands/createsuperuser.py
  changes/changelog.d/1288.feature
Due: lint_api, test_api, build_api_schema, build_api

docs: update superuser command
  docs/administrator/installation/debian.md
  docs/administrator/installation/docker.md
  docs/developer/setup/docker.md
Due: review_docs, build_api_schema, build_docs

chore(front): update vite to v4.3.5
  front/package.json
  front/yarn.lock
Due: lint_front, build_front

chore(front): update vue-tsc to v1.6.5
  front/package.json
  front/yarn.lock
Due: lint_front, build_front

chore(api): update dependency boto3 to v1.26.149
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

ci: add build_metadata job and export env
  .gitlab-ci.yml
Due: none

chore: add build_metadata script
  .gitlab-ci.yml
  changes/changelog.d/add-build-metadata-script.misc
  scripts/Makefile
  scripts/build_metadata.py
  scripts/build_metadata_test.py
  scripts/poetry.lock
  scripts/pyproject.toml
Due: none

ci: fix deploy_docs job after merge from stable
  .gitlab-ci.yml
  changes/changelog.d/ci-fix-deploy-docs.misc
Due: none

changent deploy docker model for typesense
  deploy/docker-compose.yml
Due: none

chore(api): update dependency psycopg2 to v2.9.6
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

ci: don't fetch branch in require_changelog
  .gitlab-ci.yml
Due: none

chore: update pre-commit hook python-poetry/poetry to v1.5.1
  .pre-commit-config.yaml
Due: none

ci: use buildx bake in docker build job
  .gitignore
  .gitlab-ci.yml
  Makefile
  api/Dockerfile
  changes/changelog.d/ci-use-buildx-bake-in-docker-job.misc
  docker-bake.json
  front/Dockerfile
Due: lint_api, lint_front, test_api, build_api_schema, build_front, build_api

refactor(front): improve docker layer caching
  front/Dockerfile
Due: lint_front, build_front

chore: update pre-commit hook asottile/pyupgrade to v3.4.0
  .pre-commit-config.yaml
Due: none

chore: update pre-commit hook codespell-project/codespell to v2.2.4
  .pre-commit-config.yaml
Due: none

chore: fix spelling errors
  .codespellignore
  api/funkwhale_api/users/wordlist.txt
Due: lint_api, test_api, build_api_schema, build_api

bug-fix-prune-skipped-upload
  api/funkwhale_api/music/management/commands/prune_skipped_uploads.py
Due: lint_api, test_api, build_api_schema, build_api

ci: don't run on branch containing stable or develop
  .gitlab-ci.yml
  changes/changelog.d/ci-fix-workflow-branch-regex.misc
Due: none

Path conditions:
  review_docs: any of: docs/**/*
  lint_api: any of: api/**/*
  lint_front: any of: front/**/*
  test_api: any of: api/**/*
  build_api_schema: (any of: api/**/*) or (any of: docs/**/*)
  build_docs: any of: docs/**/*
  build_front: any of: front/**/*
  build_api: any of: api/**/*
