Repository mx2913/funkwhale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: review_docs, lint_api, lint_front, test_scripts, test_api, test_front, build_api_schema, build_docs, build_front, build_api

review_docs:
  allow_failure: true
  stage: review
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-docs:3.11
  environment:
    name: review/docs/$CI_COMMIT_REF_NAME
    url: http://$CI_PROJECT_NAMESPACE.pages.funkwhale.audio/-/$CI_PROJECT_NAME/-/jobs/$CI_JOB_ID/artifacts/docs-review/index.html
  cache:
  ...

lint_api:
  allow_failure: true
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  before_script:
  - cd api
  - make install
  script:
  - make lint

lint_front:
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
      files:
      - front/yarn.lock
    paths:
    - front/node_modules
  - key:
      prefix: front-lint
      files:
      - front/.eslintcache
  ...

test_scripts:
  stage: test
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python:3.11
  cache:
  - key: scripts-pip
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: scripts-venv
      files:
      - scripts/poetry.lock
    paths:
    - scripts/.venv
  before_script:
  - cd scripts
  - make install
  script:
  - make test

test_api:
  retry: 1
  stage: test
  needs:
  - job: lint_api
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:$PYTHON_VERSION
  parallel:
    matrix:
    - PYTHON_VERSION:
      - '3.8'
      - '3.9'
      - '3.10'
      - '3.11'
  services:
  - name: postgres:15-alpine
    command:
    - --fsync=off
    - --full_page_writes=off
  ...

test_front:
  stage: test
  needs:
  - job: lint_front
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
      files:
      - front/yarn.lock
    paths:
    - front/node_modules
  - key:
      prefix: front-lint
      files:
  ...

build_api_schema:
  stage: build
  needs:
  - job: test_api
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  services:
  - postgres:15-alpine
  - redis:7-alpine
  cache:
  - key: api-pip-$PYTHON_VERSION
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: api-venv-$PYTHON_VERSION
      files:
  ...

build_docs:
  stage: build
  needs:
  - job: build_api_schema
    artifacts: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-docs:3.11
  cache:
  - key: docs-pip
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: docs-venv
      files:
      - docs/poetry.lock
    paths:
    - docs/.venv
  before_script:
  - cd docs
  - make install
  ...

build_front:
  stage: build
  needs:
  - job: lint_front
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  variables:
    GIT_STRATEGY: clone
    GIT_DEPTH: '5'
    FF_DISABLE_UMASK_FOR_DOCKER_EXECUTOR: 'true'
    NODE_OPTIONS: --max-old-space-size=4096
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  ...

test
  api/funkwhale_api/music/migrations/0058_remove_album_artist_remove_track_artist_artistcredit_and_more.py
Due: lint_api, test_api, build_api_schema, build_api

lint
  api/funkwhale_api/music/serializers.py
  api/funkwhale_api/music/views.py
Due: lint_api, test_api, build_api_schema, build_api

atomic block and lint
  api/funkwhale_api/federation/serializers.py
  api/funkwhale_api/music/dynamic_preferences_registry.py
  api/funkwhale_api/music/serializers.py
  api/funkwhale_api/music/views.py
  api/tests/cli/test_main.py
Due: lint_api, test_api, build_api_schema, build_api

Translated using Weblate (Catalan)
  front/src/locales/ca.json
Due: lint_front, test_front, build_front

chore(deps): Bump vite version
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front

update genre tag spec
  docs/specs/genre-tags/index.md
Due: review_docs, build_api_schema, build_docs

Allow special characters in tags (#2009)
  api/funkwhale_api/music/metadata.py
Due: lint_api, test_api, build_api_schema, build_api

changelog
  changes/changelog.d/2009.enhancement
Due: none

lit
  docs/specs/genre-tags/index.md
Due: review_docs, build_api_schema, build_docs

resolve test and delete some more formating
  api/funkwhale_api/music/metadata.py
  api/tests/music/test_metadata.py
Due: lint_api, test_api, build_api_schema, build_api

lint
  api/funkwhale_api/manage/filters.py
  api/funkwhale_api/music/views.py
  api/funkwhale_api/tags/tasks.py
  api/funkwhale_api/tags/views.py
  api/tests/tags/test_filters.py
Due: lint_api, test_api, build_api_schema, build_api

lint
  api/funkwhale_api/tags/views.py
Due: lint_api, test_api, build_api_schema, build_api

Add Musicbrainz genres to funkwhale tag table and allow Musicbrainz tag sync (#2143)
  api/config/settings/common.py
  api/funkwhale_api/manage/filters.py
  api/funkwhale_api/manage/views.py
  api/funkwhale_api/music/dynamic_preferences_registry.py
  api/funkwhale_api/music/tasks.py
  api/funkwhale_api/music/views.py
  api/funkwhale_api/tags/filters.py
  api/funkwhale_api/tags/migrations/0003_tag_mbid_alter_tag_name.py
  api/funkwhale_api/tags/models.py
  api/funkwhale_api/tags/tasks.py
  api/funkwhale_api/tags/views.py
  api/tests/tags/test_filters.py
  api/tests/tags/test_tasks.py
  changes/changelog.d/2143.feature
  front/src/views/admin/Settings.vue
Due: lint_api, lint_front, test_api, test_front, build_api_schema, build_front, build_api

chore(deps): Bump axios
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front

spec-playlist-federation
  docs/specs/playlist-federation/index.md
Due: review_docs, build_api_schema, build_docs

forbid empty tag
  api/funkwhale_api/music/metadata.py
Due: lint_api, test_api, build_api_schema, build_api

resolve lots of issues
  api/funkwhale_api/music/dynamic_preferences_registry.py
  api/funkwhale_api/music/metadata.py
  api/funkwhale_api/music/migrations/0058_remove_album_artist_remove_track_artist_artistcredit_and_more.py
  api/funkwhale_api/music/tasks.py
  api/tests/music/test_metadata.py
  api/tests/music/test_tasks.py
  front/src/components/library/TrackDetail.vue
Due: lint_api, lint_front, test_api, test_front, build_api_schema, build_front, build_api

migrate from name to credit in federation object
  api/funkwhale_api/federation/contexts.py
  api/funkwhale_api/federation/serializers.py
  api/funkwhale_api/music/tasks.py
  api/tests/federation/test_serializers.py
  api/tests/music/test_serializers.py
  api/tests/music/test_tasks.py
Due: lint_api, test_api, build_api_schema, build_api

Path conditions:
  review_docs: any of: docs/**/*
  lint_api: any of: api/**/*
  lint_front: any of: front/**/*
  test_scripts: any of: scripts/**/*
  test_api: any of: api/**/*
  test_front: any of: front/**/*
  build_api_schema: (any of: api/**/*) or (any of: docs/**/*)
  build_docs: any of: docs/**/*
  build_front: any of: front/**/*
  build_api: any of: api/**/*
