Repository mx2913/funkwhale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: review_docs, lint_api, lint_front, test_scripts, test_api, test_front, build_api_schema, build_docs, build_front, build_api

review_docs:
  allow_failure: true
  stage: review
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-docs:3.11
  environment:
    name: review/docs/$CI_COMMIT_REF_NAME
    url: http://$CI_PROJECT_NAMESPACE.pages.funkwhale.audio/-/$CI_PROJECT_NAME/-/jobs/$CI_JOB_ID/artifacts/docs-review/index.html
  cache:
  ...

lint_api:
  allow_failure: true
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  before_script:
  - cd api
  - make install
  script:
  - make lint

lint_front:
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
      files:
      - front/yarn.lock
    paths:
    - front/node_modules
  - key:
      prefix: front-lint
      files:
      - front/.eslintcache
  ...

test_scripts:
  stage: test
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python:3.11
  cache:
  - key: scripts-pip
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: scripts-venv
      files:
      - scripts/poetry.lock
    paths:
    - scripts/.venv
  before_script:
  - cd scripts
  - make install
  script:
  - make test

test_api:
  retry: 1
  stage: test
  needs:
  - job: lint_api
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:$PYTHON_VERSION
  parallel:
    matrix:
    - PYTHON_VERSION:
      - '3.8'
      - '3.9'
      - '3.10'
      - '3.11'
  services:
  - name: postgres:15-alpine
    command:
    - --fsync=off
    - --full_page_writes=off
  ...

test_front:
  stage: test
  needs:
  - job: lint_front
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
      files:
      - front/yarn.lock
    paths:
    - front/node_modules
  - key:
      prefix: front-lint
      files:
  ...

build_api_schema:
  stage: build
  needs:
  - job: test_api
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  services:
  - postgres:15-alpine
  - redis:7-alpine
  cache:
  - key: api-pip-$PYTHON_VERSION
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: api-venv-$PYTHON_VERSION
      files:
  ...

build_docs:
  stage: build
  needs:
  - job: build_api_schema
    artifacts: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-docs:3.11
  cache:
  - key: docs-pip
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: docs-venv
      files:
      - docs/poetry.lock
    paths:
    - docs/.venv
  before_script:
  - cd docs
  - make install
  ...

build_front:
  stage: build
  needs:
  - job: lint_front
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  variables:
    GIT_STRATEGY: clone
    GIT_DEPTH: '5'
    FF_DISABLE_UMASK_FOR_DOCKER_EXECUTOR: 'true'
    NODE_OPTIONS: --max-old-space-size=4096
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  ...

change api endpoint to V2 spec
  api/config/settings/common.py
  api/config/urls/api_v2.py
  api/funkwhale_api/playlists/parsers.py
  api/funkwhale_api/playlists/renderers.py
  api/funkwhale_api/playlists/urls_v2.py
  api/funkwhale_api/playlists/utils.py
  api/funkwhale_api/playlists/views.py
  api/tests/playlists/test.xspf
  api/tests/playlists/test_urls_v2.py
  api/tests/playlists/test_views.py
Due: lint_api, test_api, build_api_schema, build_api

adding views and changing file handeling to var handeling
  api/config/urls/api_v2.py
  api/funkwhale_api/playlists/urls.py
  api/funkwhale_api/playlists/utils.py
  api/funkwhale_api/playlists/views.py
  api/tests/playlists/test_utils.py
  api/tests/playlists/test_views.py
Due: lint_api, test_api, build_api_schema, build_api

lint
  api/funkwhale_api/playlists/urls.py
Due: lint_api, test_api, build_api_schema, build_api

simplify test
  api/funkwhale_api/playlists/utils.py
  api/tests/playlists/test_utils.py
Due: lint_api, test_api, build_api_schema, build_api

lint
  api/funkwhale_api/playlists/urls.py
  api/tests/playlists/test_utils.py
  api/tests/playlists/test_views.py
Due: lint_api, test_api, build_api_schema, build_api

changelog
  changes/changelog.d/2317-newfeature
Due: none

adding tests
  api/funkwhale_api/playlists/utils.py
  api/tests/playlists/test_utils.py
Due: lint_api, test_api, build_api_schema, build_api

Update api/funkwhale_api/playlists/utils.py
  api/funkwhale_api/playlists/utils.py
Due: lint_api, test_api, build_api_schema, build_api

move TEST_REQUEST_RENDERER_CLASSES
  api/config/settings/common.py
Due: lint_api, test_api, build_api_schema, build_api

rebase and some test update
  .env.dev
  api/config/settings/common.py
  api/config/urls/api_v2.py
  api/tests/playlists/test_urls_v2.py
  dev.yml
Due: lint_api, test_api, build_api_schema, build_api

fix(sidebar): fix quick settings issues
  front/src/ui/components/Sidebar.vue
Due: lint_front, test_front, build_front

feat(ui): connect upload page to real backend
  front/src/ui/pages/upload/history.vue
  front/src/ui/pages/upload/index.vue
  front/src/ui/stores/upload.ts
Due: lint_front, test_front, build_front

Add ListenBrainz sync documentation
  docs/user/plugins/listenbrainz.md
Due: review_docs, build_api_schema, build_docs

Apply 1 suggestion(s) to 1 file(s)
  api/funkwhale_api/contrib/listenbrainz/funkwhale_startup.py
Due: lint_api, test_api, build_api_schema, build_api

Apply 12 suggestion(s) to 4 file(s)
  api/config/plugins.py
  api/funkwhale_api/contrib/listenbrainz/funkwhale_startup.py
  api/funkwhale_api/contrib/listenbrainz/tasks.py
  api/tests/contrib/listenbrainz/test_listenbrainz.py
Due: lint_api, test_api, build_api_schema, build_api

various reviews
  api/funkwhale_api/contrib/listenbrainz/funkwhale_ready.py
  api/funkwhale_api/contrib/listenbrainz/tasks.py
  api/funkwhale_api/favorites/migrations/0002_trackfavorite_from_listenbrainz.py
  api/funkwhale_api/favorites/models.py
  api/funkwhale_api/history/migrations/0003_listening_from_listenbrainz.py
  api/funkwhale_api/history/models.py
Due: lint_api, test_api, build_api_schema, build_api

add favorite sync
  api/config/settings/common.py
  api/funkwhale_api/contrib/listenbrainz/funkwhale_ready.py
  api/funkwhale_api/contrib/listenbrainz/tasks.py
  api/funkwhale_api/favorites/factories.py
  api/tests/conftest.py
  api/tests/contrib/listenbrainz/test_listenbrainz.py
Due: lint_api, test_api, build_api_schema, build_api

implement listening and favorite sync with listenbrainz
  api/config/plugins.py
  api/config/settings/common.py
  api/funkwhale_api/contrib/listenbrainz/funkwhale_ready.py
  api/funkwhale_api/contrib/listenbrainz/funkwhale_startup.py
  api/funkwhale_api/contrib/listenbrainz/tasks.py
  api/funkwhale_api/favorites/migrations/0002_trackfavorite_from_listenbrainz.py
  api/funkwhale_api/favorites/models.py
  api/funkwhale_api/favorites/views.py
  api/funkwhale_api/history/migrations/0003_listening_from_listenbrainz.py
  api/funkwhale_api/history/models.py
  api/funkwhale_api/typesense/utils.py
  api/tests/contrib/__init__.py
  api/tests/contrib/listenbrainz/__init__.py
  api/tests/contrib/listenbrainz/test_listenbrainz.py
  api/tests/contrib/listenbrainz/test_tasks.py
Due: lint_api, test_api, build_api_schema, build_api

lint
  api/funkwhale_api/contrib/listenbrainz/funkwhale_ready.py
Due: lint_api, test_api, build_api_schema, build_api

lint
  api/funkwhale_api/contrib/listenbrainz/funkwhale_ready.py
  api/funkwhale_api/contrib/listenbrainz/tasks.py
  api/funkwhale_api/favorites/views.py
  api/tests/conftest.py
  api/tests/contrib/listenbrainz/test_tasks.py
  changes/changelog.d/2079.enhancement
Due: lint_api, test_api, build_api_schema, build_api

tests
  api/funkwhale_api/activity/utils.py
  api/funkwhale_api/contrib/listenbrainz/funkwhale_ready.py
  api/funkwhale_api/contrib/listenbrainz/funkwhale_startup.py
  api/funkwhale_api/contrib/listenbrainz/tasks.py
  api/funkwhale_api/favorites/factories.py
  api/tests/conftest.py
  api/tests/contrib/listenbrainz/test_listenbrainz.py
Due: lint_api, test_api, build_api_schema, build_api

delete test
  api/tests/contrib/listenbrainz/test_tasks.py
Due: lint_api, test_api, build_api_schema, build_api

loads of things
  api/funkwhale_api/contrib/listenbrainz/funkwhale_ready.py
  api/funkwhale_api/contrib/listenbrainz/tasks.py
  api/funkwhale_api/favorites/migrations/0002_trackfavorite_source.py
  api/funkwhale_api/history/migrations/0003_listening_source.py
  api/tests/contrib/listenbrainz/test_listenbrainz.py
  api/tests/contrib/listenbrainz/test_tasks.py
Due: lint_api, test_api, build_api_schema, build_api

lint
  api/funkwhale_api/activity/utils.py
  api/funkwhale_api/contrib/listenbrainz/funkwhale_ready.py
  api/funkwhale_api/contrib/listenbrainz/tasks.py
  api/funkwhale_api/favorites/factories.py
  api/tests/conftest.py
  api/tests/contrib/listenbrainz/test_listenbrainz.py
Due: lint_api, test_api, build_api_schema, build_api

lint
  api/funkwhale_api/contrib/listenbrainz/tasks.py
Due: lint_api, test_api, build_api_schema, build_api

lint
  api/tests/contrib/listenbrainz/test_listenbrainz.py
Due: lint_api, test_api, build_api_schema, build_api

Translated using Weblate (Dutch)
  front/src/locales/nl.json
Due: lint_front, test_front, build_front

Extend OpenSubsonic support with Transcode Offset extension
  api/funkwhale_api/music/models.py
  api/funkwhale_api/music/utils.py
  api/funkwhale_api/music/views.py
  api/funkwhale_api/subsonic/views.py
  changes/changelog.d/opensubsonic.feature
Due: lint_api, test_api, build_api_schema, build_api

Add from attribute to genre tag spec
  docs/specs/genre-tags/index.md
Due: review_docs, build_api_schema, build_docs

chore(deps): bump py3-pillow in Dockerfile
  api/Dockerfile
Due: lint_api, test_api, build_api_schema, build_api

Path conditions:
  review_docs: any of: docs/**/*
  lint_api: any of: api/**/*
  lint_front: any of: front/**/*
  test_scripts: any of: scripts/**/*
  test_api: any of: api/**/*
  test_front: any of: front/**/*
  build_api_schema: (any of: api/**/*) or (any of: docs/**/*)
  build_docs: any of: docs/**/*
  build_front: any of: front/**/*
  build_api: any of: api/**/*
