Repository mx2913/funkwhale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: review_docs, lint_api, lint_front, test_api, build_api_schema, build_docs, build_front, build_api

Path conditions:
  review_docs: any of: docs/**/*
  lint_api: any of: api/**/*
  lint_front: any of: front/**/*
  test_api: any of: api/**/*
  build_api_schema: (any of: api/**/*) or (any of: docs/**/*)
  build_docs: any of: docs/**/*
  build_front: any of: front/**/*
  build_api: any of: api/**/*

chore: Fix naming of changelog snippets
  changes/changelog.d/sourcemaps.enhancement
  changes/changelog.d/use-logger.enhancement
Due: none

Version bump and changelog for 1.3.2
  CHANGELOG
  api/funkwhale_api/__init__.py
  changes/changelog.d/2192.bugfix
  changes/changelog.d/2199-2.bugfix
  changes/changelog.d/2199.bugfix
  changes/changelog.d/2205.bugfix
  changes/changelog.d/2206.bugfix
  changes/changelog.d/2209.bugfix
  changes/changelog.d/fix-ordering.bugfix
  changes/changelog.d/multiarch.bugfix
  changes/changelog.d/resolve-axios-race-condition.bugfix
  changes/changelog.d/sourcemaps.enhancement
  changes/changelog.d/upgradelink.doc
  changes/changelog.d/use-logger.enhancement
Due: lint_api, test_api, build_api_schema, build_api

chore(docs): lock file maintenance
  docs/poetry.lock
Due: review_docs, build_api_schema, build_docs

Revert "refactor(front): rename logger timing stop functions to `measureLoading`"
  front/src/components/favorites/List.vue
  front/src/components/library/Albums.vue
  front/src/components/library/Artists.vue
  front/src/components/library/Home.vue
  front/src/components/library/Podcasts.vue
  front/src/components/library/Radios.vue
  front/src/views/playlists/List.vue
Due: lint_front, build_front

Revert "chore(front): remove unused dependency and add eslint rule to prevent console usage"
  front/.eslintrc.js
  front/package.json
  front/src/components/favorites/List.vue
  front/src/composables/useLogger.ts
  front/yarn.lock
Due: lint_front, build_front

Revert "feat(front): use logger instead of console.log"
  front/src/api/player.ts
  front/src/components/Home.vue
  front/src/components/RemoteSearchForm.vue
  front/src/components/admin/SettingsGroup.vue
  front/src/components/auth/ApplicationNew.vue
  front/src/components/auth/SignupForm.vue
  front/src/components/common/ContentForm.vue
  front/src/components/favorites/List.vue
  front/src/components/library/AlbumBase.vue
  front/src/components/library/Albums.vue
  front/src/components/library/Artists.vue
  front/src/components/library/Home.vue
  front/src/components/library/Podcasts.vue
  front/src/components/library/Radios.vue
  front/src/components/manage/moderation/ReportCard.vue
  front/src/composables/audio/player.ts
  front/src/composables/audio/queue.ts
  front/src/composables/audio/tracks.ts
  front/src/composables/audio/visualizer.ts
  front/src/composables/onKeyboardShortcut.ts
  front/src/composables/useLogger.ts
  front/src/init/axios.ts
  front/src/init/webSocket.ts
  front/src/router/guards.ts
  front/src/store/auth.ts
  front/src/store/ui.ts
  front/src/views/Search.vue
  front/src/views/admin/moderation/ReportsList.vue
  front/src/views/content/remote/Card.vue
  front/src/views/playlists/List.vue
Due: lint_front, build_front

Revert refactoring of frontend logging since its crashing #2215 #2214 #2212
  changes/changelog.d/2212.bugfix
  front/.eslintrc.js
  front/package.json
  front/src/api/player.ts
  front/src/components/Home.vue
  front/src/components/RemoteSearchForm.vue
  front/src/components/admin/SettingsGroup.vue
  front/src/components/auth/ApplicationNew.vue
  front/src/components/auth/SignupForm.vue
  front/src/components/common/ContentForm.vue
  front/src/components/favorites/List.vue
  front/src/components/library/AlbumBase.vue
  front/src/components/library/Albums.vue
  front/src/components/library/Artists.vue
  front/src/components/library/Home.vue
  front/src/components/library/Podcasts.vue
  front/src/components/library/Radios.vue
  front/src/components/manage/moderation/ReportCard.vue
  front/src/composables/audio/player.ts
  front/src/composables/audio/queue.ts
  front/src/composables/audio/tracks.ts
  front/src/composables/audio/visualizer.ts
  front/src/composables/onKeyboardShortcut.ts
  front/src/composables/useLogger.ts
  front/src/init/axios.ts
  front/src/init/webSocket.ts
  front/src/router/guards.ts
  front/src/store/auth.ts
  front/src/store/ui.ts
  front/src/views/Search.vue
  front/src/views/admin/moderation/ReportsList.vue
  front/src/views/content/remote/Card.vue
  front/src/views/playlists/List.vue
  front/yarn.lock
Due: lint_front, build_front

Version bump and changelog for 1.3.3
  CHANGELOG
  api/funkwhale_api/__init__.py
  changes/changelog.d/2212.bugfix
Due: lint_api, test_api, build_api_schema, build_api

chore(front): lock file maintenance
  front/yarn.lock
Due: lint_front, build_front

Revert "Revert refactoring of frontend logging since its crashing #2215 #2214 #2212"
  front/.eslintrc.js
  front/package.json
  front/src/api/player.ts
  front/src/components/Home.vue
  front/src/components/RemoteSearchForm.vue
  front/src/components/admin/SettingsGroup.vue
  front/src/components/auth/ApplicationNew.vue
  front/src/components/auth/SignupForm.vue
  front/src/components/common/ContentForm.vue
  front/src/components/favorites/List.vue
  front/src/components/library/AlbumBase.vue
  front/src/components/library/Albums.vue
  front/src/components/library/Artists.vue
  front/src/components/library/Home.vue
  front/src/components/library/Podcasts.vue
  front/src/components/library/Radios.vue
  front/src/components/manage/moderation/ReportCard.vue
  front/src/composables/audio/player.ts
  front/src/composables/audio/queue.ts
  front/src/composables/audio/tracks.ts
  front/src/composables/audio/visualizer.ts
  front/src/composables/onKeyboardShortcut.ts
  front/src/composables/useLogger.ts
  front/src/init/axios.ts
  front/src/init/webSocket.ts
  front/src/router/guards.ts
  front/src/store/auth.ts
  front/src/store/ui.ts
  front/src/views/Search.vue
  front/src/views/admin/moderation/ReportsList.vue
  front/src/views/content/remote/Card.vue
  front/src/views/playlists/List.vue
  front/yarn.lock
Due: lint_front, build_front

fix(front): fix logger on webkit/blink
  front/package.json
  front/src/composables/useLogger.ts
  front/yarn.lock
Due: lint_front, build_front

fix(front): enable custom logger in tests
  front/src/composables/useLogger.ts
Due: lint_front, build_front

fix(lint): fix linting error
  changes/changelog.d/2215.enchancement
  front/src/composables/useLogger.ts
Due: lint_front, build_front

Translated using Weblate (Japanese)
  front/src/locales/ja_JP.json
Due: lint_front, build_front

Create a testing environment in production for ListenBrainz recommendation engine (troi-recommendation-playground)
  .env.dev
  .gitlab-ci.yml
  api/config/settings/common.py
  api/config/settings/local.py
  api/config/settings/testing.py
  api/funkwhale_api/music/management/commands/generate_typesense_index.py
  api/funkwhale_api/radios/lb_recommendations.py
  api/funkwhale_api/radios/radios.py
  api/funkwhale_api/typesense/__init__.py
  api/funkwhale_api/typesense/factories.py
  api/funkwhale_api/typesense/tasks.py
  api/funkwhale_api/typesense/utils.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/radios/test_lb_recommendations.py
  api/tests/radios/test_radios.py
  api/tests/typesense/test_tasks.py
  api/tests/typesense/test_utils.py
  changes/changelog.d/1861.newfeature
Due: lint_api, test_api, build_api_schema, build_api

build(front): Remove duplicate key from vite.config.ts
  front/vite.config.ts
Due: lint_front, build_front

ci: Delete obsolete files from docs when deploying a new version
  .gitlab-ci.yml
Due: none

fix: Make sure to set right target when none is given
  api/funkwhale_api/common/management/commands/inplace_to_s3.py
Due: lint_api, test_api, build_api_schema, build_api

test: Remove test test that wont work
  api/tests/common/test_commands.py
Due: lint_api, test_api, build_api_schema, build_api

chore(api): update dependency django to v3.2.21
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

Translated using Weblate (French)
  front/src/locales/fr_FR.json
Due: lint_front, build_front

chore(front): update dependency fomantic-ui-css to v2.9.3
  front/package.json
  front/yarn.lock
Due: lint_front, build_front

adding cache to radio.py
  api/funkwhale_api/radios/radios.py
Due: lint_api, test_api, build_api_schema, build_api

avoid setting useless cache
  api/funkwhale_api/radios/radios.py
Due: lint_api, test_api, build_api_schema, build_api

revert docker compose change config
  deploy/docker-compose.yml
Due: none

changelog
  changes/changelog.d/2135.enhancement
Due: none

do not mix the radios
  api/funkwhale_api/radios/radios.py
Due: lint_api, test_api, build_api_schema, build_api

cache 100 radiotracks into redis, return a list of radiotracks instead of a single one
  api/config/urls/api_v2.py
  api/funkwhale_api/music/models.py
  api/funkwhale_api/radios/migrations/0008_auto_20230613_2123.py
  api/funkwhale_api/radios/models.py
  api/funkwhale_api/radios/radios.py
  api/funkwhale_api/radios/serializers.py
  api/funkwhale_api/radios/urls_v2.py
  api/funkwhale_api/radios/views.py
  api/tests/radios/test_radios.py
Due: lint_api, test_api, build_api_schema, build_api

lint
  api/funkwhale_api/radios/radios.py
  api/funkwhale_api/radios/serializers.py
  api/funkwhale_api/radios/views.py
  api/tests/radios/test_radios.py
Due: lint_api, test_api, build_api_schema, build_api

lint
  api/funkwhale_api/radios/radios.py
Due: lint_api, test_api, build_api_schema, build_api

do not loose track that stayed in the cache
  api/funkwhale_api/radios/radios.py
  api/funkwhale_api/radios/views.py
  api/tests/radios/test_radios.py
Due: lint_api, test_api, build_api_schema, build_api

lint
  api/funkwhale_api/radios/radios.py
  api/funkwhale_api/radios/views.py
  api/tests/radios/test_radios.py
Due: lint_api, test_api, build_api_schema, build_api

lint
  api/funkwhale_api/radios/radios.py
  api/tests/radios/test_radios.py
Due: lint_api, test_api, build_api_schema, build_api

lint2
  api/tests/radios/test_radios.py
Due: lint_api, test_api, build_api_schema, build_api
