Repository mx2913/funkwhale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: review_docs, lint_api, lint_front, test_scripts, test_api, test_front, build_api_schema, build_docs, build_front, build_api

review_docs:
  allow_failure: true
  stage: review
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-docs:3.11
  environment:
    name: review/docs/$CI_COMMIT_REF_NAME
    url: http://$CI_PROJECT_NAMESPACE.pages.funkwhale.audio/-/$CI_PROJECT_NAME/-/jobs/$CI_JOB_ID/artifacts/docs-review/index.html
  cache:
  ...

lint_api:
  allow_failure: true
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  before_script:
  - cd api
  - make install
  script:
  - make lint

lint_front:
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
      files:
      - front/yarn.lock
    paths:
    - front/node_modules
  - key:
      prefix: front-lint
      files:
      - front/.eslintcache
  ...

test_scripts:
  stage: test
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python:3.11
  cache:
  - key: scripts-pip
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: scripts-venv
      files:
      - scripts/poetry.lock
    paths:
    - scripts/.venv
  before_script:
  - cd scripts
  - make install
  script:
  - make test

test_api:
  retry: 1
  stage: test
  needs:
  - job: lint_api
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:$PYTHON_VERSION
  parallel:
    matrix:
    - PYTHON_VERSION:
      - '3.8'
      - '3.9'
      - '3.10'
      - '3.11'
  services:
  - name: postgres:15-alpine
    command:
    - --fsync=off
    - --full_page_writes=off
  ...

test_front:
  stage: test
  needs:
  - job: lint_front
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
      files:
      - front/yarn.lock
    paths:
    - front/node_modules
  - key:
      prefix: front-lint
      files:
  ...

build_api_schema:
  stage: build
  needs:
  - job: test_api
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  services:
  - postgres:15-alpine
  - redis:7-alpine
  cache:
  - key: api-pip-$PYTHON_VERSION
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: api-venv-$PYTHON_VERSION
      files:
  ...

build_docs:
  stage: build
  needs:
  - job: build_api_schema
    artifacts: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-docs:3.11
  cache:
  - key: docs-pip
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: docs-venv
      files:
      - docs/poetry.lock
    paths:
    - docs/.venv
  before_script:
  - cd docs
  - make install
  ...

build_front:
  stage: build
  needs:
  - job: lint_front
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  variables:
    GIT_STRATEGY: clone
    GIT_DEPTH: '5'
    FF_DISABLE_UMASK_FOR_DOCKER_EXECUTOR: 'true'
    NODE_OPTIONS: --max-old-space-size=4096
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  ...

chore: Align with flake8 6.1 rules
  api/funkwhale_api/common/management/commands/testdata.py
  api/funkwhale_api/common/preferences.py
  api/funkwhale_api/music/views.py
  api/tests/music/test_metadata.py
Due: lint_api, test_api, build_api_schema, build_api

chore(api): update dependency watchdog to v3
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

chore(docs): update dependency sphinx-rtd-theme to v2
  docs/poetry.lock
  docs/pyproject.toml
Due: review_docs, build_api_schema, build_docs

chore(front): update dependency @intlify/unplugin-vue-i18n to v2
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front

chore(front): update dependency @typescript-eslint/eslint-plugin to v6
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front

chore(front): update dependency @vitejs/plugin-vue to v5
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front

chore(front): update dependency @vue/eslint-config-typescript to v12
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front

chore(front): lock file maintenance
  front/yarn.lock
Due: lint_front, test_front, build_front

feat(dev): Make neovim available in gitpod
  .gitpod/Dockerfile
Due: none

implement listening and favorite sync with listenbrainz
  api/config/plugins.py
  api/config/settings/common.py
  api/funkwhale_api/contrib/listenbrainz/funkwhale_ready.py
  api/funkwhale_api/contrib/listenbrainz/funkwhale_startup.py
  api/funkwhale_api/contrib/listenbrainz/tasks.py
  api/funkwhale_api/favorites/migrations/0002_trackfavorite_from_listenbrainz.py
  api/funkwhale_api/favorites/models.py
  api/funkwhale_api/favorites/views.py
  api/funkwhale_api/history/migrations/0003_listening_from_listenbrainz.py
  api/funkwhale_api/history/models.py
  api/funkwhale_api/typesense/utils.py
  api/tests/contrib/__init__.py
  api/tests/contrib/listenbrainz/__init__.py
  api/tests/contrib/listenbrainz/test_listenbrainz.py
  api/tests/contrib/listenbrainz/test_tasks.py
Due: lint_api, test_api, build_api_schema, build_api

lint
  api/funkwhale_api/contrib/listenbrainz/funkwhale_ready.py
  api/funkwhale_api/contrib/listenbrainz/tasks.py
  api/funkwhale_api/favorites/views.py
  api/tests/conftest.py
  api/tests/contrib/listenbrainz/test_tasks.py
  changes/changelog.d/2079.enhancement
Due: lint_api, test_api, build_api_schema, build_api

various reviews
  api/funkwhale_api/contrib/listenbrainz/funkwhale_ready.py
  api/funkwhale_api/contrib/listenbrainz/tasks.py
  api/funkwhale_api/favorites/migrations/0002_trackfavorite_from_listenbrainz.py
  api/funkwhale_api/favorites/models.py
  api/funkwhale_api/history/migrations/0003_listening_from_listenbrainz.py
  api/funkwhale_api/history/models.py
Due: lint_api, test_api, build_api_schema, build_api

loads of things
  api/funkwhale_api/contrib/listenbrainz/funkwhale_ready.py
  api/funkwhale_api/contrib/listenbrainz/tasks.py
  api/funkwhale_api/favorites/migrations/0002_trackfavorite_source.py
  api/funkwhale_api/history/migrations/0003_listening_source.py
  api/tests/contrib/listenbrainz/test_listenbrainz.py
  api/tests/contrib/listenbrainz/test_tasks.py
Due: lint_api, test_api, build_api_schema, build_api

delete test
  api/tests/contrib/listenbrainz/test_tasks.py
Due: lint_api, test_api, build_api_schema, build_api

chore(front): update dependency vue-i18n to v9.9.1
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front

fix: Allow upload group to be empty for remote uploads
  api/funkwhale_api/music/migrations/0062_alter_upload_upload_group.py
  api/funkwhale_api/music/models.py
Due: lint_api, test_api, build_api_schema, build_api

feat: Assign upload groups to existing and news v1 uploads
  api/funkwhale_api/music/admin.py
  api/funkwhale_api/music/factories.py
  api/funkwhale_api/music/migrations/0059_upload_upload_group.py
  api/funkwhale_api/music/migrations/0060_auto_20240115_1055.py
  api/funkwhale_api/music/migrations/0061_alter_upload_upload_group.py
  api/funkwhale_api/music/models.py
  api/funkwhale_api/music/views.py
  api/tests/music/test_views.py
Due: lint_api, test_api, build_api_schema, build_api

test: Patch environment to increase test stability
  api/tests/common/test_commands.py
Due: lint_api, test_api, build_api_schema, build_api

feat: Add createdAt and ownership to upload groups
  api/funkwhale_api/music/factories.py
  api/funkwhale_api/music/migrations/0063_auto_20240122_1358.py
  api/funkwhale_api/music/models.py
  api/funkwhale_api/music/serializers.py
  api/funkwhale_api/music/views.py
  api/tests/music/test_views.py
Due: lint_api, test_api, build_api_schema, build_api

fix: Use Related Factory to implicitly create upload groups
  api/funkwhale_api/music/factories.py
Due: lint_api, test_api, build_api_schema, build_api

feat: Implement upload groups
  api/config/urls/api_v2.py
  api/funkwhale_api/music/migrations/0058_uploadgroup.py
  api/funkwhale_api/music/models.py
  api/funkwhale_api/music/serializers.py
  api/funkwhale_api/music/views.py
  api/tests/music/test_urls.py
  api/tests/music/test_views.py
Due: lint_api, test_api, build_api_schema, build_api

wip: add v2 upload endpoint
  api/funkwhale_api/music/models.py
  api/funkwhale_api/music/serializers.py
  api/funkwhale_api/music/views.py
  api/tests/music/test_urls.py
  api/tests/music/test_views.py
Due: lint_api, test_api, build_api_schema, build_api

chore(docs) Update all dependencies
  docs/Makefile
  docs/poetry.lock
  docs/pyproject.toml
Due: review_docs, build_api_schema, build_docs

Re-add django dependencies
  docs/poetry.lock
  docs/pyproject.toml
Due: review_docs, build_api_schema, build_docs

chore(front): update dependency cypress to v13
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front

chore: update cypress/included docker tag to v13
  .gitlab-ci.yml
Due: none

add favorite sync
  api/config/settings/common.py
  api/funkwhale_api/contrib/listenbrainz/funkwhale_ready.py
  api/funkwhale_api/contrib/listenbrainz/tasks.py
  api/funkwhale_api/favorites/factories.py
  api/tests/conftest.py
  api/tests/contrib/listenbrainz/test_listenbrainz.py
Due: lint_api, test_api, build_api_schema, build_api

lint
  api/funkwhale_api/activity/utils.py
  api/funkwhale_api/contrib/listenbrainz/funkwhale_ready.py
  api/funkwhale_api/contrib/listenbrainz/tasks.py
  api/funkwhale_api/favorites/factories.py
  api/tests/conftest.py
  api/tests/contrib/listenbrainz/test_listenbrainz.py
Due: lint_api, test_api, build_api_schema, build_api

add prune mbid cli doc
  docs/administrator/manage-script/mbid_prune.md
Due: review_docs, build_api_schema, build_docs

reviex
  docs/administrator/manage-script/mbid_prune.md
Due: review_docs, build_api_schema, build_docs

lint
  docs/administrator/manage-script/mbid_prune.md
Due: review_docs, build_api_schema, build_docs

Path conditions:
  review_docs: any of: docs/**/*
  lint_api: any of: api/**/*
  lint_front: any of: front/**/*
  test_scripts: any of: scripts/**/*
  test_api: any of: api/**/*
  test_front: any of: front/**/*
  build_api_schema: (any of: api/**/*) or (any of: docs/**/*)
  build_docs: any of: docs/**/*
  build_front: any of: front/**/*
  build_api: any of: api/**/*
