Repository mx2913/funkwhale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: review_docs, lint_api, lint_front, test_api, build_api_schema, build_docs, build_front, build_api

review_docs:
  allow_failure: true
  stage: review
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  variables:
    BUILD_PATH: ../docs-review
  environment:
    name: review/docs/$CI_COMMIT_REF_NAME
  ...

lint_api:
  allow_failure: true
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  before_script:
  - cd api
  - make install
  script:
  - make lint

lint_front:
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
      files:
      - front/yarn.lock
    paths:
    - front/node_modules
  before_script:
  - cd front
  - yarn install --frozen-lockfile
  script:
  ...

test_api:
  retry: 1
  stage: test
  needs:
  - job: lint_api
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:$PYTHON_VERSION
  parallel:
    matrix:
    - PYTHON_VERSION:
      - '3.8'
      - '3.9'
      - '3.10'
      - '3.11'
  services:
  - postgres:15-alpine
  - redis:7-alpine
  cache:
  - key: api-pip-$PYTHON_VERSION
    paths:
  ...

build_api_schema:
  stage: build
  needs:
  - job: test_api
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  services:
  - postgres:15-alpine
  - redis:7-alpine
  cache:
  - key: api-pip-$PYTHON_VERSION
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: api-venv-$PYTHON_VERSION
      files:
  ...

build_docs:
  stage: build
  needs:
  - job: build_api_schema
    artifacts: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  variables:
    BUILD_PATH: ../public
    GIT_STRATEGY: clone
    GIT_DEPTH: 0
  cache:
  - key: docs-pip
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: docs-venv
      files:
  ...

build_front:
  stage: build
  needs:
  - job: lint_front
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  variables:
    GIT_STRATEGY: clone
    GIT_DEPTH: '5'
    FF_DISABLE_UMASK_FOR_DOCKER_EXECUTOR: 'true'
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
  ...

build_api:
  stage: build
  needs:
  - job: test_api
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/python:3.11
  variables:
    GIT_STRATEGY: clone
    GIT_DEPTH: '5'
    FF_DISABLE_UMASK_FOR_DOCKER_EXECUTOR: 'true'
  script:
  - rm -rf api/tests
  ...

style: Simplify code
  api/funkwhale_api/common/management/commands/inplace_to_s3.py
Due: lint_api, test_api, build_api_schema, build_api

test: Remove test test that wont work
  api/tests/common/test_commands.py
Due: lint_api, test_api, build_api_schema, build_api

feat(api): Add inplace_to_s3 management command
  api/funkwhale_api/common/management/commands/inplace_to_s3.py
  api/tests/common/test_commands.py
  changes/changelog.d/2156.feature
Due: lint_api, test_api, build_api_schema, build_api

feat: add ui
  front/package.json
  front/yarn.lock
Due: lint_front, build_front

Cache radio queryset. New api endpoint for radio tracks : api/v2/radios/sessions/$sessionid/tracks?count=$count
  api/config/urls/api_v2.py
  api/funkwhale_api/radios/models.py
  api/funkwhale_api/radios/radios_v2.py
  api/funkwhale_api/radios/registries_v2.py
  api/funkwhale_api/radios/serializers.py
  api/funkwhale_api/radios/urls.py
  api/funkwhale_api/radios/urls_v2.py
  api/funkwhale_api/radios/views.py
  api/tests/radios/test_radios.py
  api/tests/radios/test_radios_v2.py
  changes/changelog.d/2135.feature
  deploy/docker-compose.yml
Due: lint_api, test_api, build_api_schema, build_api

fix: Make sure build requirements for ujson are met
  api/Dockerfile
  changes/changelog.d/ujson.bugfix
Due: lint_api, test_api, build_api_schema, build_api

chore(front): update dependency standardized-audio-context to v25.3.57
  front/package.json
  front/yarn.lock
Due: lint_front, build_front

chore(docs): pin python to 3.11.5
  docs/poetry.lock
  docs/pyproject.toml
Due: review_docs, build_api_schema, build_docs

chore(api): update dependency psycopg2 to v2.9.8
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

chore: update pre-commit hook pre-commit/mirrors-prettier to v3.0.3
  .pre-commit-config.yaml
Due: none

fix: Remove dangling dependency howler
  changes/changelog.d/howler.bugfix
  front/package.json
  front/yarn.lock
Due: lint_front, build_front

feat(docs): Add collections spec
  docs/index.md
  docs/specs/collections/index.md
Due: review_docs, build_api_schema, build_docs

feat(docs): add genre tags spec
  docs/index.md
  docs/specs/genre-tags/index.md
Due: review_docs, build_api_schema, build_docs

fix(docs): run pre-commit
  docs/specs/collections/index.md
Due: review_docs, build_api_schema, build_docs

Add changelog snippet
  changes/changelog.d/collections.doc
Due: none

fix(docs): run pre-commit
  docs/specs/genre-tags/index.md
Due: review_docs, build_api_schema, build_docs

Add changelog fragment
  changes/changelog.d/genre-tags.doc
Due: none

feat(docs): add multi-artist spec
  changes/changelog.d/multi-artist.doc
  docs/index.md
  docs/specs/multi-artist/index.md
Due: review_docs, build_api_schema, build_docs

fix: Make Artist ordering by name case insensitive
  api/funkwhale_api/common/filters.py
  api/funkwhale_api/music/filters.py
  api/tests/music/test_filters.py
  changes/changelog.d/1803.bugfix
Due: lint_api, test_api, build_api_schema, build_api

collection terminology - insist on the possibility to follow as many collections as wanted
  docs/specs/collections/index.md
Due: review_docs, build_api_schema, build_docs

chore(api): update dependency aiohttp to v3.8.6
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

chore(api): update dependency django to v3.2.22
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

chore(api): update dependency psycopg2 to v2.9.9
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

Adopt Gitpod to architecture changes
  .gitpod.yml
  .gitpod/docker-compose.yml
  api/funkwhale_api/common/management/commands/gitpod.py
  api/poetry.lock
Due: lint_api, test_api, build_api_schema, build_api

Translated using Weblate (Catalan)
  front/src/locales/ca.json
Due: lint_front, build_front

test: Run tests with python 3.12
  .gitlab-ci.yml
  changes/changelog.d/python-312.feature
Due: none

test(s3): Verify the construction of audio file urls with custom s3 domain
  api/tests/music/test_utils.py
Due: lint_api, test_api, build_api_schema, build_api

chore: add new releases.py script
  scripts/releases.py
  scripts/releases_test.py
Due: none

docs: replace scripts with makefile
  .gitlab-ci.yml
  changes/changelog.d/replace-docs-scripts-with-makefile.misc
  dev.yml
  docs/Dockerfile
  docs/Makefile
  docs/_scripts/locale-prune-untranslated.py
  docs/_scripts/serve.py
  docs/build_docs.sh
  docs/build_swagger.sh
  docs/conf.py
  docs/i18n_generate.sh
  docs/poetry.lock
  docs/pyproject.toml
  docs/serve.py
Due: review_docs, build_api_schema, build_docs

chore: Delete obsolete script
  docs/get-releases-json.py
Due: review_docs, build_api_schema, build_docs

fix(docs): Make sure required directory exists
  docs/Makefile
Due: review_docs, build_api_schema, build_docs

fix(docs): Use correct path configs
  docs/conf.py
Due: review_docs, build_api_schema, build_docs

chore: Avoid Python 3.12 since its not yet supported #2243
  .gitlab-ci.yml
  .gitpod/Dockerfile
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

Path conditions:
  review_docs: any of: docs/**/*
  lint_api: any of: api/**/*
  lint_front: any of: front/**/*
  test_api: any of: api/**/*
  build_api_schema: (any of: api/**/*) or (any of: docs/**/*)
  build_docs: any of: docs/**/*
  build_front: any of: front/**/*
  build_api: any of: api/**/*
