Repository mx2913/funkwhale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: review_docs, lint_api, lint_front, test_scripts, test_api, test_front, build_api_schema, build_docs, build_front, build_api

review_docs:
  allow_failure: true
  stage: review
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-docs:3.11
  environment:
    name: review/docs/$CI_COMMIT_REF_NAME
    url: http://$CI_PROJECT_NAMESPACE.pages.funkwhale.audio/-/$CI_PROJECT_NAME/-/jobs/$CI_JOB_ID/artifacts/docs-review/index.html
  cache:
  ...

lint_api:
  allow_failure: true
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  before_script:
  - cd api
  - make install
  script:
  - make lint

lint_front:
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
      files:
      - front/yarn.lock
    paths:
    - front/node_modules
  - key:
      prefix: front-lint
      files:
      - front/.eslintcache
  ...

test_scripts:
  stage: test
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python:3.11
  cache:
  - key: scripts-pip
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: scripts-venv
      files:
      - scripts/poetry.lock
    paths:
    - scripts/.venv
  before_script:
  - cd scripts
  - make install
  script:
  - make test

test_api:
  retry: 1
  stage: test
  needs:
  - job: lint_api
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:$PYTHON_VERSION
  parallel:
    matrix:
    - PYTHON_VERSION:
      - '3.8'
      - '3.9'
      - '3.10'
      - '3.11'
  services:
  - name: postgres:15-alpine
    command:
    - --fsync=off
    - --full_page_writes=off
  ...

test_front:
  stage: test
  needs:
  - job: lint_front
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
      files:
      - front/yarn.lock
    paths:
    - front/node_modules
  - key:
      prefix: front-lint
      files:
  ...

build_api_schema:
  stage: build
  needs:
  - job: test_api
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  services:
  - postgres:15-alpine
  - redis:7-alpine
  cache:
  - key: api-pip-$PYTHON_VERSION
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: api-venv-$PYTHON_VERSION
      files:
  ...

build_docs:
  stage: build
  needs:
  - job: build_api_schema
    artifacts: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-docs:3.11
  cache:
  - key: docs-pip
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: docs-venv
      files:
      - docs/poetry.lock
    paths:
    - docs/.venv
  before_script:
  - cd docs
  - make install
  ...

build_front:
  stage: build
  needs:
  - job: lint_front
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  variables:
    GIT_STRATEGY: clone
    GIT_DEPTH: '5'
    FF_DISABLE_UMASK_FOR_DOCKER_EXECUTOR: 'true'
    NODE_OPTIONS: --max-old-space-size=4096
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  ...

add sporiff activitypub overview
  docs/specs/activitypub-overview/index.md
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (Catalan)
  front/src/locales/ca.json
Due: lint_front, test_front, build_front

Translated using Weblate (Occitan)
  front/src/locales/oc.json
Due: lint_front, test_front, build_front

fix(docs): update website links in UI
  changes/changelog.d/2235.bugfix
  front/src/components/Home.vue
  front/src/views/Notifications.vue
Due: lint_front, test_front, build_front

fix: update link in README
  README.md
Due: none

Update releases and tracks examples
  docs/schema.yml
Due: review_docs, build_api_schema, build_docs

feat(docs): archived the pre-1.0 changelog
  changes/changelog.d/archive-changelog.doc
  docs/changes/funkwhale-0-changelog.rst
  docs/index.md
Due: review_docs, build_api_schema, build_docs

fix(docs): fix rst formatting
  docs/changes/funkwhale-0-changelog.rst
  docs/index.md
Due: review_docs, build_api_schema, build_docs

fix(docs): use markdown content
  CHANGELOG.md
  docs/changes/funkwhale-0-changelog.md
Due: review_docs, build_api_schema, build_docs

chore(api): update dependency aioresponses to v0.7.5
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

fix(tests): fix broken test
  api/tests/music/test_tasks.py
Due: lint_api, test_api, build_api_schema, build_api

feat(docs): Add MBID-only setting documentation
  docs/administrator/configuration/instance-settings.md
Due: review_docs, build_api_schema, build_docs

add test
  api/tests/music/test_tasks.py
Due: lint_api, test_api, build_api_schema, build_api

Apply 1 suggestion(s) to 1 file(s)
  api/funkwhale_api/music/tasks.py
Due: lint_api, test_api, build_api_schema, build_api

resolve test
  api/tests/music/test_tasks.py
Due: lint_api, test_api, build_api_schema, build_api

typo
  front/src/views/admin/Settings.vue
Due: lint_front, test_front, build_front

add common setting and lint
  api/config/settings/common.py
  api/tests/music/test_tasks.py
Due: lint_api, test_api, build_api_schema, build_api

resolves review
  api/funkwhale_api/music/dynamic_preferences_registry.py
  api/funkwhale_api/music/tasks.py
  api/tests/music/test_tasks.py
Due: lint_api, test_api, build_api_schema, build_api

make setting dynamic
  api/config/settings/common.py
  api/funkwhale_api/music/dynamic_preferences_registry.py
  api/funkwhale_api/music/tasks.py
  api/pyproject.toml
  api/tests/conftest.py
  api/tests/music/test_tasks.py
  api/tests/test_import_audio_file.py
  front/src/views/admin/Settings.vue
Due: lint_api, lint_front, test_api, test_front, build_api_schema, build_front, build_api

Only allow MusicBrainz tagged file on a pod (#2083)
  api/funkwhale_api/music/tasks.py
  api/pyproject.toml
  api/tests/music/test_tasks.py
Due: lint_api, test_api, build_api_schema, build_api

resolve test 2
  api/tests/conftest.py
  api/tests/test_import_audio_file.py
Due: lint_api, test_api, build_api_schema, build_api

lint
  front/src/views/admin/Settings.vue
Due: lint_front, test_front, build_front

changelog
  changes/changelog.d/2083.newfeature
Due: none

fix chmod
  docs/administrator/upgrade/docker.md
Due: review_docs, build_api_schema, build_docs

docs: update command for postgres migrate
  changes/changelog.d/develop-patch-96a1.bugfix
  docs/administrator/upgrade/docker.md
Due: review_docs, build_api_schema, build_docs

Prettify
  docs/administrator/upgrade/docker.md
Due: review_docs, build_api_schema, build_docs

fix(docs): update Docker steps in backup guide
  docs/administrator/upgrade/backup.md
Due: review_docs, build_api_schema, build_docs

Fix chmod
  docs/administrator/upgrade/docker.md
Due: review_docs, build_api_schema, build_docs

Lay out collection level querying
  docs/schema.yml
  docs/specs/multi-artist/schema.yml
Due: review_docs, build_api_schema, build_docs

feat(docs): add more collection schema updates
  docs/schema.yml
  docs/specs/collections/schema.yml
Due: review_docs, build_api_schema, build_docs

feat(docs): Add some initial structure to schema
  docs/specs/nodeinfo21/schema.yml
Due: review_docs, build_api_schema, build_docs

Add collections to release object
  docs/schema.yml
Due: review_docs, build_api_schema, build_docs

fix(docs): match ID type
  docs/specs/multi-artist/schema.yml
Due: review_docs, build_api_schema, build_docs

feat(docs): Split up schema file
  docs/schema.yml
  docs/specs/collections/schema.yml
  docs/specs/multi-artist/schema.yml
  docs/specs/nodeinfo21/schema.yml
  docs/specs/quality-filter/schema.yml
Due: review_docs, build_api_schema, build_docs

Add collections to Artist object
  docs/specs/multi-artist/schema.yml
Due: review_docs, build_api_schema, build_docs

refactor(docs): remove duplicate artist objects
  docs/schema.yml
Due: review_docs, build_api_schema, build_docs

Path conditions:
  review_docs: any of: docs/**/*
  lint_api: any of: api/**/*
  lint_front: any of: front/**/*
  test_scripts: any of: scripts/**/*
  test_api: any of: api/**/*
  test_front: any of: front/**/*
  build_api_schema: (any of: api/**/*) or (any of: docs/**/*)
  build_docs: any of: docs/**/*
  build_front: any of: front/**/*
  build_api: any of: api/**/*
