Repository mx2913/funkwhale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: review_docs, lint_api, lint_front, test_scripts, test_api, test_front, build_api_schema, build_docs, build_front, build_api

Path conditions:
  review_docs: any of: docs/**/*
  lint_api: any of: api/**/*
  lint_front: any of: front/**/*
  test_scripts: any of: scripts/**/*
  test_api: any of: api/**/*
  test_front: any of: front/**/*
  build_api_schema: (any of: api/**/*) or (any of: docs/**/*)
  build_docs: any of: docs/**/*
  build_front: any of: front/**/*
  build_api: any of: api/**/*

chore: add changelog snippet
  changes/changelog.d/patch-package.feature
Due: none

chore: update vueuse
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front

fix(docs): run pre-commit
  docs/specs/genre-tags/index.md
Due: review_docs, build_api_schema, build_docs

feat(docs): add genre tags spec
  docs/index.md
  docs/specs/genre-tags/index.md
Due: review_docs, build_api_schema, build_docs

Add changelog fragment
  changes/changelog.d/genre-tags.doc
Due: none

Add from attribute to genre tag spec
  docs/specs/genre-tags/index.md
Due: review_docs, build_api_schema, build_docs

Update from attribute information
  docs/specs/genre-tags/index.md
Due: review_docs, build_api_schema, build_docs

upgrade docker postgres dev version to postgres15
  .env.dev
  dev.yml
Due: none

resolve federation issue (lacking favorite fid)
  api/funkwhale_api/federation/routes.py
  api/funkwhale_api/history/filters.py
  api/tests/federation/test_routes.py
Due: lint_api, test_api, build_api_schema, build_api

update spec
  docs/specs/listenings-favorites-sync-with-lb/index.md
Due: review_docs, build_api_schema, build_docs

listening port was hardcoded, no matter what the FUNKWHALE_API_PORT env var was set to, API would only listen on 5000. added env var to command to fix issue.
  api/docker/server.sh
Due: lint_api, test_api, build_api_schema, build_api

front setting
  front/src/views/admin/Settings.vue
Due: lint_front, test_front, build_front

Translated using Weblate (Galician)
  front/src/locales/gl.json
Due: lint_front, test_front, build_front

Translated using Weblate (Turkish)
  front/src/locales/tr.json
Due: lint_front, test_front, build_front

chore(front): update dependency universal-cookie to v7
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front

Initial commit
  api/config/urls/api_v2.py
  api/funkwhale_api/music/models.py
  api/funkwhale_api/music/serializers.py
  api/funkwhale_api/music/urls_v2.py
  api/funkwhale_api/music/views.py
Due: lint_api, test_api, build_api_schema, build_api

Add model migrations
  api/funkwhale_api/music/migrations/0058_add_artist_guid.py
  api/funkwhale_api/music/migrations/0059_generate_artist_guid.py
  api/funkwhale_api/music/migrations/0060_artist_guid_notnull.py
Due: lint_api, test_api, build_api_schema, build_api

Use model serializer
  api/funkwhale_api/music/serializers.py
Due: lint_api, test_api, build_api_schema, build_api

Create specific view for artist list
  api/funkwhale_api/music/views.py
Due: lint_api, test_api, build_api_schema, build_api

Create filterset for v2 artists
  api/funkwhale_api/music/filters.py
Due: lint_api, test_api, build_api_schema, build_api

Register artist route
  api/funkwhale_api/music/urls_v2.py
Due: lint_api, test_api, build_api_schema, build_api

Add changelog snippet
  changes/changelog.d/v2-artists.feature
Due: none

chore(api): update dependency django to v3.2.25
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

frontend implementation and backend bugs
  api/funkwhale_api/audio/serializers.py
  api/funkwhale_api/audio/views.py
  api/funkwhale_api/favorites/views.py
  api/funkwhale_api/federation/serializers.py
  api/funkwhale_api/history/views.py
  api/funkwhale_api/music/admin.py
  api/funkwhale_api/music/dynamic_preferences_registry.py
  api/funkwhale_api/music/filters.py
  api/funkwhale_api/music/management/commands/import_files.py
  api/funkwhale_api/music/metadata.py
  api/funkwhale_api/music/models.py
  api/funkwhale_api/music/serializers.py
  api/funkwhale_api/music/tasks.py
  api/funkwhale_api/music/views.py
  api/funkwhale_api/musicbrainz/client.py
  api/funkwhale_api/subsonic/serializers.py
  api/tests/music/test_serializers.py
  api/tests/music/test_tasks.py
  api/tests/music/test_views.py
  front/src/App.vue
  front/src/components/Queue.vue
  front/src/components/audio/ArtistCreditLabel.vue
  front/src/components/audio/PlayButton.vue
  front/src/components/audio/Player.vue
  front/src/components/audio/Search.vue
  front/src/components/audio/album/Card.vue
  front/src/components/audio/artist/Widget.vue
  front/src/components/audio/podcast/Row.vue
  front/src/components/audio/track/Row.vue
  front/src/components/library/AlbumBase.vue
  front/src/components/library/AlbumDetail.vue
  front/src/components/library/AlbumDropdown.vue
  front/src/components/library/TrackDetail.vue
  front/src/composables/audio/queue.ts
  front/src/types.ts
Due: lint_api, lint_front, test_api, test_front, build_api_schema, build_front, build_api

resolve various bugs and clean tests
  api/funkwhale_api/common/management/commands/load_test_data.py
  api/funkwhale_api/federation/serializers.py
  api/funkwhale_api/federation/urls.py
  api/funkwhale_api/federation/views.py
  api/funkwhale_api/music/filters.py
  api/funkwhale_api/music/metadata.py
  api/funkwhale_api/music/models.py
  api/funkwhale_api/music/mutations.py
  api/funkwhale_api/music/serializers.py
  api/funkwhale_api/music/tasks.py
  api/funkwhale_api/music/views.py
  api/tests/federation/test_serializers.py
  api/tests/music/test_metadata.py
  api/tests/music/test_serializers.py
  api/tests/music/test_tasks.py
  api/tests/music/test_views.py
  front/src/composables/audio/queue.ts
Due: lint_api, lint_front, test_api, test_front, build_api_schema, build_front, build_api

lint
  api/funkwhale_api/activity/utils.py
  api/funkwhale_api/audio/serializers.py
  api/funkwhale_api/common/management/commands/load_test_data.py
  api/funkwhale_api/contrib/scrobbler/scrobbler.py
  api/funkwhale_api/favorites/views.py
  api/funkwhale_api/federation/routes.py
  api/funkwhale_api/federation/views.py
  api/funkwhale_api/music/dynamic_preferences_registry.py
  api/funkwhale_api/music/factories.py
  api/funkwhale_api/music/management/commands/import_files.py
  api/funkwhale_api/music/models.py
  api/tests/music/test_views.py
  api/tests/radios/test_api.py
  changes/changelog.d/1568.feature
  front/src/components/Queue.vue
Due: lint_api, lint_front, test_api, test_front, build_api_schema, build_front, build_api

forgot some frontend part to update
  api/funkwhale_api/music/migrations/0058_remove_album_artist_remove_track_artist_artistcredit_and_more.py
  api/funkwhale_api/music/models.py
  front/src/components/audio/ChannelEntryCard.vue
  front/src/components/audio/SearchBar.vue
  front/src/components/audio/artist/Widget.vue
  front/src/components/audio/podcast/MobileRow.vue
  front/src/components/audio/podcast/Modal.vue
  front/src/components/audio/track/Modal.vue
  front/src/components/audio/track/Widget.vue
  front/src/components/library/AlbumBase.vue
  front/src/components/library/TrackBase.vue
  front/src/components/library/TrackDetail.vue
  front/src/components/playlists/PlaylistModal.vue
  front/src/composables/audio/queue.ts
  front/src/composables/audio/usePlayOptions.ts
  front/src/composables/moderation/useReport.ts
  front/src/init/mediaSession.ts
  front/src/utils/utils.ts
Due: lint_api, lint_front, test_api, test_front, build_api_schema, build_front, build_api

Translated using Weblate (English)
  front/src/locales/en_US.json
Due: lint_front, test_front, build_front

Translated using Weblate (Spanish)
  front/src/locales/es.json
Due: lint_front, test_front, build_front

lint 2
  api/funkwhale_api/music/dynamic_preferences_registry.py
  api/funkwhale_api/music/factories.py
  api/funkwhale_api/music/metadata.py
  api/funkwhale_api/music/models.py
  api/funkwhale_api/music/tasks.py
  changes/changelog.d/1568.feature
  front/src/components/QueueItem.vue
  front/src/components/audio/podcast/MobileRow.vue
  front/src/components/audio/podcast/Modal.vue
  front/src/components/audio/track/MobileRow.vue
  front/src/components/audio/track/Modal.vue
  front/src/utils/utils.ts
Due: lint_api, lint_front, test_api, test_front, build_api_schema, build_front, build_api
