Repository mx2913/funkwhale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: review_docs, lint_api, lint_front, test_scripts, test_api, test_front, build_api_schema, build_docs, build_front, build_api

review_docs:
  allow_failure: true
  stage: review
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-docs:3.11
  environment:
    name: review/docs/$CI_COMMIT_REF_NAME
    url: http://$CI_PROJECT_NAMESPACE.pages.funkwhale.audio/-/$CI_PROJECT_NAME/-/jobs/$CI_JOB_ID/artifacts/docs-review/index.html
  cache:
  ...

lint_api:
  allow_failure: true
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  before_script:
  - cd api
  - make install
  script:
  - make lint

lint_front:
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
      files:
      - front/yarn.lock
    paths:
    - front/node_modules
  - key:
      prefix: front-lint
      files:
      - front/.eslintcache
  ...

test_scripts:
  stage: test
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python:3.11
  cache:
  - key: scripts-pip
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: scripts-venv
      files:
      - scripts/poetry.lock
    paths:
    - scripts/.venv
  before_script:
  - cd scripts
  - make install
  script:
  - make test

test_api:
  retry: 1
  stage: test
  needs:
  - job: lint_api
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:$PYTHON_VERSION
  parallel:
    matrix:
    - PYTHON_VERSION:
      - '3.8'
      - '3.9'
      - '3.10'
      - '3.11'
  services:
  - name: postgres:15-alpine
    command:
    - --fsync=off
    - --full_page_writes=off
  ...

test_front:
  stage: test
  needs:
  - job: lint_front
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
      files:
      - front/yarn.lock
    paths:
    - front/node_modules
  - key:
      prefix: front-lint
      files:
  ...

build_api_schema:
  stage: build
  needs:
  - job: test_api
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  services:
  - postgres:15-alpine
  - redis:7-alpine
  cache:
  - key: api-pip-$PYTHON_VERSION
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: api-venv-$PYTHON_VERSION
      files:
  ...

build_docs:
  stage: build
  needs:
  - job: build_api_schema
    artifacts: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-docs:3.11
  cache:
  - key: docs-pip
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: docs-venv
      files:
      - docs/poetry.lock
    paths:
    - docs/.venv
  before_script:
  - cd docs
  - make install
  ...

build_front:
  stage: build
  needs:
  - job: lint_front
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  variables:
    GIT_STRATEGY: clone
    GIT_DEPTH: '5'
    FF_DISABLE_UMASK_FOR_DOCKER_EXECUTOR: 'true'
    NODE_OPTIONS: --max-old-space-size=4096
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  ...

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/user/libraries/content/upload.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/user/channels/artist/upload.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/user/channels/delete.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/user/channels/artist/delete.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/user/channels/create.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/user/channels/podcast/delete.po
Due: review_docs, build_api_schema, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/user/channels/podcast/upload.po
Due: review_docs, build_api_schema, build_docs

fix(deploy): Serve staticfiles in bare metal deployments
  changes/changelog.d/2256.bugfix
  deploy/nginx.template
  templates/nginx.conf.j2
Due: none

fix(docs): Fix postgres upgrade instructions
  docs/administrator/migration.md
  docs/administrator/upgrade/docker.md
Due: review_docs, build_api_schema, build_docs

chore(api): update dependency pylint-django to v2.5.5
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

fix(docs): use callout
  docs/specs/upload-process/index.md
Due: review_docs, build_api_schema, build_docs

feat(docs): Add new upload process spec
  changes/changelog.d/upload-process.doc
  docs/index.md
  docs/specs/upload-process/index.md
Due: review_docs, build_api_schema, build_docs

Update behavior spec
  docs/specs/upload-process/index.md
Due: review_docs, build_api_schema, build_docs

fix(gitpod): Make sure jinja2 and towncrier are available
  .gitpod/Dockerfile
Due: none

fix(gitpod): Properly serve media files, statics and fix proxy to API
  .gitpod/docker-compose.yml
Due: none

fix(docs): Update env file for Unix socket
  api/config/settings/common.py
  deploy/env.prod.sample
Due: lint_api, test_api, build_api_schema, build_api

chore(api): update dependency unidecode to v1.3.7
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

chore(api): update dependency python-ldap to v3.4.4
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

Added translation using Weblate (Bengali (Bangladesh))
  front/src/locales/bn_BD.json
Due: lint_front, test_front, build_front

chore(renovate): Disable automerge since it is prevented by our Gitlab settings
  .gitlab/renovate.json
Due: none

chore(docs): update dependency django to v3.2.23
  docs/poetry.lock
  docs/pyproject.toml
Due: review_docs, build_api_schema, build_docs

chore(front): update dependency @types/diff to v5.0.9
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front

chore(front): update dependency @types/jquery to v3.5.29
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front

chore(front): update dependency @types/lodash-es to v4.17.12
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front

chore(front): update dependency @types/moxios to v0.4.17
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front

chore(front): update dependency @types/qs to v6.9.10
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front

chore(front): update dependency @types/semantic-ui to v2.2.9
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front

chore(front): update dependency @types/showdown to v2.0.6
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front

chore(front): update dependency @vue/eslint-config-typescript to v11.0.3
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front

chore(front): update dependency standardized-audio-context to v25.3.60
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front

chore(front): update dependency standardized-audio-context-mock to v9.6.32
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front

chore(front): update dependency vue-router to v4.2.5
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front

chore(front): update vue monorepo to v3.3.11
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front

Translated using Weblate (English)
  front/src/locales/en_US.json
Due: lint_front, test_front, build_front

Translated using Weblate (German)
  front/src/locales/de.json
Due: lint_front, test_front, build_front

Translated using Weblate (Japanese)
  front/src/locales/ja_JP.json
Due: lint_front, test_front, build_front

Translated using Weblate (French)
  front/src/locales/fr_FR.json
Due: lint_front, test_front, build_front

Translated using Weblate (Galician)
  front/src/locales/gl.json
Due: lint_front, test_front, build_front

Path conditions:
  review_docs: any of: docs/**/*
  lint_api: any of: api/**/*
  lint_front: any of: front/**/*
  test_scripts: any of: scripts/**/*
  test_api: any of: api/**/*
  test_front: any of: front/**/*
  build_api_schema: (any of: api/**/*) or (any of: docs/**/*)
  build_docs: any of: docs/**/*
  build_front: any of: front/**/*
  build_api: any of: api/**/*
