Repository mx2913/funkwhale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: review_docs, lint_api, lint_front, test_scripts, test_api, test_front, build_api_schema, build_docs, build_front, build_api

review_docs:
  allow_failure: true
  stage: review
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-docs:3.11
  environment:
    name: review/docs/$CI_COMMIT_REF_NAME
    url: http://$CI_PROJECT_NAMESPACE.pages.funkwhale.audio/-/$CI_PROJECT_NAME/-/jobs/$CI_JOB_ID/artifacts/docs-review/index.html
  cache:
  ...

lint_api:
  allow_failure: true
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  before_script:
  - cd api
  - make install
  script:
  - make lint

lint_front:
  stage: lint
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
      files:
      - front/yarn.lock
    paths:
    - front/node_modules
  - key:
      prefix: front-lint
      files:
      - front/.eslintcache
  ...

test_scripts:
  stage: test
  needs: []
  image: $CI_REGISTRY/funkwhale/ci/python:3.11
  cache:
  - key: scripts-pip
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: scripts-venv
      files:
      - scripts/poetry.lock
    paths:
    - scripts/.venv
  before_script:
  - cd scripts
  - make install
  script:
  - make test

test_api:
  retry: 1
  stage: test
  needs:
  - job: lint_api
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:$PYTHON_VERSION
  parallel:
    matrix:
    - PYTHON_VERSION:
      - '3.8'
      - '3.9'
      - '3.10'
      - '3.11'
  services:
  - name: postgres:15-alpine
    command:
    - --fsync=off
    - --full_page_writes=off
  ...

test_front:
  stage: test
  needs:
  - job: lint_front
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  - key:
      prefix: front-node_modules
      files:
      - front/yarn.lock
    paths:
    - front/node_modules
  - key:
      prefix: front-lint
      files:
  ...

build_api_schema:
  stage: build
  needs:
  - job: test_api
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-api:3.11
  services:
  - postgres:15-alpine
  - redis:7-alpine
  cache:
  - key: api-pip-$PYTHON_VERSION
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: api-venv-$PYTHON_VERSION
      files:
  ...

build_docs:
  stage: build
  needs:
  - job: build_api_schema
    artifacts: true
  image: $CI_REGISTRY/funkwhale/ci/python-funkwhale-docs:3.11
  cache:
  - key: docs-pip
    paths:
    - $PIP_CACHE_DIR
  - key:
      prefix: docs-venv
      files:
      - docs/poetry.lock
    paths:
    - docs/.venv
  before_script:
  - cd docs
  - make install
  ...

build_front:
  stage: build
  needs:
  - job: lint_front
    optional: true
  image: $CI_REGISTRY/funkwhale/ci/node-python:18
  variables:
    GIT_STRATEGY: clone
    GIT_DEPTH: '5'
    FF_DISABLE_UMASK_FOR_DOCKER_EXECUTOR: 'true'
    NODE_OPTIONS: --max-old-space-size=4096
  cache:
  - key: front-yarn
    paths:
    - $YARN_CACHE_FOLDER
  ...

feat(upload): spawn worker dynamically, when uploading
  front/src/ui/pages/upload.vue
  front/src/ui/stores/upload.ts
  front/src/ui/workers/file-metadata-parser.ts
Due: lint_front, test_front, build_front

chore: remove accidentially commited files
  front/dev-dist/registerSW.js
  front/src/'
Due: lint_front, test_front, build_front

feat: add sidebar
  front/package.json
  front/src/App.vue
  front/src/LegacyLayout.vue
  front/src/main.ts
  front/src/ui/App.vue
  front/src/ui/components/Sidebar.vue
  front/src/ui/pages/upload.vue
  front/src/ui/stores/upload.ts
  front/src/utils/color.ts
  front/vite.config.ts
  front/yarn.lock
Due: lint_front, test_front, build_front

fix: Allow upload group to be empty for remote uploads
  api/funkwhale_api/music/migrations/0062_alter_upload_upload_group.py
  api/funkwhale_api/music/models.py
Due: lint_api, test_api, build_api_schema, build_api

fix: Use Related Factory to implicitly create upload groups
  api/funkwhale_api/music/factories.py
Due: lint_api, test_api, build_api_schema, build_api

feat: add missing upload views
  front/src/ui/components/UploadGroupList.vue
  front/src/ui/components/UploadList.vue
  front/src/ui/pages/upload/all.vue
  front/src/ui/pages/upload/history.vue
  front/src/ui/pages/upload/running.vue
Due: lint_front, test_front, build_front

test: Patch environment to increase test stability
  api/tests/common/test_commands.py
Due: lint_api, test_api, build_api_schema, build_api

feat: Implement upload groups
  api/config/urls/api_v2.py
  api/funkwhale_api/music/migrations/0058_uploadgroup.py
  api/funkwhale_api/music/models.py
  api/funkwhale_api/music/serializers.py
  api/funkwhale_api/music/views.py
  api/tests/music/test_urls.py
  api/tests/music/test_views.py
Due: lint_api, test_api, build_api_schema, build_api

feat: create router for UI v2
  front/src/App.vue
  front/src/router/index.ts
  front/src/router/routes/index.ts
  front/src/ui/components/CoverArt.vue
  front/src/ui/components/Sidebar.vue
  front/src/ui/components/UploadGroupList.vue
  front/src/ui/components/UploadList.vue
  front/src/ui/components/UploadModal.vue
  front/src/ui/components/VerticalCollapse.vue
  front/src/ui/composables/bytes.ts
  front/src/ui/composables/metadata.ts
  front/src/ui/pages/index.vue
  front/src/ui/pages/upload.vue
  front/src/ui/pages/upload/all.vue
  front/src/ui/pages/upload/index.vue
  front/src/ui/pages/upload/running.vue
  front/src/ui/routes/auth.ts
  front/src/ui/routes/content.ts
  front/src/ui/routes/index.ts
  front/src/ui/routes/library.ts
  front/src/ui/routes/manage.ts
  front/src/ui/routes/settings.ts
  front/src/ui/routes/ui.ts
  front/src/ui/routes/user.ts
  front/src/ui/stores/upload.ts
  front/src/ui/workers/file-metadata-parser.ts
Due: lint_front, test_front, build_front

wip: add v2 upload endpoint
  api/funkwhale_api/music/models.py
  api/funkwhale_api/music/serializers.py
  api/funkwhale_api/music/views.py
  api/tests/music/test_urls.py
  api/tests/music/test_views.py
Due: lint_api, test_api, build_api_schema, build_api

feat: Add createdAt and ownership to upload groups
  api/funkwhale_api/music/factories.py
  api/funkwhale_api/music/migrations/0063_auto_20240122_1358.py
  api/funkwhale_api/music/models.py
  api/funkwhale_api/music/serializers.py
  api/funkwhale_api/music/views.py
  api/tests/music/test_views.py
Due: lint_api, test_api, build_api_schema, build_api

feat: Assign upload groups to existing and news v1 uploads
  api/funkwhale_api/music/admin.py
  api/funkwhale_api/music/factories.py
  api/funkwhale_api/music/migrations/0059_upload_upload_group.py
  api/funkwhale_api/music/migrations/0060_auto_20240115_1055.py
  api/funkwhale_api/music/migrations/0061_alter_upload_upload_group.py
  api/funkwhale_api/music/models.py
  api/funkwhale_api/music/views.py
  api/tests/music/test_views.py
Due: lint_api, test_api, build_api_schema, build_api

feat: add upload groups
  front/src/router/routes/ui.ts
  front/src/ui/components/CoverArt.vue
  front/src/ui/components/Sidebar.vue
  front/src/ui/components/UploadList.vue
  front/src/ui/components/UploadModal.vue
  front/src/ui/components/VerticalCollapse.vue
  front/src/ui/composables/bytes.ts
  front/src/ui/layouts/constrained.vue
  front/src/ui/pages/index.vue
  front/src/ui/pages/upload.vue
  front/src/ui/pages/upload/all.vue
  front/src/ui/pages/upload/files.vue
  front/src/ui/pages/upload/history.vue
  front/src/ui/pages/upload/index.vue
  front/src/ui/pages/upload/running.vue
  front/src/ui/stores/upload.ts
  front/src/ui/workers/file-metadata-parser.ts
Due: lint_front, test_front, build_front

Add cli command to prune non mbid content from db (#2083)
  api/funkwhale_api/music/management/commands/prune_non_mbid_content.py
  api/tests/music/test_commands.py
  changes/changelog.d/2083.enhancement
Due: lint_api, test_api, build_api_schema, build_api

resolve migration error and add migration test
  api/funkwhale_api/music/migrations/0058_upload_quality.py
  api/tests/music/test_migrations.py
Due: lint_api, test_api, build_api_schema, build_api

add MbidTaggedContent to nodeinfo (#2284)
  api/funkwhale_api/instance/stats.py
Due: lint_api, test_api, build_api_schema, build_api

test
  api/tests/instance/test_nodeinfo.py
Due: lint_api, test_api, build_api_schema, build_api

mooved
  api/funkwhale_api/instance/serializers.py
  api/funkwhale_api/instance/stats.py
  api/tests/instance/test_nodeinfo.py
Due: lint_api, test_api, build_api_schema, build_api

moove to view
  api/funkwhale_api/instance/serializers.py
  api/funkwhale_api/instance/views.py
Due: lint_api, test_api, build_api_schema, build_api

updtae spec
  docs/specs/nodeinfo21/index.md
  docs/specs/nodeinfo21/schema.yml
Due: review_docs, build_api_schema, build_docs

feat(appimage): bundle media framework
  front/tauri/tauri.conf.json
Due: lint_front, test_front, build_front

ci(tauri): Enable verbose logs
  .gitlab-ci.yml
Due: none

tests
  api/funkwhale_api/instance/serializers.py
  api/funkwhale_api/instance/views.py
  docs/specs/nodeinfo21/index.md
  docs/specs/nodeinfo21/schema.yml
Due: review_docs, lint_api, test_api, build_api_schema, build_docs, build_api

lint
  docs/specs/nodeinfo21/schema.yml
Due: review_docs, build_api_schema, build_docs

breakpoint
  api/funkwhale_api/instance/views.py
Due: lint_api, test_api, build_api_schema, build_api

tests
  api/funkwhale_api/activity/utils.py
  api/funkwhale_api/contrib/listenbrainz/funkwhale_ready.py
  api/funkwhale_api/contrib/listenbrainz/funkwhale_startup.py
  api/funkwhale_api/contrib/listenbrainz/tasks.py
  api/funkwhale_api/favorites/factories.py
  api/tests/conftest.py
  api/tests/contrib/listenbrainz/test_listenbrainz.py
Due: lint_api, test_api, build_api_schema, build_api

lint
  api/funkwhale_api/contrib/listenbrainz/funkwhale_ready.py
Due: lint_api, test_api, build_api_schema, build_api

moove to feature
  api/funkwhale_api/instance/serializers.py
  api/funkwhale_api/instance/views.py
  api/tests/instance/test_nodeinfo.py
  docs/specs/nodeinfo21/index.md
  docs/specs/nodeinfo21/schema.yml
Due: review_docs, lint_api, test_api, build_api_schema, build_docs, build_api

feat(docs): update import spec
  changes/changelog.d/import-groups.doc
  docs/specs/upload-process/index.md
Due: review_docs, build_api_schema, build_docs

Update spec to use "upload-group"
  docs/specs/upload-process/index.md
Due: review_docs, build_api_schema, build_docs

feat(docs): add raw file upload endpoint information
  docs/specs/upload-process/index.md
Due: review_docs, build_api_schema, build_docs

feat(tauri): offload OAuth login flow to a separate window
  front/src/components/auth/LoginForm.vue
  front/src/store/auth.ts
  front/tauri/Cargo.lock
  front/tauri/Cargo.toml
  front/tauri/capabilities/migrated.json
  front/tauri/capabilities/oauth.json
  front/tauri/rust-toolchain.toml
  front/tauri/src/main.rs
  front/tauri/tauri.conf.json
Due: lint_front, test_front, build_front

Address feedback
  docs/specs/upload-process/index.md
Due: review_docs, build_api_schema, build_docs

pref
  api/funkwhale_api/instance/views.py
Due: lint_api, test_api, build_api_schema, build_api

Path conditions:
  review_docs: any of: docs/**/*
  lint_api: any of: api/**/*
  lint_front: any of: front/**/*
  test_scripts: any of: scripts/**/*
  test_api: any of: api/**/*
  test_front: any of: front/**/*
  build_api_schema: (any of: api/**/*) or (any of: docs/**/*)
  build_docs: any of: docs/**/*
  build_front: any of: front/**/*
  build_api: any of: api/**/*
