Repository mx2913/funkwhale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: review_docs, lint_api, lint_front, test_scripts, test_api, test_front, build_api_schema, build_docs, build_front, build_api

Path conditions:
  review_docs: any of: docs/**/*
  lint_api: any of: api/**/*
  lint_front: any of: front/**/*
  test_scripts: any of: scripts/**/*
  test_api: any of: api/**/*
  test_front: any of: front/**/*
  build_api_schema: (any of: api/**/*) or (any of: docs/**/*)
  build_docs: any of: docs/**/*
  build_front: any of: front/**/*
  build_api: any of: api/**/*

moove to feature
  api/funkwhale_api/instance/serializers.py
  api/funkwhale_api/instance/views.py
  api/tests/instance/test_nodeinfo.py
  docs/specs/nodeinfo21/index.md
  docs/specs/nodeinfo21/schema.yml
Due: review_docs, lint_api, test_api, build_api_schema, build_docs, build_api

mooved
  api/funkwhale_api/instance/serializers.py
  api/funkwhale_api/instance/stats.py
  api/tests/instance/test_nodeinfo.py
Due: lint_api, test_api, build_api_schema, build_api

updtae spec
  docs/specs/nodeinfo21/index.md
  docs/specs/nodeinfo21/schema.yml
Due: review_docs, build_api_schema, build_docs

lint
  docs/specs/nodeinfo21/schema.yml
Due: review_docs, build_api_schema, build_docs

add MbidTaggedContent to nodeinfo (#2284) NOCHANGELOG
  api/funkwhale_api/instance/views.py
  docs/specs/nodeinfo21/schema.yml
Due: review_docs, lint_api, test_api, build_api_schema, build_docs, build_api

feat(tauri): offload OAuth login flow to a separate window
  front/src/components/auth/LoginForm.vue
  front/src/store/auth.ts
  front/tauri/Cargo.lock
  front/tauri/Cargo.toml
  front/tauri/capabilities/migrated.json
  front/tauri/capabilities/oauth.json
  front/tauri/rust-toolchain.toml
  front/tauri/src/main.rs
  front/tauri/tauri.conf.json
Due: lint_front, test_front, build_front

feat(instance-chooser): add dark mode support
  front/src/assets/logo/logo-full-500-white.png
  front/src/views/ChooseInstance.vue
Due: lint_front, test_front, build_front

feat(instance-chooser): add dark mode support
  front/src/assets/logo/logo-full-500-white.png
  front/src/components/auth/LoginForm.vue
  front/src/views/ChooseInstance.vue
Due: lint_front, test_front, build_front

Remove deprecated flag for lychee
  .gitlab-ci.yml
Due: none

fix: fix most linting errors
  front/src/router/routes/ui.ts
  front/src/ui/components/UploadModal.vue
  front/src/ui/pages/index.vue
  front/src/ui/pages/upload.vue
  front/src/ui/routes/index.ts
  front/src/ui/routes/ui.ts
  front/src/ui/stores/upload.ts
  front/src/ui/workers/file-metadata-parser.ts
Due: lint_front, test_front, build_front

chore(front): update dependency lru-cache to v10
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front

refactor: adjust code for lru-cache v10
  front/src/composables/audio/queue.ts
  front/src/composables/audio/tracks.ts
  front/src/composables/data/useLRUCache.ts
Due: lint_front, test_front, build_front

test: add track cache tests and mock test server
  api/funkwhale_api/music/serializers.py
  front/package.json
  front/src/composables/useLogger.ts
  front/test/msw-server.ts
  front/test/setup/mock-lru-cache.ts
  front/test/setup/mock-server.ts
  front/test/specs/composables/audio/tracks.test.ts
  front/vite.config.ts
  front/yarn.lock
Due: lint_api, lint_front, test_api, test_front, build_api_schema, build_front, build_api

chore: add changelog snippets
  changes/changelog.d/2757.enhancement
  changes/changelog.d/2757.feature
  changes/changelog.d/2757.refactoring
Due: none

style: fix linting errors
  front/src/composables/useLogger.ts
  front/test/setup/mock-server.ts
  front/test/specs/composables/audio/tracks.test.ts
Due: lint_front, test_front, build_front

fix(tests): replace serialize_upload with UploadSerializer
  api/funkwhale_api/music/serializers.py
  api/tests/music/test_serializers.py
Due: lint_api, test_api, build_api_schema, build_api

fix(tests): fix coverage in node tests
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front

fix(ci): ignore `afterall` in codespell
  .codespellignore
  api/funkwhale_api/music/serializers.py
Due: lint_api, test_api, build_api_schema, build_api

fix(tests): don't wait arbitrary time
  front/package.json
  front/test/specs/composables/audio/tracks.test.ts
  front/test/specs/views/admin/library.test.ts
  front/test/utils.ts
  front/yarn.lock
Due: lint_front, test_front, build_front

ci: Report frontend test coverage to gitlab
  .gitlab-ci.yml
Due: none

feat: add a type hint
  api/funkwhale_api/music/serializers.py
Due: lint_api, test_api, build_api_schema, build_api

ci: Adjust coverage regex to also match int
  .gitlab-ci.yml
Due: none

chore(api): update dependency django to v3.2.24
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

chore(api): update dependency pyld to v2.0.4
  api/poetry.lock
  api/pyproject.toml
Due: lint_api, test_api, build_api_schema, build_api

fix: fix tauri checks
  front/package.json
  front/src/init/serviceWorker.ts
  front/src/store/instance.ts
Due: lint_front, test_front, build_front

fix: fix locale path
  front/src/locales/ar.json
  front/src/locales/bn_BD.json
  front/src/locales/ca.json
  front/src/locales/cs.json
  front/src/locales/de.json
  front/src/locales/el.json
  front/src/locales/en_GB.json
  front/src/locales/en_US.json
  front/src/locales/eo.json
  front/src/locales/es.json
  front/src/locales/eu.json
  front/src/locales/fa_IR.json
  front/src/locales/fr_FR.json
  front/src/locales/ga.json
  front/src/locales/gl.json
  front/src/locales/hu.json
  front/src/locales/id.json
  front/src/locales/it.json
  front/src/locales/ja_JP.json
  front/src/locales/kab_DZ.json
  front/src/locales/ko_KR.json
  front/src/locales/ml.json
  front/src/locales/nb_NO.json
  front/src/locales/nl.json
  front/src/locales/nn_NO.json
  front/src/locales/oc.json
  front/src/locales/pl.json
  front/src/locales/pt_BR.json
  front/src/locales/pt_PT.json
  front/src/locales/ru.json
  front/src/locales/sq.json
  front/src/locales/sv.json
  front/src/locales/tr.json
  front/src/locales/zh_Hans.json
  front/src/locales/zh_Hant.json
Due: lint_front, test_front, build_front

ci: Build tauri desktop app
  .gitlab-ci.yml
Due: none

style: fix linting
  front/src/App.vue
  front/tauri/favicon.svg
  front/tauri/tauri.conf.json
Due: lint_front, test_front, build_front

chore: add changelog snippet
  changes/changelog.d/tauri.feature
Due: none

feat: enable switch instance button in tauri builds
  front/src/components/Sidebar.vue
Due: lint_front, test_front, build_front

feat: add pre-commit to shellHook
  flake.nix
Due: none

fix: remove unused locale key
  front/src/locales/ar.json
  front/src/locales/bn_BD.json
  front/src/locales/ca.json
  front/src/locales/cs.json
  front/src/locales/de.json
  front/src/locales/el.json
  front/src/locales/en_GB.json
  front/src/locales/en_US.json
  front/src/locales/eo.json
  front/src/locales/es.json
  front/src/locales/eu.json
  front/src/locales/fr_FR.json
  front/src/locales/gl.json
  front/src/locales/it.json
  front/src/locales/ja_JP.json
  front/src/locales/kab_DZ.json
  front/src/locales/ml.json
  front/src/locales/nb_NO.json
  front/src/locales/nl.json
  front/src/locales/oc.json
  front/src/locales/pl.json
  front/src/locales/pt_BR.json
  front/src/locales/pt_PT.json
  front/src/locales/ru.json
  front/src/locales/sv.json
  front/src/locales/tr.json
  front/src/locales/zh_Hans.json
Due: lint_front, test_front, build_front

fix: fix some linting errors
  front/src/locales/fa_IR.json
  front/src/locales/ga.json
  front/src/locales/hu.json
  front/src/locales/id.json
  front/src/locales/ko_KR.json
  front/src/locales/nn_NO.json
  front/src/locales/sq.json
  front/src/locales/zh_Hant.json
  front/src/router/routes/index.ts
  front/src/views/ChooseInstance.vue
Due: lint_front, test_front, build_front

feat: update to tauri v2-beta.1
  front/package.json
  front/tauri/Cargo.lock
  front/tauri/Cargo.toml
  front/tauri/capabilities/migrated.json
  front/tauri/tauri.conf.json
  front/yarn.lock
Due: lint_front, test_front, build_front

ci: Install dependencies before building tauri
  .gitlab-ci.yml
Due: none

ci: Specify appimage path
  .gitlab-ci.yml
Due: none

ci: Add cargo bin to PATH
  .gitlab-ci.yml
Due: none

test: test if tauri env is recognized correctly
  front/package.json
  front/src/components/Sidebar.vue
  front/src/composables/tauri.ts
  front/src/store/instance.ts
  front/test/specs/composables/tauri.spec.ts
  front/test/specs/store/instance.spec.ts
  front/yarn.lock
Due: lint_front, test_front, build_front

test(front): Install required dependencies for coverage calculation
  front/package.json
  front/yarn.lock
Due: lint_front, test_front, build_front
